Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Add logging for hyperparameter tuning initiation
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor model packaging function to use transformers instead of preprocessing
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ARGO node configuration to utilize GPU for model folding
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix Jason's email
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Fix Jason's email (#1871)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Update ARGO node configuration to utilize GPU for matrix generation
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase concurrency for topological estimator to 64 for improved performance on n2d-standard-64 machines
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update topological estimator concurrency to 63 for n2d-standard-64 machine compatibility
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor (#1870)
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/constants.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/links.js
Owners: @everycure-org/core-maintainers

update reshuffling
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

xg synth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump the model to xgsynth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update management node pool machine type to n2-standard-16
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Update management node pool machine type to n2-standard-16 (#1873)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

attempting the fabricator section
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/test/document_kg/catalog.yml
  pipelines/matrix/conf/test/integration/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable asynchronous execution for Kedro runs in workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Updated uv.lock file
  uv.lock
Owners: @everycure-org/core-maintainers

Remove asynchronous flag from Kedro run commands in Argo workflow template for consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update apps/matrix-cli/src/matrix_cli/io/fabricator.py
  apps/matrix-cli/src/matrix_cli/io/fabricator.py
Owners: @everycure-org/core-maintainers

adding examples of using column exclusions
  apps/matrix-cli/README.md
Owners: @everycure-org/core-maintainers

remove unnecessary catalog, clean up another
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/test/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing extra comments
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Delete document_kg.ipynb
  pipelines/matrix/src/matrix/pipelines/document_kg/document_kg.ipynb
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Feat/update fabricator (#1807)
  apps/matrix-cli/README.md
  apps/matrix-cli/pyproject.toml
  apps/matrix-cli/src/matrix_cli/io/fabricator.py
  apps/matrix-cli/tests/__init__.py
  apps/matrix-cli/tests/test_fabricator.py
  libs/matrix-fabricator/src/matrix_fabricator/fabrication.py
  libs/matrix-fabricator/tests/test_fabrication.py
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

rename rows to releases in script to generate sql for release trends
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
Owners: @everycure-org/core-maintainers

remove unnecessary GOOGLE_CLOUD_PROJECT env usage
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
Owners: @everycure-org/core-maintainers

query nodes and links separately for knowledge source flow graph
  services/kg_dashboard/pages/Knowledge Sources/index.md
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
Owners: @everycure-org/core-maintainers

rename layout.js to layout-utils.js to avoid svelte conflict
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout.js
Owners: @everycure-org/core-maintainers

fail early if category order isn't set in the level config, rather than assuming it goes at the end
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
Owners: @everycure-org/core-maintainers

remove unnecessary hardcoded primary/aggregator/unified definitions
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
Owners: @everycure-org/core-maintainers

feat: add gpt4-mini and haiku models
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: add gpt4-mini and haiku models (#1874)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

whoops, forgot to git add layout-utils.js after renaming
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout-utils.js
Owners: @everycure-org/core-maintainers

Refactor get_sentinel_inputs to simplify comments and streamline master report retrieval
  pipelines/matrix/src/matrix/pipelines/sentinel/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

enable robokop
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

show full source names on edge tooltips in the knowledge source flow graph
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/utils.js
Owners: @everycure-org/core-maintainers

Enable robokop as part of T3 (#1875)
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
