Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

bump
  pipelines/core_entities/pyproject.toml
Owners: @everycure-org/core-maintainers

Revert run comparison parameters
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix disease labels
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_labels.py
Owners: @everycure-org/core-maintainers

Add github actions
  .github/workflows/core_entities_ci.yaml
  .github/workflows/core_entities_create_release_pr.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/matrix-ci.yml
  pipelines/core_entities/Makefile
  pipelines/core_entities/scripts/create_bq_table.py
Owners: @everycure-org/core-maintainers

bump
  .github/workflows/core_entities_ci.yaml
Owners: @everycure-org/core-maintainers

Commit some comment to replicate error first
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update working directory
  .github/workflows/core_entities_ci.yaml
  .github/workflows/core_entities_create_release_pr.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
Owners: @everycure-org/core-maintainers

Update paths
  .github/workflows/core_entities_ci.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
Owners: @everycure-org/core-maintainers

Ensure SparkSession is active before using GraphFrames
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add PAT again
  .github/workflows/core_entities_ci.yaml
Owners: @everycure-org/core-maintainers

bump
  .github/workflows/core_entities_ci.yaml
Owners: @everycure-org/core-maintainers

Add public data releases documentation page
  docs/src/releases/.pages
  docs/src/releases/public_data_releases.md
Owners: @everycure-org/code-reviewers

Fix GraphFrame SparkSession "Race Condition" in Parallel Kedro Execution (#2009)
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update matrix utils
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/github.py
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/utils/matrix_utils/google_datasets.py
  pipelines/matrix/src/matrix/datasets/github.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add new pipeline to manage hugginface hub uploads (#1967)
  .github/workflows/matrix-ci.yml
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/data_publication/README.md
  pipelines/matrix/src/matrix/pipelines/data_publication/__init__.py
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/core_entities/scripts/compare_releases.py
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Delete models
  pipelines/core_entities/src/core_entities/pipelines/drug_list/models.py
Owners: @everycure-org/core-maintainers

PDate readme
  README.md
Owners: @everycure-org/core-maintainers

Refactor drug list pipeline
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Bump disease category version and update disease list pipeline
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers

Add null counts to the release comparison
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Update resource configurations and add volume mounts in Argo workflow templates (#2002)
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add test settings for core entities run pipeline
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Bump to disease list
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Switch checkout and PAT
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Replace google cloud vars with matrix style
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Switch PAT action order
  .github/workflows/core_entities_create_release_pr.yaml
  .github/workflows/core_entitities_publish_release.yaml
Owners: @everycure-org/core-maintainers

Remove test suite
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

bump
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Bump
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Update core_entities_run_pipeline.yaml
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Update CI workflow paths and adjust concurrency filters
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

Update CI workflow paths and adjust concurrency filters (#2016)
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

Fix core entities Github actions (#2015)
  .github/workflows/core_entities_create_release_pr.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

Release v1.0.14 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.14-from-v1.0.10.md
Owners: @everycure-org/code-reviewers

Release v1.0.15 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.15-from-v1.0.10.md
Owners: @everycure-org/code-reviewers

Remove commits
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Remove commits (#2018)
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Release v1.2.9 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.9-from-v1.2.5.md
Owners: @everycure-org/code-reviewers

Release v1.0.15 notes for disease_list (#2017)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.15-from-v1.0.10.md
Owners: @everycure-org/code-reviewers
