Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: update memoization key to use kedro_nodes_cache_key for improved caching
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: add kedro_nodes_cache_key parameter for improved functionality
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key value for improved formatting
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key value for improved functionality
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key value to improve formatting
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor dynamic pipelines mapping for improved structure and clarity
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor model pipeline creation for dynamic handling of multiple models
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add multi-model support across inference, matrix generation, and transformations pipelines
  docs/src/pipeline/multi-model-configuration.md
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
  pipelines/matrix/src/matrix/pipelines/inference/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Test predefined time-split hardcode 2014 list
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Test predefined time-split hardcode 2014 list (fixed catalog for 2014 subset)
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Test predefined time-split hardcode 2010 list
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Test predefined time-split hardcode 2010 list (fix malformatted default.yml)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Test predefined time-split hardcode 2014 list (fix malformatted default.yml)
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add scripts for codemeta metadata conversion
  scripts/codemeta-citationcff.py
  scripts/codemeta-schemaorg.py
  scripts/codemeta.py
Owners: @everycure-org/core-maintainers

Add citation and metadata files for MATRIX platform
  CITATION.cff
  codemeta.json
  schemaorg.jsonld
Owners: @everycure-org/core-maintainers

Add workflow to update citation files
  .github/workflows/update-citation-files.yml
Owners: @everycure-org/core-maintainers

add shuffle
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/datasets/graph.py
  pipelines/matrix/src/matrix/datasets/pair_generator.py
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/transformers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/spark.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

change release path
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/embeddings/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: enhance Argo Workflows with memoization and caching support
  infra/argo/applications/workflows/values.yaml
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump memory
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

xg_synth_concat_embeddings
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add libs + update imports
  .vscode/settings.json
  libs/matrix-inject/pyproject.toml
  libs/matrix-inject/src/matrix_inject/__init__.py
  libs/matrix-inject/src/matrix_inject/inject.py
  libs/matrix-inject/test/__init__.py
  libs/matrix-inject/test/test_inject.py
  libs/matrix-pandera/pyproject.toml
  libs/matrix-pandera/src/matrix_pandera/__init__.py
  libs/matrix-pandera/src/matrix_pandera/validator.py
  libs/matrix-pandera/tests/__init__.py
  libs/matrix-pandera/tests/test_validator.py
  pipelines/matrix/src/matrix/datasets/neo4j.py
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
  pipelines/matrix/src/matrix/pipelines/create_sample/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/filtering/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/tagging.py
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

using explicit version
  apps/matrix-cli/pyproject.toml
Owners: @everycure-org/core-maintainers

using explicit version
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

removing empty line
  apps/matrix-cli/tests/test_primekg.py
Owners: @everycure-org/core-maintainers

fix: update workbench configuration by adding jonathan from ARPA-H and sync subproject commit
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

updates and docs
  docs/src/assets/img/branched_runs.drawio.svg
  docs/src/assets/img/from_catalog.drawio.svg
  docs/src/getting_started/deep_dive/walkthroughs/branching_from_another_run.md
  pipelines/matrix/src/matrix/cli_commands/run.py
  pipelines/matrix/src/matrix/session.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

fix: update workbench configuration by adding jonathan from ARPA-H and sync subproject commit (#1854)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

using matrix-io-utils as a shared lib
  apps/matrix-cli/Makefile
  apps/matrix-cli/pyproject.toml
  apps/matrix-cli/src/matrix_cli/io/primekg.py
Owners: @everycure-org/core-maintainers

initial commit
  libs/matrix-io-utils/tests/__init__.py
  libs/matrix-io-utils/tests/test_primekg.py
Owners: @everycure-org/core-maintainers

using specific version of polars-lts
  libs/matrix-io-utils/pyproject.toml
Owners: @everycure-org/core-maintainers

using specific version of polars-lts, adding matrix-cli
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

expecting a eager dataframe
  pipelines/matrix/src/matrix/pipelines/preprocessing/primekg_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing
  apps/matrix-cli/tests/__init__.py
  apps/matrix-cli/tests/test_primekg.py
Owners: @everycure-org/core-maintainers

adding apps
  pyproject.toml
Owners: @everycure-org/core-maintainers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
