Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford, @alexeistepa, @leelancashire, @oliverw1, @piotrkan, @emil-k

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for
# -------------------------------------------------------------------------------------------------
# See documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
# note that a more precise matching path will override the more general path. 

# catchall for everything not further specified below, owned by matrix engineering team 
* @lvijnck @pascalwhoop @JacquesVergine @amyford 
# docs are owned by the whole team
docs/ @alexeistepa @leelancashire @oliverw1 @lvijnck @pascalwhoop @piotrkan @JacquesVergine
# pipelines are owned by the core contributors to pipeline and modelling
pipelines/matrix/** @alexeistepa @lvijnck @piotrkan @JacquesVergine @amyford
# infra is owned by the platform team
infra/ @emil-k @oliverw1 @lvijnck @pascalwhoop @emil-k

adding chart into vars folder
  infra/argo/values_prod/Chart.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

adding chart into vars folder
  infra/argo/values_prod/Chart.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

refactor
  infra/argo/app-of-apps/templates/gateway.yaml
  infra/argo/app-of-apps/values.yaml
  infra/argo/values_prod/Chart.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

refactor
  infra/argo/app-of-apps/templates/gateway.yaml
  infra/argo/app-of-apps/values.yaml
  infra/argo/values_prod/Chart.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

MLFLOW_RUN_ID as string
  pipelines/matrix/src/matrix/hooks.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

replacements of vars in gateway
  infra/argo/applications_prodtest/gateway/templates/api_gateway.yaml
  infra/argo/applications_prodtest/gateway/templates/argo_cd_route.yaml
  infra/argo/applications_prodtest/gateway/templates/cluster_issuer.yaml
  infra/argo/applications_prodtest/gateway/templates/platform_gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

replacements of vars in gateway
  infra/argo/applications_prodtest/gateway/templates/api_gateway.yaml
  infra/argo/applications_prodtest/gateway/templates/argo_cd_route.yaml
  infra/argo/applications_prodtest/gateway/templates/cluster_issuer.yaml
  infra/argo/applications_prodtest/gateway/templates/platform_gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

braces change
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

braces change
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

set audience to client ID
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/utils/authentication.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

set audience to client ID
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/utils/authentication.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

set audience to client ID
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/utils/authentication.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

spec source
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

clean up
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/cli_commands/mtrx-hub-dev-3of-a120960572b6.json
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

clean up
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/cli_commands/mtrx-hub-dev-3of-a120960572b6.json
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

clean up
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/cli_commands/mtrx-hub-dev-3of-a120960572b6.json
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

skip git check
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

skip git check
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

skip git check
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

spec source - helm 2
  infra/argo/applications_prodtest/gateway/templates/platform_gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm 2
  infra/argo/applications_prodtest/gateway/templates/platform_gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm 3
  infra/argo/applications_prodtest/gateway/templates/cluster_issuer.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm 3
  infra/argo/applications_prodtest/gateway/templates/cluster_issuer.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm 4
  infra/argo/applications_prodtest/gateway/templates/api_gateway.yaml
  infra/argo/applications_prodtest/gateway/templates/argo_cd_route.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

spec source - helm 4
  infra/argo/applications_prodtest/gateway/templates/api_gateway.yaml
  infra/argo/applications_prodtest/gateway/templates/argo_cd_route.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

Fix bug where MLFLOW_RUN_ID=None (#1281)
  pipelines/matrix/src/matrix/hooks.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

Fix bug where MLFLOW_RUN_ID=None (#1281)
  pipelines/matrix/src/matrix/hooks.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

Fix bug where MLFLOW_RUN_ID=None (#1281)
  pipelines/matrix/src/matrix/hooks.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

replace all values by dummies
  infra/argo/app-of-apps/templates/gateway.yaml
  infra/argo/app-of-apps/values.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

replace all values by dummies
  infra/argo/app-of-apps/templates/gateway.yaml
  infra/argo/app-of-apps/values.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

fix bracket spaces
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

fix bracket spaces
  infra/argo/app-of-apps/templates/gateway.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

cleanup
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/utils/authentication.py
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford, @alexeistepa, @piotrkan

cleanup
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/utils/authentication.py
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford, @alexeistepa, @piotrkan

cleanup
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/utils/authentication.py
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford, @alexeistepa, @piotrkan

refactor
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

refactor
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford
