Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: improve clarity and remove redundancy in multi-model configuration documentation
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update output paths in evaluation pipeline and clarify comments for master reports
  docs/src/pipeline/multi-model-configuration.md
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/sentinel/pipeline.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

fix: improve clarity and remove redundancy in multi-model configuration documentation
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

add clarity around showing counts from selected sources vs the total across all sources, plus some layout tweaks for tooltips
  services/kg_dashboard/pages/Knowledge Sources/index.md
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

Create attribution.md
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

Update docs/src/pipeline/multi-model-configuration.md
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

Update docs/src/pipeline/multi-model-configuration.md
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

fix: comment out unused model configuration in dynamic pipelines mapping
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update generator parameter path in create_model_pipeline function
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: increase workflow size limits and enable node status offloading in controller config
  infra/argo/applications/workflows/values.yaml
Owners: @everycure-org/infra

fix: update dynamic pipelines mapping to replace xg_ensemble with xg_synth model configuration
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove workflow size limits and node status offloading configuration from controller
  infra/argo/applications/workflows/values.yaml
Owners: @everycure-org/infra

fix: remove redundant note about dynamic mapping and update dataset naming convention
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

fix: remove model configuration issues section for clarity and conciseness
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

fix: remove best practices section for clarity and conciseness
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

fix: remove single model datasets section for clarity and conciseness
  pipelines/matrix/conf/base/evaluation/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove single model version sections for clarity and conciseness
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Integrate PKS metadata and documentation generation
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/document_kg_utils.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding doc string
  pipelines/matrix/src/matrix/pipelines/preprocessing/primekg_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding doc string to build_edges
  pipelines/matrix/src/matrix/pipelines/preprocessing/primekg_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add notebook for Matrix KG primary sources report
  pipelines/matrix/src/matrix/pipelines/document_kg/document_kg.ipynb
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing matrix_cli
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update docs
  docs/src/assets/img/branched_runs.drawio.svg
  docs/src/assets/img/from_catalog.drawio.svg
  docs/src/getting_started/deep_dive/walkthroughs/branching_from_another_run.md
Owners: @everycure-org/code-reviewers

Add Graph Components section with category and predicate pages/link-outs (XDATA-173) (#1809)
  services/kg_dashboard/pages/Graph Components/Edge Predicate/[predicate].md
  services/kg_dashboard/pages/Graph Components/Edge Predicate/index.md
  services/kg_dashboard/pages/Graph Components/Node Category/[category].md
  services/kg_dashboard/pages/Graph Components/Node Category/index.md
  services/kg_dashboard/pages/Graph Components/Node Prefix/[prefix].md
  services/kg_dashboard/pages/Graph Components/Node Prefix/index.md
  services/kg_dashboard/pages/association_summary.md
Owners: @everycure-org/core-maintainers

Update services/kg_dashboard/pages/release_trends.md
  services/kg_dashboard/pages/release_trends.md
Owners: @everycure-org/core-maintainers

Update Google sheet dataset to use gspread
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove previous uses of the gsheet dataset
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

go with line charts, no markers
  services/kg_dashboard/pages/release_trends.md
Owners: @everycure-org/core-maintainers

Refactor document_kg pipeline
  pipelines/matrix/src/matrix/pipelines/document_kg/__init__.py
  pipelines/matrix/src/matrix/pipelines/document_kg/document_kg_utils.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update document_kg.ipynb
  pipelines/matrix/src/matrix/pipelines/document_kg/document_kg.ipynb
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add type annotations to PKS metadata functions
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Updated formating of catalog in document_kg pipeline
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update release workflow to handle new docs file
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

error for running from-env and from-run together
  pipelines/matrix/src/matrix/cli_commands/run.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add gspread version
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update google sheet to use gid instead of worksheet number
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  uv.lock
Owners: @everycure-org/core-maintainers

Remove google sheet related datasets
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update cross run
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluation.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
