Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

add ingestion pipe
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

add mvp ingestion
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

add edge cases for string cleaning
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

join svds on merged list
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

update params
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

simplify input decorator
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

update
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

update
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

change gsheet to prod list
  pipelines/core_entities/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers

simplify input
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

clean
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

add kedro catalog and int path
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/cloud/globals.yml
  pipelines/core_entities/conf/test/globals.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

add fuzzy matching to the pipeline
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

update
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

rename svd
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

update schema
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Change primary name of MONDO:0800195 to Allgrove syndrome
  .vscode/settings.json
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

add fuzzywuzzy
  pipelines/core_entities/pyproject.toml
Owners: @everycure-org/core-maintainers

Release v1.6.7 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.7-from-v1.6.3.md
Owners: @everycure-org/code-reviewers

Release v1.6.7 notes for drug_list (#2197)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.7-from-v1.6.3.md
Owners: @everycure-org/code-reviewers

update globals
  pipelines/core_entities/conf/llm_test/globals.yml
Owners: @everycure-org/core-maintainers

add indications publishing node
  pipelines/core_entities/conf/base/indications_list/catalog.yml
  pipelines/core_entities/conf/cloud/indications_list/catalog.yaml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/indications_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/indications_list/pipeline.py
Owners: @everycure-org/core-maintainers

clean
  pipelines/core_entities/conf/base/indications_list/catalog.yml
  pipelines/core_entities/conf/cloud/indications_list/catalog.yaml
Owners: @everycure-org/core-maintainers

clean uppercase apply
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

fix upper
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Add indications list to HF (#2198)
  pipelines/core_entities/conf/base/indications_list/catalog.yml
  pipelines/core_entities/conf/cloud/indications_list/catalog.yaml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/indications_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/indications_list/pipeline.py
Owners: @everycure-org/core-maintainers

fix patchnames
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

Feat/add svd (#2194)
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/cloud/globals.yml
  pipelines/core_entities/conf/llm_test/globals.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/conf/test/globals.yml
  pipelines/core_entities/data/test/01_raw/strategic-disease-list.tsv
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

Release v2.0.2 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.2-from-v2.0.0.md
Owners: @everycure-org/code-reviewers

Release v2.0.2 notes for disease_list (#2199)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.2-from-v2.0.0.md
Owners: @everycure-org/code-reviewers

fix: install Docker Compose V2 plugin in GitHub runner image (#2168)
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

fix: services/moa_visualizer/requirements.txt to reduce vulnerabilities (#2185)
  services/moa_visualizer/requirements.txt
Owners: @everycure-org/core-maintainers

Release v2.0.3 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.3-from-v2.0.2.md
Owners: @everycure-org/code-reviewers

Release v1.6.8 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.8-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

fix: update GitHub Actions Runner image to version 2.334.0
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

update params
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add ec dataset catalog for KE removal
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

hard-code the owner
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add ec datasets library
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update catalog with git name
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
