Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Bump uv lock
  uv.lock
Owners: @everycure-org/core-maintainers

update
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Delete pipelines/matrix/test_oxigraph.py
  pipelines/matrix/test_oxigraph.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Correct trails to trial
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix deprecated column type in MONDO obsoletes
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

trails to trials
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Merge on drug ec_id in evaluation pipeline (#1949)
  docs/src/getting_started/first_full_run/full_data_run.md
  libs/matrix-pandera/src/matrix_pandera/validator.py
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/clinical_trails.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/clinical_trials.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugbank_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/kgml_xdtd_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/off_label.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/preprocessing/test_name_resolution.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  uv.lock
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Refactor cloud build configuration to use dynamic GCP project and environment variables
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update GCP project name in Makefile for production environment
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix deprecated flag parsing in MONDO obsoletes
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Handle NaN values in count_descendants metric
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: update build_push_docker to handle environment-specific image pushes
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Dockerfile and pyproject.toml to include README and src directory for package build (#1948)
  pipelines/matrix/Dockerfile
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Improve CI runtime (#1958)
  .github/workflows/matrix-ci.yml
  pipelines/matrix/Makefile
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 647 allow fine tuned model in litellm (#1946)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Change claude to anthrophic in litellm (#1955)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Add catalog dataset (#1947)
  .vscode/settings.json
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/storage.py
  libs/matrix-gcp-datasets/tests/test_catalog.py
  libs/matrix-gcp-datasets/tests/test_storage.py
  uv.lock
Owners: @everycure-org/core-maintainers

Add metrics to run comparison pipeline (#1905)
  docs/src/assets/run_comparison/inheritance.drawio.svg
  docs/src/assets/run_comparison/input_dataframe.drawio.svg
  docs/src/assets/run_comparison/matrix_harminisation.drawio.svg
  docs/src/pipeline/data_science/AUROC_MQR_equivalence.md
  docs/src/pipeline/data_science/evaluation_deep_dive.md
  docs/src/pipeline/pipeline_steps/.pages
  docs/src/pipeline/pipeline_steps/evaluation.md
  docs/src/pipeline/pipeline_steps/run_comparison.md
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/sample/globals.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Fix drug and disease lists ingestion (#1942)
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 611 determine number of experimentsruns in last 3 months (#1963)
  infra/runbooks/mlflow-experiment-count-last-3-months.ipynb
Owners: @everycure-org/infra

Nelson/aip 566 add gemini models to litellm (#1951)
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
Owners: @everycure-org/infra

Fix Kedro experiment run safety checks (#1938)
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Improve Knowledge level and Agent type queries (#1928)
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/epistemic-robustness.md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/sources/bq/agent_type_distribution.sql
  services/kg_dashboard/sources/bq/agent_type_score.sql
  services/kg_dashboard/sources/bq/epistemic_heatmap.sql
  services/kg_dashboard/sources/bq/epistemic_score_by_knowledge_source.sql
  services/kg_dashboard/sources/bq/epistemic_scores.sql
  services/kg_dashboard/sources/bq/knowledge_level_distribution.sql
  services/kg_dashboard/sources/bq/knowledge_level_score.sql
Owners: @everycure-org/core-maintainers

Add key node pages to dashboard (#1887)
  .vscode/settings.json
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/Key Nodes/index.md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/colors.js
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
  services/kg_dashboard/sources/bq/key_nodes_category_summary.sql
  services/kg_dashboard/sources/bq/key_nodes_list.sql
  services/kg_dashboard/sources/bq/key_nodes_stats.sql
Owners: @everycure-org/core-maintainers

Nelson/aip 581 investigate caching issues with response api (#1941)
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/gcp_backend_policy.yaml
Owners: @everycure-org/infra

docs: add LiteLLM New Provider Guide and update usage documentation (#1964)
  .cursorrules
  .github/copilot-instructions.md
  docs/src/infrastructure/.pages
  docs/src/infrastructure/LiteLLM-New-Provider-Guide.md
  docs/src/infrastructure/LiteLLM-Usage.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove redundant logging.basicConfig calls (#1959)
  libs/matrix-fabricator/src/matrix_fabricator/fabrication.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Feat/add robokop preprocessing pipeline (#1904)
  apps/matrix-cli/README.md
  apps/matrix-cli/pyproject.toml
  apps/matrix-cli/src/matrix_cli/io/__init__.py
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  apps/matrix-cli/src/matrix_cli/io/robokop.py
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
  libs/matrix-io-utils/tests/test_robokop.py
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/src/matrix/datasets/polars.py
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding ABox TBox information to the Dashboard (#1930)
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/ontological-context.md
  services/kg_dashboard/sources/bq/abox_tbox_metric.sql
Owners: @everycure-org/core-maintainers

fixing HPO mappings (#1954)
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump kedro to 0.19.15 (#1940)
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run kedro tests with ThreadRunner in CI configuration (#1961)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/Makefile
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove shard from PandasBQDataset (#1939)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 616 rd make topological embeddings resilient to spot failures (#1957)
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove robokop
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding the legacy LLM tagging pipeline back into the disease list
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update docker_cloud_build substitutions to use TAG variable
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

doc: clarify build_push_docker function description to specify cloud image building
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Map matrix columns back to expected ones
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert previous changes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
