Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @matwasilewski, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire, @oliverw1, @emil-k, @siyan-luo

refactor modelling pipeline
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/src/matrix/datasets/pair_generator.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

bringing back integration test to the mlflow hooks
  pipelines/matrix/.env.defaults
  pipelines/matrix/compose/docker-compose.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

rename json file from 0.2.10 to 0.2.5
  docs/src/releases/changelog_files/v0.2.5_info.json
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

Upgrade the required java version 11 > 17 in the docs and in the docker image. (#903)
  docs/src/onboarding/installation.md
  pipelines/matrix/Dockerfile
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @lvijnck, @pascalwhoop

Upgrade the required java version 11 > 17 in the docs and in the docker image. (#903)
  docs/src/onboarding/installation.md
  pipelines/matrix/Dockerfile
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @lvijnck, @pascalwhoop

Upgrade the required java version 11 > 17 in the docs and in the docker image. (#903)
  docs/src/onboarding/installation.md
  pipelines/matrix/Dockerfile
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @lvijnck, @pascalwhoop

test docker build and push beforehead
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

test docker build and push beforehead
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/Makefile
Owners: @lvijnck, @matwasilewski, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

include dependencies setup
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

refactpr matrix generation and evaluation
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

clean up docker
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

clean up docker and pull first
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

maximize build space
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

cache pip dependencies
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

fix
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/clinical_trails.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/clinical_trails.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Add 1 git-crypt collaborator
  .git-crypt/keys/HUB/0/06154120609E2271E8D84370AD12E897EF226E3B.gpg
Owners: @lvijnck, @matwasilewski

rm
  .git-crypt/keys/HUB/0/06154120609E2271E8D84370AD12E897EF226E3B.gpg
Owners: @lvijnck, @matwasilewski

fix typo
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix typo
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Add 1 git-crypt collaborator
  .git-crypt/keys/HUB/0/06154120609E2271E8D84370AD12E897EF226E3B.gpg
Owners: @lvijnck, @matwasilewski

remove unnecessary tests
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/test_evaluation.py
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

use larger runner
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

ignore nulls
  pipelines/matrix/src/matrix/schemas/knowledge_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

ignore nulls
  pipelines/matrix/src/matrix/schemas/knowledge_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Update virtual environment onboarding documentation (#906)
  docs/src/onboarding/installation.md
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

Update virtual environment onboarding documentation (#906)
  docs/src/onboarding/installation.md
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

Update virtual environment onboarding documentation (#906)
  docs/src/onboarding/installation.md
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

check disk space
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

update
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/drugs.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/drugs.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix pandera
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Fix recorgnizes typo to recognizes
  docs/src/onboarding/kedro_extensions.md
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

add label to config file
  .github/actionlint.yaml
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

CODEOWNERS:

* @lvijnck @matwasilewski
pipelines/matrix @lvijnck @pascalwhoop @alexeistepa @piotrkan @leelancashire
docs @piotrkan @alexeistepa @leelancashire @oliverw1 @emil-k @siyan-luo
infra @lvijnck @pascalwhoop @oliverw1 @siyan-luo @emil-k
