Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Rename FDA drug list ingestion function and update corresponding pipeline input
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Refactor merge_drug_lists to simplify handling of is_fda_generic_drug column and improve drug filtering logic
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Change warning to error log for missing filter columns in filter_dataframe_by_columns
  pipelines/core_entities/src/core_entities/utils/curation_utils.py
Owners: @everycure-org/core-maintainers

Update Purple Book URL handling to include User-Agent and adjust month formatting
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/src/core_entities/resolvers.py
  pipelines/core_entities/tests/unit/test_resolvers.py
Owners: @everycure-org/core-maintainers

Remove offboarded users from IAM and workbench configurations
  infra/argo/applications/developer-iam/values.yaml
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Remove offboarded user cheng from workbench configurations
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Deprecate subcontractor groups in IAM and documentation
  docs/src/infrastructure/orchard_data_access.md
  infra/argo/applications/developer-iam/values.yaml
  infra/deployments/hub/prod/locals.tf
Owners: @everycure-org/code-reviewers, @everycure-org/infra

Remove IAM bindings for offboarded subcontractors from IAM configurations
  infra/deployments/hub/prod/iam.tf
  infra/deployments/hub/prod/locals.tf
Owners: @everycure-org/infra

Remove IAM bindings and service accounts for offboarded subcontractors
  infra/deployments/hub/dev/iam.tf
  infra/deployments/hub/dev/storage.tf
  infra/deployments/hub/prod/locals.tf
Owners: @everycure-org/infra

Release v1.1.12 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.12-from-v1.1.8.md
Owners: @everycure-org/code-reviewers

Release v1.3.4 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.3.4-from-v1.3.0.md
Owners: @everycure-org/code-reviewers

Nelson/hypgen 373 offboard subcontractors from internal ec systems (#2139)
  docs/src/infrastructure/orchard_data_access.md
  infra/argo/applications/developer-iam/values.yaml
  infra/deployments/hub/dev/iam.tf
  infra/deployments/hub/dev/storage.tf
  infra/deployments/hub/prod/iam.tf
  infra/deployments/hub/prod/locals.tf
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/code-reviewers, @everycure-org/infra

Add Connected Components dashboard pages (XDATA-280) (#2127)
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/pages/Metrics/connected-components/[component_id].md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/pages/Metrics/ontological-context.md
  services/kg_dashboard/pages/_lib/colors.js
  services/kg_dashboard/sources/bq/component_edges.sql
  services/kg_dashboard/sources/bq/component_nodes.sql
  services/kg_dashboard/sources/bq/connected_components.sql
  services/kg_dashboard/sources/bq/connected_components_detail.sql
  services/kg_dashboard/sources/bq/core_connectivity_summary.sql
  services/kg_dashboard/sources/bq/lcc_composition.sql
  services/kg_dashboard/sources/bq/minor_component_sources.sql
  services/kg_dashboard/sources/bq/node_metrics.sql
Owners: @everycure-org/core-maintainers

Update disease_name_patch.tsv (#2133)
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Refactor reference flag handling to use boolean values instead of strings
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drugs.py
  pipelines/core_entities/src/core_entities/utils/python_utils.py
  pipelines/core_entities/tests/unit/test_python_utils.py
Owners: @everycure-org/core-maintainers

Remove redundant initialization of OTC monograph fields in resolve_fda_drugs_that_are_otc_monograph function
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Refactor FDA drug utility functions to streamline application number checks and improve substring matching logic
  pipelines/core_entities/src/core_entities/utils/fda_drugs_utils.py
Owners: @everycure-org/core-maintainers

Enhance combo expression validation to ensure genuine combinations by checking for identical components
  pipelines/core_entities/src/core_entities/utils/fda_drugs_utils.py
Owners: @everycure-org/core-maintainers

Release v1.1.13 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.13-from-v1.1.8.md
Owners: @everycure-org/code-reviewers

Add ingestion and normalization for FDA Purple Book data; enhance related utilities and tests. Moved normalisation to ingestion nodes.
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drugs.py
  pipelines/core_entities/src/core_entities/datasets/json_zip_dataset.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/core_entities/src/core_entities/utils/fda_drugs_utils.py
  pipelines/core_entities/src/core_entities/utils/python_utils.py
  pipelines/core_entities/tests/unit/test_fda_utils.py
  pipelines/core_entities/tests/unit/test_python_utils.py
Owners: @everycure-org/core-maintainers

Release v1.1.13 notes for disease_list (#2145)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.13-from-v1.1.8.md
Owners: @everycure-org/code-reviewers

Improve error handling in FDA drug matching functions by raising ValueErrors for empty inputs
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Raise ValueError for missing BLA Number/BLA Type columns in FDA Purple Book data ingestion
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Update IAM group references from matrix-all to techteam for access control
  docs/src/infrastructure/iap.md
  docs/src/infrastructure/kubernetes_cluster.md
  infra/argo/applications/developer-iam/values.yaml
  infra/deployments/hub/dev/iam.tf
  infra/deployments/hub/dev/storage.tf
  infra/deployments/wg2/iam.tf
Owners: @everycure-org/code-reviewers, @everycure-org/infra

Update IAM group references from matrix-all to techteam for access control (#2147)
  docs/src/infrastructure/iap.md
  docs/src/infrastructure/kubernetes_cluster.md
  infra/argo/applications/developer-iam/values.yaml
  infra/deployments/hub/dev/iam.tf
  infra/deployments/hub/dev/storage.tf
  infra/deployments/wg2/iam.tf
Owners: @everycure-org/code-reviewers, @everycure-org/infra

Release v1.4.0 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.4.0-from-v1.3.0.md
Owners: @everycure-org/code-reviewers

Add disease to patch
  .vscode/settings.json
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Release v1.5.0 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.5.0-from-v1.3.0.md
Owners: @everycure-org/code-reviewers

Release v1.5.0 notes for drug_list (#2154)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.5.0-from-v1.3.0.md
Owners: @everycure-org/code-reviewers

Add disease to patch (#2153)
  .vscode/settings.json
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Release v1.6.0 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.0-from-v1.5.0.md
Owners: @everycure-org/code-reviewers

Release v1.6.0 notes for drug_list (#2155)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.0-from-v1.5.0.md
Owners: @everycure-org/code-reviewers

Remove missing columns statement from RTX transformer
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.14 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.14-from-v1.1.13.md
Owners: @everycure-org/code-reviewers

Release v1.6.1 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.1-from-v1.6.0.md
Owners: @everycure-org/code-reviewers

Remove missing columns statement from RTX transformer (#2156)
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.15.12_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Build(deps): Update Python version requirement to 3.14 in uv.lock and adjust VSCode settings for suggestion behavior
  .vscode/settings.json
  uv.lock
Owners: @everycure-org/core-maintainers

Upgraded multiple lib version
  apps/matrix-cli/pyproject.toml
  docs/pyproject.toml
  libs/matrix-auth/pyproject.toml
  libs/matrix-fabricator/pyproject.toml
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-inject/pyproject.toml
  libs/matrix-mlflow-utils/pyproject.toml
  libs/matrix-pandera/pyproject.toml
  libs/matrix-validator/pyproject.toml
  pipelines/core_entities/pyproject.toml
  pipelines/matrix/pyproject.toml
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
