Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

disable check
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.3.0 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.3.0-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Release v1.3.0 notes for drug_list (#2116)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.3.0-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Add relevancy scores to Knowledge Source pages (XDATA-178) (#2100)
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Knowledge Sources/index.md
  services/kg_dashboard/sources/bq/pks_metadata.sql
Owners: @everycure-org/core-maintainers

Add columns to unioned_edges
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

attempt
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/test_argo.py
  pipelines/matrix/tests/test_kedro4argo_node.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.15.6_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Release v1.1.9 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.9-from-v1.1.8.md
Owners: @everycure-org/code-reviewers

rename slim_df
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove unique checks
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

turn off deduplicate filter by default
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add FDA drug list ingestion and dataset support
  .vscode/settings.json
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/src/core_entities/datasets/json_zip_dataset.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Remove input validation schema from ingest_fda_drug_list function
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

fix tests
  pipelines/matrix/conf/base/argo.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix tests
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update parameters.yml
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix tests
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix tests
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

use template
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add run entry point
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove lossy edge deduplication from integration pipeline (#2106)
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

hack integration catalog
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add Connected Components dashboard pages (XDATA-280)
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/pages/Metrics/ontological-context.md
  services/kg_dashboard/sources/bq/connected_components.sql
  services/kg_dashboard/sources/bq/connected_components_minor.sql
  services/kg_dashboard/sources/bq/core_connectivity_summary.sql
  services/kg_dashboard/sources/bq/node_metrics.sql
Owners: @everycure-org/core-maintainers

Release v1.1.10 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.10-from-v1.1.8.md
Owners: @everycure-org/code-reviewers

Release v1.3.1 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.3.1-from-v1.3.0.md
Owners: @everycure-org/code-reviewers

Update disease_name_patch.tsv
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Update disease_name_patch.tsv (#2131)
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

split LCC composition description between core and non-core, so that we can see something about the distribution of categories outside of the core
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/pages/Metrics/index.md
Owners: @everycure-org/core-maintainers

fixed hover text layout
  services/kg_dashboard/pages/Metrics/connected-components.md
Owners: @everycure-org/core-maintainers

Add minor component detail pages with drilldown into nodes and edges
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/pages/Metrics/connected-components/[component_id].md
  services/kg_dashboard/sources/bq/component_edges.sql
  services/kg_dashboard/sources/bq/component_nodes.sql
  services/kg_dashboard/sources/bq/connected_components_detail.sql
Owners: @everycure-org/core-maintainers

Add knowledge source breakdown for minor components
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/sources/bq/minor_component_sources.sql
Owners: @everycure-org/core-maintainers

Add missing lcc_composition.sql source for LCC composition charts
  services/kg_dashboard/sources/bq/lcc_composition.sql
Owners: @everycure-org/core-maintainers

Remove unused connected_components_minor.sql source
  services/kg_dashboard/sources/bq/connected_components_minor.sql
Owners: @everycure-org/core-maintainers

Extract shared color constants and getCategoryColor to _lib/colors.js
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/pages/Metrics/connected-components/[component_id].md
  services/kg_dashboard/pages/_lib/colors.js
Owners: @everycure-org/core-maintainers

updating transformers for has_confidence_score
  pipelines/matrix/src/matrix/pipelines/integration/transformers/embiology.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add extraction_confidence_score for TMKP
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/embiology.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add affinity parameter data
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/embiology.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update num_references to be counted for all edges with references
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update num_references logic
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
