Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford, @alexeistepa, @leelancashire, @oliverw1, @piotrkan, @emil-k

refactor
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

test run
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

test run
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

test run
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @pascalwhoop, @JacquesVergine, @amyford

update
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

update
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

update params
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

update params
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

add value for server
  infra/argo/app-of-apps/values.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

add value for server
  infra/argo/app-of-apps/values.yaml
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

bump params
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

bump params
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for
# -------------------------------------------------------------------------------------------------
# See documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
# note that a more precise matching path will override the more general path. 

# catchall for everything not further specified below, owned by matrix engineering team 
* @lvijnck @pascalwhoop @JacquesVergine @amyford 
# docs are owned by the whole team
docs/ @alexeistepa @leelancashire @oliverw1 @lvijnck @pascalwhoop @piotrkan @JacquesVergine
# pipelines are owned by the core contributors to pipeline and modelling
pipelines/matrix/** @alexeistepa @lvijnck @piotrkan @JacquesVergine @amyford
# infra is owned by the platform team
infra/ @emil-k @oliverw1 @lvijnck @pascalwhoop @emil-k
