Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Surface atc_name and atc_synonym, and add error logs on WHOCC (#2059)
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_llm_tags/drug_atc_codes.py
Owners: @everycure-org/core-maintainers

extend to allow multiple uri types (#2029)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Add disease_txgnn to workflow entity options
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

wip disease specific recall@n
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

tidy up
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Rename category_class to id in txgnn input
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Add txgnn feature back (#2052)
  .github/workflows/core_entities_run_pipeline.yaml
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/conf/base/disease_llm_tags/parameters.yaml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/data/test/01_raw/disease-txgnn.tsv
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_txgnn.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Fix txgnn test file column name
  pipelines/core_entities/data/test/01_raw/disease-txgnn.tsv
  uv.lock
Owners: @everycure-org/core-maintainers

uncomment other metrics
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

also uncomment in settings
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

recomment
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Merge the mondo processing with the core entities disease list (#2040)
  .github/workflows/core_entities_run_pipeline.yaml
  README.md
  docs/src/pipeline/data/drug_disease_lists.md
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/conf/base/disease_llm_tags/parameters.yaml
  pipelines/core_entities/conf/base/disease_mondo/catalog.yml
  pipelines/core_entities/conf/base/disease_mondo/parameters.yml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/conf/test/disease_mondo/catalog.yml
  pipelines/core_entities/data/test/01_raw/curated-disease-list.tsv
  pipelines/core_entities/data/test/01_raw/disease-txgnn.tsv
  pipelines/core_entities/data/test/01_raw/disease_mondo/icd10-test.xlsx
  pipelines/core_entities/data/test/01_raw/disease_mondo/mondo-sssom-test.tsv
  pipelines/core_entities/data/test/01_raw/disease_mondo/mondo-test.owl
  pipelines/core_entities/data/test/01_raw/disease_mondo/obsoletion-candidates-test.tsv
  pipelines/core_entities/data/test/01_raw/orchard-reviews.tsv
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/datasets/__init__.py
  pipelines/core_entities/src/core_entities/datasets/rdf.py
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_txgnn.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/README.md
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/queries.py
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ROBOKOP license link in documentation page
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Update ROBOKOP license link in documentation page (#2061)
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.13.10_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Pull new disease category file
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Pull new disease category file (#2063)
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

clean params based on exp output
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.0 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.0-from-v1.0.18.md
Owners: @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.0 notes for disease_list (#2064)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.0-from-v1.0.18.md
Owners: @everycure-org/code-reviewers

revert
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update test with new col
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update test
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add source-based filters
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update tests
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

baseline using xg_synth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

swap filter features
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix ci
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix inconsistent colors for recognized/unrecognized edges (#2051)
  services/kg_dashboard/pages/Metrics/edge-type-validation.md
Owners: @everycure-org/core-maintainers

baseline using xg_base
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.1 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.1-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

Release v1.2.17 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.17-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.15.0_info.json
Owners: @everycure-org/code-reviewers

added AI-generated release article for v0.15.0
  docs/src/releases/posts/v0.15.0/post.md
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

add fold specific recall@n
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove dd for all
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
