Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

updating
  uv.lock
Owners: @everycure-org/core-maintainers

fix import
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

commit release trends in a mixed state, using a few different chart types, we'll eventually pick one
  services/kg_dashboard/pages/release_trends.md
Owners: @everycure-org/core-maintainers

Update services/kg_dashboard/pages/Graph Components/Edge Predicate/[predicate].md
  services/kg_dashboard/pages/Graph Components/Edge Predicate/[predicate].md
Owners: @everycure-org/core-maintainers

refactor to share sortDataBySeriesOrder from colors.js on all graph component pages
  services/kg_dashboard/pages/Graph Components/Edge Predicate/[predicate].md
  services/kg_dashboard/pages/Graph Components/Node Category/[category].md
  services/kg_dashboard/pages/Graph Components/Node Prefix/[prefix].md
Owners: @everycure-org/core-maintainers

Remove unnecessary zero checks and unnecessary 1-wide grid
  services/kg_dashboard/pages/Graph Components/Edge Predicate/[predicate].md
Owners: @everycure-org/core-maintainers

restore vscode settings back to main
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

remove unused edge_stats query, add explanatory text between DimensionGrid and DataTable to add some space and make the use more clear
  services/kg_dashboard/pages/association_summary.md
Owners: @everycure-org/core-maintainers

make vscode setings match main
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

added release info json
  docs/src/releases/changelog_files/v0.10.2_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Reduce aggregator spacing on the Y axis
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

Improve aggregator y positioning, added lots of debug for x positioning and moved tooltips to the right for primary to help when labels run off of the screen to the left
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

fix import
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add to ci
  .github/workflows/libs-ci.yml
Owners: @everycure-org/core-maintainers

add pandas
  libs/matrix-pandera/pyproject.toml
Owners: @everycure-org/core-maintainers

fix tests inject
  libs/matrix-inject/pyproject.toml
  libs/matrix-inject/tests/__init__.py
  libs/matrix-inject/tests/conftest.py
  libs/matrix-inject/tests/test_inject.py
  uv.lock
Owners: @everycure-org/core-maintainers

fix tests
  libs/matrix-pandera/pyproject.toml
  libs/matrix-pandera/tests/conftest.py
  uv.lock
Owners: @everycure-org/core-maintainers

Fix tests
  pipelines/matrix/tests/cli_commands/test_experiment.py
  pipelines/matrix/tests/cli_commands/test_run.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update .vscode/settings.json
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

Setup validator and inject libs for re-use across repositories (#1853)
  .github/workflows/libs-ci.yml
  libs/matrix-inject/pyproject.toml
  libs/matrix-inject/src/matrix_inject/__init__.py
  libs/matrix-inject/src/matrix_inject/inject.py
  libs/matrix-inject/tests/__init__.py
  libs/matrix-inject/tests/conftest.py
  libs/matrix-inject/tests/test_inject.py
  libs/matrix-pandera/pyproject.toml
  libs/matrix-pandera/src/matrix_pandera/__init__.py
  libs/matrix-pandera/src/matrix_pandera/validator.py
  libs/matrix-pandera/tests/__init__.py
  libs/matrix-pandera/tests/conftest.py
  libs/matrix-pandera/tests/test_validator.py
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/datasets/neo4j.py
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
  pipelines/matrix/src/matrix/pipelines/create_sample/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/filtering/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/tagging.py
  pipelines/matrix/tests/pipelines/test_modelling.py
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

use new import
  libs/matrix-pandera/src/matrix_pandera/validator.py
Owners: @everycure-org/core-maintainers

Update import path for Pandera (#1856)
  libs/matrix-pandera/src/matrix_pandera/validator.py
Owners: @everycure-org/core-maintainers

feat: add LightGBM model configuration with tuning parameters and overrides
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add early stopping callback to LightGBM model tuning parameters
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: add condition to handle pod rejection in retry strategy
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement code changes to enhance functionality and improve performance
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/settings.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM dependency to use platform-specific installation
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: remove early stopping callback from LightGBM model tuning parameters
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM model configuration to use GPU and set default parameters
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM model configuration to reduce num_shards from 3 to 1
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key in Argo workflow to include run name for better cache management
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM configuration to include early stopping and adjust Argo workflow to run Kedro asynchronously
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM configuration to comment out objective and add memoization key in Argo workflow
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM model configuration to use CUDA and comment out objective
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update resolution markers and dependencies for platform-specific installations
  uv.lock
Owners: @everycure-org/core-maintainers

fix: add cache configuration for memoization in Argo workflow
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key in Argo workflow to use kedro_nodes_cache_key
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key in Argo workflow to use mlflow_run_id
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key in Argo workflow for consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
