Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Modify outputs from connectivity metrics pipeline
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.4 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.4-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

Release v1.2.21 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.21-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Update litellm targetRevision and image tag to v1.81.12-stable
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

clean up
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move the HF pipeline into the kedro cloud space (from base)
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/core_entitities_publish_release_hf.yaml
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
Owners: @everycure-org/core-maintainers

Add Git tag support to HFIterableDataset for version-coupled releases (#2080)
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/core_entitities_publish_release_hf.yaml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
Owners: @everycure-org/core-maintainers

Rephrase hugging face disease list docs
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

Add approximate number of diseases in disease list release
  docs/src/releases/public_data_releases.md
Owners: @everycure-org/code-reviewers

Publish EC drug and disease lists to HuggingFace Hub (#XDATA-282) (#2073)
  .github/workflows/core_entitities_publish_release.yaml
  docs/src/pipeline/data/drug_disease_lists.md
  docs/src/pipeline/data/ec_drug_list.md
  docs/src/releases/public_data_releases.md
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_publication/README.md
  pipelines/matrix/tests/pipelines/test_data_publication.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml (#2088)
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove litellm HTTPRoute and HealthCheckPolicy configurations from route.yaml
  infra/argo/applications/litellm-gateway/templates/route.yaml
Owners: @everycure-org/infra

Update litellm targetRevision and image tag to v1.81.12-stable (#2087)
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/route.yaml
Owners: @everycure-org/infra

Publish EC drug and disease lists to HuggingFace Hub (#XDATA-282) (#2073)
  .github/workflows/core_entitities_publish_release.yaml
  docs/src/pipeline/data/drug_disease_lists.md
  docs/src/pipeline/data/ec_drug_list.md
  docs/src/releases/public_data_releases.md
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_publication/README.md
  pipelines/matrix/tests/pipelines/test_data_publication.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml (#2088)
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update litellm targetRevision and image tag to v1.81.12-stable (#2087)
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/route.yaml
Owners: @everycure-org/infra

Implement Ontology inclusion metric
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor the data publication pipeline for KG to the cloud pipeline
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/conf/cloud/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml
  pipelines/matrix/conf/base/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Delete catalog.yml
  pipelines/matrix/conf/base/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix docker test crash: use rustworkx instead of graphframes in test env
  pipelines/matrix/conf/test/integration/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use an updated graphframes package as suggested by Nelson
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/conf/test/integration/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix docker test crash: use rustworkx instead of graphframes in test env (#2092)
  pipelines/matrix/conf/base/spark.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add permissions for matrix-subcontractors to impersonate and create tokens for Cloud Build service account
  infra/modules/components/cloudbuild/sa.tf
Owners: @everycure-org/infra

Fix primeKG integration and subset. Add post2014 time-splitter
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.5 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.5-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

publish scores to hf code
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
  pipelines/matrix/tests/pipelines/test_data_publication.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.6 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.6-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

feat(kg-dashboard): add BQ source for PKS relevancy scores (XDATA-178)
  services/kg_dashboard/sources/bq/relevancy_scores.sql
Owners: @everycure-org/core-maintainers

feat(kg-dashboard): add relevancy assessment section to KS detail pages (XDATA-178)
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
Owners: @everycure-org/core-maintainers

feat(kg-dashboard): add relevancy column to KS index table (XDATA-178)
  services/kg_dashboard/pages/Knowledge Sources/index.md
Owners: @everycure-org/core-maintainers

Release v1.1.6 notes for disease_list (#2098)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.6-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

Add full comparison of deleted
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Show all newly obsolete diseases in report (#2099)
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Refactor the data publication pipeline for KG to the cloud pipeline (#2091)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/matrix/conf/cloud/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix(kg-dashboard): add infores: prefix to relevancy scores IDs and bump release version (XDATA-178)
  services/kg_dashboard/Makefile
  services/kg_dashboard/sources/bq/relevancy_scores.sql
Owners: @everycure-org/core-maintainers

feat(kg-dashboard): render reviewer ORCID as clickable CURIE link (XDATA-178)
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
Owners: @everycure-org/core-maintainers

Release v1.1.7 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.7-from-v1.1.6.md
Owners: @everycure-org/code-reviewers
