Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove redundant logging.basicConfig calls (#1959)
  libs/matrix-fabricator/src/matrix_fabricator/fabrication.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Follow Piotr's widsom
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/kgml_xdtd_ground_truth.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Minor fixes
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_ground_truth.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Show changes
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

move connectivity calculation to its own module
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert to deterministic sorting of example edges
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
Owners: @everycure-org/core-maintainers

Move validation pipeline to panderas decorators
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor the ingestion nodes
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove validation function (now redundant)
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove unused _normalize_boolean_columns function
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Simplify PyOxiGraph dataset implementation
  pipelines/matrix/src/matrix/datasets/rdf.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Factor some parameters out back into code
  pipelines/matrix/conf/base/disease_list/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Rename icd10cm billable file in catalog
  pipelines/matrix/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove Mondo preprocessed from the outputs
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add basic documentation for disease list pipeline
  pipelines/matrix/src/matrix/pipelines/disease_list/README.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change claude to anthrophic in litellm (#1955)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

attempt set in makefile
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Improve CI runtime (#1958)
  .github/workflows/matrix-ci.yml
  pipelines/matrix/Makefile
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run kedro tests with ThreadRunner in CI configuration
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance thread safety in LazySparkDataset and update test command to use ThreadRunner
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change test runner from ThreadRunner to ParallelRunner in docker test command
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change test runner from ParallelRunner to ThreadRunner in docker test command
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Redis application configuration to include storage specifications
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

Fix formatting in redis.yaml to ensure proper newline at end of file
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

Add redisConfig settings to disable persistence in redis.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

Refactor redis.yaml to consolidate redisConfig under externalConfig for improved clarity
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

Update redis.yaml to enable RDB snapshots and AOF persistence for improved data durability
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

Join generated pairs with known pairs on EC_id
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add Redis AOF Corruption Recovery Runbook for troubleshooting and recovery procedures
  infra/runbooks/redis-aof-corruption-recovery.md
Owners: @everycure-org/infra

Fix formatting issues in Redis AOF Corruption Recovery Runbook for improved readability
  infra/runbooks/redis-aof-corruption-recovery.md
Owners: @everycure-org/infra

Remove RDB snapshot settings from redis.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

Remove commented-out build configuration for matrix-pipeline in docker-compose.ci.yml
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor dynamic pipeline configuration to use environment variables for cross-validation folds and shard count
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update project settings documentation for clarity
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run kedro tests with ThreadRunner in CI configuration (#1961)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/Makefile
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update key node graph node and label colors for better visibility
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/colors.js
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
Owners: @everycure-org/core-maintainers

update nodes.py and pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

applying suggestion from @JacquesVergine
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing inputs
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
