Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Revert previous changes (#1966)
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Register data_publication pipeline
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Create a new pipeline data_publication, for publishing HF datasets
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/conf/base/data_publication/parameters.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/__init__.py
  pipelines/matrix/src/matrix/pipelines/data_publication/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update OpenAI key reference and set target revision for Helm release
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
Owners: @everycure-org/infra

feat: enhance PostgreSQL pooler parameters for improved performance
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

Rename GT edges' subject_ec_id to source_ec_id
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update test and function to use pyspark
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update sampling catalog to go public
  pipelines/matrix/conf/sample/globals.yml
  pipelines/matrix/conf/sample/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix typo
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add missing key node dashboard pieces for key node source querying and viz
  services/kg_dashboard/pages/_components/KeyNodeSourceFilters.svelte
  services/kg_dashboard/sources/bq/key_nodes_source_breakdown.sql
Owners: @everycure-org/core-maintainers

feat: docker cloud build for matrix image (#1822)
  .gcloudignore
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix EC clinical trial ingestion file to parquet
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix EC clinical trial ingestion file to parquet (#1972)
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

create pipeline skeleton
  pipelines/matrix/conf/base/parameters_known_entity_removal.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/__init__.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/tests/pipelines/known_entity_removal/__init__.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update drug list docs
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Remove deprecated disease_list.raw.mondo_owl entry
  pipelines/matrix/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix EC clinical trial ingestion file to parquet (#1972)
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: docker cloud build for matrix image (#1822)
  .gcloudignore
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove 'credentials' field from HuggingFace dataset configs
  pipelines/matrix/conf/base/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ec_drug_list.md
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Update drug list docs (#1974)
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove KG and pandas dataset now that we've movzd to spark
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add concat datasets node
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/base/parameters_known_entity_removal.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/todo_delete.ipynb
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

WIP - Bump versions and start to fix Kedro v1.0.0 transition
  libs/matrix-mlflow-utils/pyproject.toml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/cli_commands/run.py
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
  pipelines/matrix/src/matrix/pipelines/create_sample/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/src/matrix/pipelines/inference/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingest_to_N4J/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
  pipelines/matrix/src/matrix/pipelines/sentinel/pipeline.py
  pipelines/matrix/src/matrix/session.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor flag adding in functions
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

make variable for counts
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update comment in parameters.yml
  pipelines/matrix/conf/base/integration/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.13.0_info.json
Owners: @everycure-org/code-reviewers

added AI-generated release article for v0.13.0
  docs/src/releases/posts/v0.13.0/post.md
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Fix off label bug
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix source and target regexp to only include "source_" + number columns
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
  pipelines/matrix/conf/base/modelling/parameters/rf.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_baseline.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_synth.yml
  pipelines/matrix/conf/sample/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/test/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/test/modelling/parameters/xg_synth.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nest disease list parameters under 'disease_list' key
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run ruff on the code to format correctly
  pipelines/matrix/src/matrix/datasets/rdf.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Losen constraints on dirty incoming llm dataset
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add mondo expansion and flag creation
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/test/known_entity_removal/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/mondo_ontology.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/todo_delete.ipynb
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add known etity pipleine to test pipeline registry
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
