Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: ensure newline at end of file in catalog.yml for consistency
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update matrix pipeline import to use single model pipeline for clarity
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding polars-lts-cpu
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

moving function
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing strict
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

removing
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor make_predictions_and_sort to support multiple models and update pipeline accordingly
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model name retrieval to use dynamic pipelines mapping for consistency
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor model name retrieval to use list comprehension for clarity and consistency
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model name retrieval to use 'model_name' for consistency in pipeline
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor inputs for make_predictions_and_sort to use a dictionary for clarity and consistency
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor make_predictions_and_sort to accept variable arguments for improved flexibility and simplify input handling
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update DYNAMIC_PIPELINES_MAPPING to include num_shards for consistency in pipeline configuration
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove unused model_config variable in create_multi_model_pipeline for clarity
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

using specific polars version
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

fixing generate_unique_id args
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

initial commit
  apps/matrix-cli/README.md
  apps/matrix-cli/pyproject.toml
  apps/matrix-cli/src/matrix_cli/io/fabricator.py
  pyproject.toml
Owners: @everycure-org/core-maintainers

intial commit
  apps/matrix-cli/Makefile
  apps/matrix-cli/src/matrix_cli/__init__.py
  apps/matrix-cli/src/matrix_cli/io/__init__.py
Owners: @everycure-org/core-maintainers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

removing
  apps/matrix-io/.gitignore
  apps/matrix-io/Makefile
  apps/matrix-io/README.md
  apps/matrix-io/pyproject.toml
  apps/matrix-io/requirements.in
  apps/matrix-io/requirements.txt
  apps/matrix-io/src/matrix_io/fabricator.py
Owners: @everycure-org/core-maintainers

address review suggestions
  services/kg_dashboard/Makefile
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
Owners: @everycure-org/core-maintainers

fix: remove commented-out dataset configurations for clarity and maintainability
  pipelines/matrix/conf/base/modelling/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update node & edge table names to include node & edge but remove unified_nodes & unified_edges, which were never used
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
Owners: @everycure-org/core-maintainers

fix: refactor make_predictions_and_sort to aggregate model predictions and update tests for multiple models
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

docs: add comprehensive AI coding agent instructions for project architecture and workflows
  .github/copilot-instructions.md
Owners: @everycure-org/core-maintainers

fix: update make_predictions_and_sort function to accept score column names as parameters and adjust pipeline accordingly
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: encapsulate argument extraction in make_predictions_and_sort for improved readability
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add link from primary sources doc page to dashboard knowledge sources overview page
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

remove extra paren
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

union normalization summary tables
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing typo
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: remove "What Has Been Done" section from setup documentation
  docs/src/infrastructure/LiteLLM-Setup.md
  docs/src/infrastructure/PostgreSQL-CloudNativePG-Setup.md
  docs/src/infrastructure/Redis-Setup.md
Owners: @everycure-org/code-reviewers

feat: enhance architecture overview diagram in LiteLLM setup documentation
  docs/src/infrastructure/LiteLLM-Setup.md
Owners: @everycure-org/code-reviewers

feat: update LITELLM_BASE URL for external usage in documentation
  docs/src/infrastructure/LiteLLM-Setup.md
Owners: @everycure-org/code-reviewers

feat: update model name and parameters for Claude 4 in litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: add claude-3-5-sonnet model configuration to litellm
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

stubbing out tests
  apps/matrix-cli/src/matrix_cli/io/fabricator.py
Owners: @everycure-org/core-maintainers

initial commit
  apps/matrix-cli/tests/__init__.py
  apps/matrix-cli/tests/test_fabricator.py
Owners: @everycure-org/core-maintainers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
