Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @matwasilewski, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire, @oliverw1, @emil-k, @siyan-luo

CODEOWNERS:

* @lvijnck @matwasilewski
pipelines/matrix @lvijnck @pascalwhoop @alexeistepa @piotrkan @leelancashire
docs @piotrkan @alexeistepa @leelancashire @oliverw1 @emil-k @siyan-luo
infra @lvijnck @pascalwhoop @oliverw1 @siyan-luo @emil-k

re-add the last node which was removed by pre commit hook
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add more resources
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add more resources
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix splits schema
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

disable stream_output
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

bump version;
  pipelines/matrix/conf/base/integration/parameters.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

bump version;
  pipelines/matrix/conf/base/integration/parameters.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

rm obsolete
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

rm obsolete
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Feat/render release info docs (#858)
  .github/workflows/create-release-pr.yml
  docs/scripts/changelog_gen.py
  docs/src/releases/changelog_files/releases_aggregated.yaml
  docs/src/releases/changelog_files/v0.2.5_info.json
  docs/src/releases/release_history.md
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @matwasilewski, @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @pascalwhoop

Feat/render release info docs (#858)
  .github/workflows/create-release-pr.yml
  docs/scripts/changelog_gen.py
  docs/src/releases/changelog_files/releases_aggregated.yaml
  docs/src/releases/changelog_files/v0.2.5_info.json
  docs/src/releases/release_history.md
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @matwasilewski, @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @pascalwhoop

Feat/render release info docs (#858)
  .github/workflows/create-release-pr.yml
  docs/scripts/changelog_gen.py
  docs/src/releases/changelog_files/releases_aggregated.yaml
  docs/src/releases/changelog_files/v0.2.5_info.json
  docs/src/releases/release_history.md
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @matwasilewski, @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @pascalwhoop

bump workers
  pipelines/matrix/src/matrix/pipelines/preprocessing/tagging.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

bump workers
  pipelines/matrix/src/matrix/pipelines/preprocessing/tagging.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

disable comment out
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

rm obsolete
  pipelines/matrix/src/matrix/pipelines/integration/clinical_trails.py
  pipelines/matrix/src/matrix/pipelines/integration/diseases.py
  pipelines/matrix/src/matrix/pipelines/integration/drugs.py
  pipelines/matrix/src/matrix/pipelines/integration/ground_truth.py
  pipelines/matrix/src/matrix/pipelines/integration/medical.py
  pipelines/matrix/src/matrix/schemas/knowledge_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

rm obsolete
  pipelines/matrix/src/matrix/pipelines/integration/clinical_trails.py
  pipelines/matrix/src/matrix/pipelines/integration/diseases.py
  pipelines/matrix/src/matrix/pipelines/integration/drugs.py
  pipelines/matrix/src/matrix/pipelines/integration/ground_truth.py
  pipelines/matrix/src/matrix/pipelines/integration/medical.py
  pipelines/matrix/src/matrix/schemas/knowledge_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix unit test
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix unit test
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

remove aggregation
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix fuse group
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix fuse group
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update params
  pipelines/matrix/conf/base/evaluation/parameters.yml
  pipelines/matrix/conf/base/matrix_generation/parameters.yml
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update pipeline registry
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update params
  pipelines/matrix/conf/base/inference/parameters.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

comment out
  pipelines/matrix/conf/base/inference/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/inference/parameters.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Save `not treat` and `unknown` scores for full matrix (#853)
  pipelines/matrix/conf/base/evaluation/parameters.yml
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/inference/parameters.yml
  pipelines/matrix/conf/base/matrix_generation/parameters.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/inference/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Save `not treat` and `unknown` scores for full matrix (#853)
  pipelines/matrix/conf/base/evaluation/parameters.yml
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/inference/parameters.yml
  pipelines/matrix/conf/base/matrix_generation/parameters.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/inference/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Save `not treat` and `unknown` scores for full matrix (#853)
  pipelines/matrix/conf/base/evaluation/parameters.yml
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/inference/parameters.yml
  pipelines/matrix/conf/base/matrix_generation/parameters.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/inference/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

merge main
  pipelines/matrix/Makefile
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

revert changes
  pipelines/matrix/Makefile
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire
