Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Add index & templated page for characterizing key nodes
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/Key Nodes/index.md
  services/kg_dashboard/sources/bq/key_nodes_connected_categories.sql
  services/kg_dashboard/sources/bq/key_nodes_descendants.sql
  services/kg_dashboard/sources/bq/key_nodes_edges_breakdown.sql
  services/kg_dashboard/sources/bq/key_nodes_list.sql
  services/kg_dashboard/sources/bq/key_nodes_stats.sql
Owners: @everycure-org/core-maintainers

clean
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

feat: Add cache control injection points for OpenAI models in litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: Update model parameters and cache control for OpenAI models in litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Add attribution docs for Matrix project (#1867)
  docs/src/releases/.pages
  docs/src/releases/attribution.md
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

feat: Update cache configuration to use GCS instead of Redis
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: Update cache configuration to use Redis instead of GCS
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

remove prefixes, show count col first, remove unique subjects/objects cols
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
Owners: @everycure-org/core-maintainers

fix: Update Redis cache TTL from 1 day to 30 days in litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: Update model parameters and cache control for OpenAI models in litellm configuration (#1880)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: Add supported call types for Redis cache configuration in litellm
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

add back clinical trials
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: Add IAM member resource for Service Account User role in workbench configuration
  infra/deployments/wg2/modules/workbench/main.tf
Owners: @everycure-org/infra

Update catalog for baseline default splitter xg_ensemble. Added violations.jsonl ingestion
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.11.0_info.json
Owners: @everycure-org/code-reviewers

added AI-generated release article for v0.11.0
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.11.0/post.md
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.11.0/post.md
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.11.0/post.md
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.11.0/post.md
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Add CUDA support utilities and update model training to utilize device management
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add logging for hyperparameter tuning initiation
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ARGO node configuration to utilize GPU for matrix generation
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ARGO node configuration to utilize GPU for model folding
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Updated uv.lock file
  uv.lock
Owners: @everycure-org/core-maintainers

Enable asynchronous execution for Kedro runs in workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove asynchronous flag from Kedro run commands in Argo workflow template for consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase concurrency for topological estimator to 64 for improved performance on n2d-standard-64 machines
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update topological estimator concurrency to 63 for n2d-standard-64 machine compatibility
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugs.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix index in gt
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update workbenches.yaml (marcello)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

add ec id to matrix
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update workbenches.yaml (marcello) (#1886)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

update
  docs/src/assets/pipeline/ingestion_changes.svg
Owners: @everycure-org/code-reviewers

update
  docs/src/assets/pipeline/matrix_generation_changes.svg
Owners: @everycure-org/code-reviewers

update
  docs/src/assets/pipeline/matrix_generation_changes.svg
Owners: @everycure-org/code-reviewers
