Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

revert
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix typo
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update version
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix
  pipelines/matrix/conf/base/gitops.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update catalog
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix idents
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bring back mlflow
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

mv gitops.yml
  pipelines/matrix/conf/cloud/gitops.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update gitops
  pipelines/matrix/conf/base/gitops.yml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/test/gitops.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update gitops
  pipelines/matrix/conf/base/gitops.yml
  pipelines/matrix/conf/cloud/gitops.yml
  pipelines/matrix/conf/test/gitops.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add back hook
  pipelines/matrix/conf/base/gitops.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

add step configuring github
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

rm target dir
  pipelines/matrix/conf/base/gitops.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix ci
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

update lock
  uv.lock
Owners: @everycure-org/core-maintainers

clean;
  pipelines/matrix/conf/cloud/gitops.yml
  pipelines/matrix/conf/test/gitops.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix dependencies
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update uv lock
  uv.lock
Owners: @everycure-org/core-maintainers

update
  pipelines/matrix/conf/base/gitops.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update dependencies
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update resolvers
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update conftests
  pipelines/matrix/tests/conftest.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix tests
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v2.0.4 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.4-from-v2.0.2.md
Owners: @everycure-org/code-reviewers

Release v1.6.9 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.9-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

update tests
  pipelines/matrix/conf/cloud/gitops.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/tests/conftest.py
  pipelines/matrix/tests/integration/test_release_paths.py
  pipelines/matrix/tests/pipelines/test_pipelines.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/tests/pipelines/test_caching.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

rm unique check due to non-deterministic tests
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement minor fixes in the KG construction (#2191)
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update uv lock
  uv.lock
Owners: @everycure-org/core-maintainers

reduce gt count
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Known entity data catalog with EC dataset entry (#2209)
  .github/workflows/matrix-ci.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/gitops.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/cloud/gitops.yml
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/conftest.py
  pipelines/matrix/tests/integration/test_release_paths.py
  pipelines/matrix/tests/pipelines/test_caching.py
  pipelines/matrix/tests/pipelines/test_pipelines.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
