Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: update PostgreSQL application source configuration in postgresql.yaml
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

fix: enhance ignoreDifferences and syncOptions in postgresql.yaml for better CRD management
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

fix: update postgresql.yaml to enhance Helm values and sync options for improved resource management
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL application and certificate configurations for enhanced security and management
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

fix: remove sync-wave annotation from cloudnative-pg-cluster application
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

fix: correct application name in postgresql-cloudnative-pg-cluster configuration
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

feat: add webhook CA patcher job and associated RBAC resources for certificate management
  infra/argo/applications/postgresql/templates/postgresql-webhook-certificate.yaml
  infra/argo/applications/postgresql/templates/webhook-ca-patcher.yaml
Owners: @everycure-org/infra

fix: remove webhook CA patcher job and associated RBAC resources
  infra/argo/applications/postgresql/templates/webhook-ca-patcher.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG cluster and operator configurations with certificate management
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/Chart.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-webhook-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
  infra/argo/applications/postgresql-cloudnative-pg-operator/Chart.yaml
  infra/argo/applications/postgresql-cloudnative-pg-operator/values.yaml
Owners: @everycure-org/infra

feat: add postgresql-cloudnative-pg-cluster application configuration
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

feat: add postgresql-cloudnative-pg-cluster application configuration
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG operator and cluster application configurations
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-operator.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG operator and cluster application configurations
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
Owners: @everycure-org/infra

optuna hyperparameter tuning test implementation 3 weighted entropy, external postgres - requirements fix
  pipelines/matrix/requirements.in
  pipelines/matrix/requirements.txt
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: remove unused certificate configurations and update backup CA settings
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-webhook-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

refactor: remove retry configuration from PostgreSQL CloudNativePG operator
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
Owners: @everycure-org/infra

refactor: reorganize PGBouncer configuration in values.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

optuna hyperparameter tuning test implementation 3 weighted entropy, external postgres - requirements fix
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers

refactor: remove empty superuserSecret configuration from values.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

update
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add PostgreSQL CloudNativePG setup documentation
  PostgreSQL-CloudNativePG-Setup.md
Owners: @everycure-org/core-maintainers

feat: add redis and redis-operator application manifests
  infra/argo/app-of-apps/templates/redis-operator.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

feat: add syncPolicy configuration to redis and redis-operator manifests
  infra/argo/app-of-apps/templates/redis-operator.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

style: format syncPolicy section in redis and redis-operator manifests
  infra/argo/app-of-apps/templates/redis-operator.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

feat: add litellm application and values configuration
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: update litellm source path and remove redundant sources section
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Add benchmark release link (#1827)
  .vscode/settings.json
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/index.md
Owners: @everycure-org/core-maintainers

feat: enhance litellm configuration with detailed values and proxy settings
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: update PGBouncer service names and connection details in documentation
  PostgreSQL-CloudNativePG-Setup.md
Owners: @everycure-org/core-maintainers

fix: update litellm db configuration to disable existing usage and redis support
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: remove unused db and redis configuration from litellm.yaml
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: refactor litellm configuration to use templated values and add deployment resources
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm/Chart.yaml
  infra/argo/applications/litellm/templates/certificate.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
  infra/argo/applications/litellm/templates/route.yaml
  infra/argo/applications/litellm/templates/service.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: comment out extra environment variable configurations in values.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: comment out masterKey configuration in values.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

Add documentation page for the primary knowledge sources in the KG (#1829)
  docs/src/pipeline/data/knowledgegraph.md
  docs/src/releases/.pages
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

fix: remove litellm_params for models in values.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: update masterKey condition in deployment.yaml and add litellm_params for models in values.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: remove database and redis configurations from values.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: comment out DATABASE_URL configuration in deployment.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
Owners: @everycure-org/infra

fix: comment out end of DATABASE_URL configuration in deployment.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
Owners: @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
