Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

feat: introduce ModelWithPreprocessing for enhanced model scoring with preprocessing
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: enhance ModelWithPreprocessing with custom serialization methods for pickle compatibility
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update transformed_splits to use model_output_ds for correct data reference
  pipelines/matrix/conf/base/modelling/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

dropping some mayo text columns
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Expand and update attribution for data and software sources
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

chore: remove AI assistance note from ModelWithPreprocessing class
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

chore: add TODO for potential abstract base class implementation of ModelWrapper
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

docs: update multi-model configuration guide for clarity and structure
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

Feat/add primekg (#1793)
  apps/matrix-cli/.gitignore
  apps/matrix-cli/Makefile
  apps/matrix-cli/README.md
  apps/matrix-cli/pyproject.toml
  apps/matrix-cli/src/matrix_cli/__init__.py
  apps/matrix-cli/src/matrix_cli/io/__init__.py
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  libs/matrix-io-utils/pyproject.toml
  libs/matrix-io-utils/src/matrix_io_utils/__init__.py
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  libs/matrix-io-utils/tests/__init__.py
  libs/matrix-io-utils/tests/test_primekg.py
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean up force layout optionality that isn't really optional (with some added debugging output from trying to solve why force layout is needed)
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

minor tidying
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

tidy some inline logic into functions
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

structural refactoring to break up long blocks
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

move bundle up max height constants
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

remove unnecessary tooltip layout function
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

move tooltip formatter to a function for readability
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

remove silly hardcoding of robokop & rtx-kg2
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

make the edge transparency a little more rigorous (and understandable)
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

furniture moving to try to get important to read code higher up in the file
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

removed no longer necessary depthOverrides
  services/kg_dashboard/pages/Knowledge Sources/index.md
Owners: @everycure-org/core-maintainers

remove no longer used knowledge_source_sankey query
  services/kg_dashboard/pages/Knowledge Sources/index.md
Owners: @everycure-org/core-maintainers

remove over the top and unnecessary sql string manipulation
  services/kg_dashboard/pages/Knowledge Sources/index.md
Owners: @everycure-org/core-maintainers

removing commented line
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

XDATA-238 Simplify normalized table for KG dashboard (#1861)
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

change filters to incl robokop
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: rename ModelWithPreprocessing to ModelWithTransformers for consistency
  docs/src/pipeline/multi-model-configuration.md
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Increase memory for validation nodes
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/utils/validation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change node to ArgoNode
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

docs: improve clarity and formatting in modelling pipeline documentation
  docs/src/pipeline/pipeline_steps/modelling.md
Owners: @everycure-org/code-reviewers

refactor: update comments and simplify master report retrieval in get_sentinel_inputs function
  pipelines/matrix/src/matrix/pipelines/sentinel/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

docs: enhance multi-model configuration guide with details on persisted ensembles and model paths
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

refactor: comment out unused model configuration in DYNAMIC_PIPELINES_MAPPING
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix regex patterns for pod rejection messages in workflow spec
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix regex patterns for pod rejection messages in workflow spec (#1863)
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Read SA credentials from environment
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

update globals path for repro
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
