Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

moving common fuction to package init
  apps/matrix-cli/src/matrix_cli/io/primekg.py
Owners: @everycure-org/core-maintainers

specifying input/outputs
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding robokop nodes
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding robokop preprocessing pipeline
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add unit test for specific rank strategy
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix comment
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove n_jobs parameter from create_model function to prevent resource contention in PySpark
  docs/src/infrastructure/GPU_CONFIGURATION.md
  docs/src/infrastructure/GPU_SUPPORT_IMPLEMENTATION.md
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Implement optimal parallel evaluation strategy in GaussianSearch using get_best_parallel_eval function
  pipelines/matrix/src/matrix/pipelines/modelling/helper.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move get_best_parallel_eval function to utils.py for better organization
  pipelines/matrix/src/matrix/pipelines/modelling/helper.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Clarify TL;DR section in CPU allocation summary to specify XGBoost
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add documentation for CPU allocation strategy and parallel hyperparameter optimization
  docs/src/infrastructure/CPU_ALLOCATION_SUMMARY.md
  docs/src/infrastructure/TUNING_PARALLEL_OPTIMIZATION.md
Owners: @everycure-org/code-reviewers

Fix CPU allocation summary to reflect 87-CPU machine configuration
  docs/src/infrastructure/CPU_ALLOCATION_SUMMARY.md
Owners: @everycure-org/code-reviewers

Clarify XGBoost references and update CPU utilization details in TUNING_PARALLEL_OPTIMIZATION.md
  docs/src/infrastructure/TUNING_PARALLEL_OPTIMIZATION.md
Owners: @everycure-org/code-reviewers

start entropy@n
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

make primekg gt
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update pipeline registry
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update for run
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

graphsage
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

pull primary knowledge source out of the edge tables on key nodes pages
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/sources/bq/key_nodes_edges_breakdown.sql
Owners: @everycure-org/core-maintainers

log neo4j queries by default
  infra/argo/applications/neo4j/values.yaml
Owners: @everycure-org/infra

update filtering
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

baseline using predefined timesplit (xg_baseline modeling)
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

baseline using std-split (xg_baseline modeling)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

subset using std-split (xg_baseline modeling)
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

subset using timesplit (xg_baseline modeling)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

pre2014 using timesplit (xg_baseline modeling)
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

pre2014 using std-split (xg_baseline modeling)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

finish entropy unit tests
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add interactive chord diagram for key node category visualization
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
  services/kg_dashboard/sources/bq/key_nodes_category_summary.sql
Owners: @everycure-org/core-maintainers

Code tidying for chord dashboard
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
  services/kg_dashboard/sources/bq/key_nodes_category_summary.sql
Owners: @everycure-org/core-maintainers

Remove search from DataTables and fix premature error message
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
Owners: @everycure-org/core-maintainers

Add Py4J gateway startup timeout to Spark configuration (#1903)
  pipelines/matrix/conf/base/spark.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add commonality@n with unit test
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modift kedro experiment so that reun_comp no longer needs release vers
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

make height andnwidth adjustable
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Very early pre-alpha alpha draft of pipeline
  pipelines/matrix/Dockerfile
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/disease_list/__init__.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adjustable size commonality
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove Connection Flow Sankey and rename section to Graph Edges
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
Owners: @everycure-org/core-maintainers

add other pos filktering for hit@k and update unit test
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
