Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Feat/add robokop preprocessing pipeline (#1904)
  apps/matrix-cli/README.md
  apps/matrix-cli/pyproject.toml
  apps/matrix-cli/src/matrix_cli/io/__init__.py
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  apps/matrix-cli/src/matrix_cli/io/robokop.py
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
  libs/matrix-io-utils/tests/test_robokop.py
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/src/matrix/datasets/polars.py
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add more data sources
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add runbook to count MLflow experiments from the last 3 months
  infra/runbooks/mlflow-experiment-count-last-3-months.ipynb
Owners: @everycure-org/infra

Change test runner from ParallelRunner to ThreadRunner in docker test command
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change test runner from ThreadRunner to ParallelRunner in docker test command
  pipelines/matrix/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add xgboost
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update conftest.py
  libs/matrix-gcp-datasets/tests/conftest.py
Owners: @everycure-org/core-maintainers

Join with embeddings on curie
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove source like columns before predicting
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

UV lock
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix matrix test data
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix fabricator params
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

include display of pks in edge counts added/removed/significant change, since it was already the natural key we were using, added explanatory text for each table
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
Owners: @everycure-org/core-maintainers

swap out markdown bold for strong tags
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
Owners: @everycure-org/core-maintainers

all subclass of edge removed run
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

reset default kg and gt settings.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean and simplify
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add key node pages to dashboard (#1887)
  .vscode/settings.json
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/Key Nodes/index.md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/colors.js
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
  services/kg_dashboard/sources/bq/key_nodes_category_summary.sql
  services/kg_dashboard/sources/bq/key_nodes_list.sql
  services/kg_dashboard/sources/bq/key_nodes_stats.sql
Owners: @everycure-org/core-maintainers

Drop disease synonyms column
  pipelines/matrix/src/matrix/pipelines/integration/transformers/diseases.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix drug/disease in the embeddings
  pipelines/matrix/src/matrix/pipelines/integration/transformers/diseases.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update huggingface.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
Owners: @everycure-org/core-maintainers

Update huggingface.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
Owners: @everycure-org/core-maintainers

Add default pipeline
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Return release pipeline back to what it was - without hf
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
  pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove Hugging Face Hub dataset configs from catalog
  pipelines/matrix/conf/base/data_release/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update huggingface.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
Owners: @everycure-org/core-maintainers

docs: add LiteLLM New Provider Guide and update usage documentation
  .cursorrules
  .github/copilot-instructions.md
  docs/src/infrastructure/.pages
  docs/src/infrastructure/LiteLLM-New-Provider-Guide.md
  docs/src/infrastructure/LiteLLM-Usage.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 616 rd make topological embeddings resilient to spot failures (#1957)
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 611 determine number of experimentsruns in last 3 months (#1963)
  infra/runbooks/mlflow-experiment-count-last-3-months.ipynb
Owners: @everycure-org/infra

docs: add LiteLLM New Provider Guide and update usage documentation (#1964)
  .cursorrules
  .github/copilot-instructions.md
  docs/src/infrastructure/.pages
  docs/src/infrastructure/LiteLLM-New-Provider-Guide.md
  docs/src/infrastructure/LiteLLM-Usage.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove polars changes
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add key node pages to dashboard (#1887)
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/Key Nodes/index.md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/colors.js
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
  services/kg_dashboard/sources/bq/key_nodes_category_summary.sql
  services/kg_dashboard/sources/bq/key_nodes_list.sql
  services/kg_dashboard/sources/bq/key_nodes_stats.sql
Owners: @everycure-org/core-maintainers

docs: add LiteLLM New Provider Guide and update usage documentation (#1964)
  .cursorrules
  .github/copilot-instructions.md
  docs/src/infrastructure/.pages
  docs/src/infrastructure/LiteLLM-New-Provider-Guide.md
  docs/src/infrastructure/LiteLLM-Usage.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 611 determine number of experimentsruns in last 3 months (#1963)
  infra/runbooks/mlflow-experiment-count-last-3-months.ipynb
Owners: @everycure-org/infra

Nelson/aip 616 rd make topological embeddings resilient to spot failures (#1957)
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add xgboost
  uv.lock
Owners: @everycure-org/core-maintainers

UV lock
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
