Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Fix ContentEncodingError when loading kg-registry YAML (#2276)
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove BuildKit cache mount on /root/.ivy2/cache in Dockerfile
  pipelines/matrix/Dockerfile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove BuildKit cache mount on /root/.ivy2/cache in Dockerfile (#2277)
  pipelines/matrix/Dockerfile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove spot node pools and related configurations from GKE setup
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Nelson/tech 513 disable spot instances (#2278)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Fix missing Cloud SDK setup step in release PR workflow
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

added release info json
  docs/src/releases/changelog_files/v0.15.37_info.json
Owners: @everycure-org/code-reviewers

Add missing GitHub CLI install step in release PR workflow
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

Use uv to run bump_detection.py instead of pip install in release PR workflow
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

globals changes
  .vscode/settings.json
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

switch out eges catalog entry
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Grant Alexei IAM access to run docker_cloud_build in hub dev storage
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

Auto-bump secret_data_wo_version on content change in secrets_manager.tf
  infra/modules/stacks/compute_cluster/secrets_manager.tf
Owners: @everycure-org/infra

bump
  libs/matrix-mlflow-utils/pyproject.toml
  pipelines/core_entities/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers

Add retry mechanism to drug list node norm
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

bump
  pipelines/core_entities/conf/llm_test/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers

remove mlflow hook
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

bump
  pipelines/core_entities/conf/llm_test/disease_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

bump
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

Add retry mechanism to drug list node norm (#2285)
  pipelines/core_entities/conf/llm_test/disease_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Remove disease labels and prevalence LLM pipelines
  .github/workflows/core_entities_run_pipeline.yaml
  pipelines/core_entities/Makefile
  pipelines/core_entities/README.md
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/conf/base/disease_llm_tags/parameters.yaml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/llm_test/disease_list/catalog.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_labels.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_prevalence.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

bump
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Release v1.6.29 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.29-from-v1.6.25.md
Owners: @everycure-org/code-reviewers

Release v1.6.29 notes for drug_list (#2287)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.29-from-v1.6.25.md
Owners: @everycure-org/code-reviewers

remove prevalence from checks
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Remove disease labels and prevalence LLM pipelines (#2286)
  .github/workflows/core_entities_run_pipeline.yaml
  pipelines/core_entities/Makefile
  pipelines/core_entities/README.md
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/conf/base/disease_llm_tags/parameters.yaml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/llm_test/disease_list/catalog.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_labels.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_prevalence.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Release v3.0.1 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v3.0.1-from-v3.0.0.md
Owners: @everycure-org/code-reviewers

Release v1.6.30 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.30-from-v1.6.29.md
Owners: @everycure-org/code-reviewers

Update disease_name_patch.tsv
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Update disease_name_patch.tsv (#2293)
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Add GRAS and digit drug name fix
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Add pandera check and fix test data
  pipelines/core_entities/data/test/01_raw/curated-drug-list.tsv
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

bump
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Add GRAS and digit drug name fix (#2294)
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/data/test/01_raw/curated-drug-list.tsv
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Release v1.9.0 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.9.0-from-v1.6.29.md
Owners: @everycure-org/code-reviewers

Release v3.1.0 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v3.1.0-from-v3.0.0.md
Owners: @everycure-org/code-reviewers

Release v1.9.0 notes for drug_list (#2295)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.9.0-from-v1.6.29.md
Owners: @everycure-org/code-reviewers

Release v3.1.0 notes for disease_list (#2296)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v3.1.0-from-v3.0.0.md
Owners: @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
