Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Disable MLFlow as we have migrated everything to AI Platform (#2250)
  infra/argo/app-of-apps/disabled/mlflow.yaml
Owners: @everycure-org/infra

Disabled Github Runners as AI Platform is being used as the sole runner (#2251)
  infra/argo/app-of-apps/disabled/gha-runner-scale-set-controller.yaml
  infra/argo/app-of-apps/disabled/gha-runner-scale-set.yaml
Owners: @everycure-org/infra

Add ArgoCD application manifests for dcgm-exporter, litellm, postgresql-cloudnative-pg-cluster, postgresql-cloudnative-pg-operator, and redis
  infra/argo/app-of-apps/disabled/dcgm-exporter.yaml
  infra/argo/app-of-apps/disabled/litellm.yaml
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-operator.yaml
  infra/argo/app-of-apps/disabled/redis.yaml
Owners: @everycure-org/infra

Scale all GKE node pools to 0 to reduce infra costs (TECH-418)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Release v2.0.12 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.12-from-v2.0.11.md
Owners: @everycure-org/code-reviewers

Scale all GKE node pools to 0 to reduce infra costs (TECH-418) (#2252)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Add ArgoCD application manifests for dcgm-exporter, litellm, postgresql-cloudnative-pg-cluster, postgresql-cloudnative-pg-operator, and redis (#2253)
  infra/argo/app-of-apps/disabled/dcgm-exporter.yaml
  infra/argo/app-of-apps/disabled/litellm.yaml
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-operator.yaml
  infra/argo/app-of-apps/disabled/redis.yaml
Owners: @everycure-org/infra

Remove WG2 project deployment files and configurations
  infra/deployments/wg2/.gitkeep
  infra/deployments/wg2/.terraform.lock.hcl
  infra/deployments/wg2/env.hcl
  infra/deployments/wg2/iam.tf
  infra/deployments/wg2/main.tf
  infra/deployments/wg2/modules/workbench/main.tf
  infra/deployments/wg2/modules/workbench/outputs.tf
  infra/deployments/wg2/modules/workbench/variables.tf
  infra/deployments/wg2/setup_vertex_workbench.sh
  infra/deployments/wg2/terragrunt.hcl
  infra/deployments/wg2/variables.tf
  infra/deployments/wg2/workbenches.tf
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Release v1.6.20 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.20-from-v1.6.18.md
Owners: @everycure-org/code-reviewers

Add MLFLOW_TRACKING_TOKEN environment variable to workflows and experiment CLI
  .github/workflows/create-sample-release.yml
  .github/workflows/scheduled-sampling-pipeline.yml
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

docs+fix: guide users to set MLFLOW_TRACKING_TOKEN on auth errors
  docs/src/getting_started/deep_dive/kedro_experiment.md
  docs/src/getting_started/first_cluster_run/cluster_specific_config.md
  libs/matrix-mlflow-utils/src/matrix_mlflow_utils/mlflow_utils.py
  pipelines/matrix/.env.defaults
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

docs: reformat markdown whitespace and admonition indentation
  docs/src/getting_started/deep_dive/kedro_experiment.md
  docs/src/getting_started/first_cluster_run/cluster_specific_config.md
Owners: @everycure-org/code-reviewers

fix: switch MLflow auth to Basic Auth across CI and CLI
  .github/workflows/create-sample-release.yml
  .github/workflows/scheduled-sampling-pipeline.yml
  .github/workflows/submit-kedro-pipeline.yml
  docs/src/getting_started/deep_dive/kedro_experiment.md
  docs/src/getting_started/first_cluster_run/cluster_specific_config.md
  libs/matrix-mlflow-utils/src/matrix_mlflow_utils/mlflow_utils.py
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v2.0.13 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.13-from-v2.0.11.md
Owners: @everycure-org/code-reviewers

Release v1.6.21 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.21-from-v1.6.18.md
Owners: @everycure-org/code-reviewers

Remove WG2 project deployment files and configurations (#2257)
  infra/deployments/wg2/.gitkeep
  infra/deployments/wg2/.terraform.lock.hcl
  infra/deployments/wg2/env.hcl
  infra/deployments/wg2/iam.tf
  infra/deployments/wg2/main.tf
  infra/deployments/wg2/modules/workbench/main.tf
  infra/deployments/wg2/modules/workbench/outputs.tf
  infra/deployments/wg2/modules/workbench/variables.tf
  infra/deployments/wg2/setup_vertex_workbench.sh
  infra/deployments/wg2/terragrunt.hcl
  infra/deployments/wg2/variables.tf
  infra/deployments/wg2/workbenches.tf
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Run core entities release every month
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Run core entities release every month (#2265)
  .github/workflows/core_entities_run_pipeline.yaml
Owners: @everycure-org/core-maintainers

Nelson/tech 422 matrix weekly release failing in GitHub actions (#2260)
  .github/workflows/create-sample-release.yml
  .github/workflows/scheduled-sampling-pipeline.yml
  .github/workflows/submit-kedro-pipeline.yml
  docs/src/getting_started/deep_dive/kedro_experiment.md
  docs/src/getting_started/first_cluster_run/cluster_specific_config.md
  libs/matrix-mlflow-utils/src/matrix_mlflow_utils/mlflow_utils.py
  pipelines/matrix/.env.defaults
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

inital commit
  apps/matrix-cli/docs/primekg/graph_stats.md
Owners: @everycure-org/code-reviewers

Release v2.0.14 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.14-from-v2.0.11.md
Owners: @everycure-org/code-reviewers

Update source for disease llm tags
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Remove head(10)
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

Update LLM to run MONDO and reuse previous values
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Fix merging logic
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_categories.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Update disease LLM pipeline (#2269)
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_categories.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Bump versions for UMN and disease categories
  pipelines/core_entities/conf/base/globals.yml
Owners: @everycure-org/core-maintainers

Bump versions for UMN and disease categories (#2270)
  pipelines/core_entities/conf/base/globals.yml
Owners: @everycure-org/core-maintainers

Release v3.0.0 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v3.0.0-from-v2.0.11.md
Owners: @everycure-org/code-reviewers

Release v3.0.0 notes for disease_list (#2271)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v3.0.0-from-v2.0.11.md
Owners: @everycure-org/code-reviewers

Scale GKE node pools back up from zero (TECH-418)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Remove wg1/wg2 workbench service account IAM bindings
  infra/deployments/hub/dev/iam.tf
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

Authenticate with git to enable datasets repo
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Authenticate with git to enable datasets repo (#2272)
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/tech 503 switch on kubernetes cluster for matrix (#2273)
  infra/deployments/hub/dev/iam.tf
  infra/deployments/hub/dev/storage.tf
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Release v1.6.25 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.25-from-v1.6.18.md
Owners: @everycure-org/code-reviewers

Release v1.6.25 notes for drug_list (#2274)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.25-from-v1.6.18.md
Owners: @everycure-org/code-reviewers

Fix MLflow tracking URL and add MLflow auth secrets
  infra/argo/applications/workflows/templates/matrix_secrets.yaml
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix MLflow tracking URL and add MLflow auth secrets (#2275)
  infra/argo/applications/workflows/templates/matrix_secrets.yaml
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix ContentEncodingError when loading kg-registry YAML
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
