Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Migrate matrix-schema package dependency to monorepo (#2027)
  libs/matrix-pandera/src/matrix_pandera/__init__.py
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  libs/matrix-pandera/src/matrix_pandera/validator.py
  libs/matrix-pandera/tests/test_schemas.py
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/transformer.py
  pipelines/matrix/tests/utils/test_pa_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add hotfix for llm token (#2046)
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

Fix None synonyms
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers

Hot fix on Exception message llm tags
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

Update nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers

Move atc labels file to GCS
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/data/00_input/atc_labels.csv
Owners: @everycure-org/core-maintainers

Use WHOCC for drug ATC codes (#2045)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/core_entities/.env.defaults
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/llm_test/drug_list/catalog.yml
  pipelines/core_entities/conf/test/drug_list/catalog.yml
  pipelines/core_entities/data/test/01_raw/drugbank-drug-atc.tsv
  pipelines/core_entities/data/test/01_raw/drugbank-pure-atc.tsv
  pipelines/core_entities/data/test/01_raw/drugbank-salt-atc.tsv
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/drug_llm_tags/drug_atc_codes.py
  pipelines/core_entities/src/core_entities/utils/llm_utils.py
  uv.lock
Owners: @everycure-org/core-maintainers

Fix broken Biolink documentation links
  services/kg_dashboard/pages/Metrics/epistemic-robustness.md
Owners: @everycure-org/core-maintainers

add primekg for baseline integration run
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.2.14 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.14-from-v1.2.9.md
Owners: @everycure-org/code-reviewers

initial commit
  libs/matrix-validator/Makefile
  libs/matrix-validator/src/matrix_validator/generate_biolink_imports.py
  libs/matrix-validator/src/matrix_validator/generate_valid_edge_type_table.py
  libs/matrix-validator/src/matrix_validator/resources/biolink_imports.yaml
Owners: @everycure-org/core-maintainers

adding deps
  libs/matrix-validator/pyproject.toml
Owners: @everycure-org/core-maintainers

fixing paths
  libs/matrix-validator/src/matrix_validator/util.py
Owners: @everycure-org/core-maintainers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

reformatting
  libs/matrix-validator/src/matrix_validator/generate_biolink_imports.py
  libs/matrix-validator/src/matrix_validator/generate_valid_edge_type_table.py
Owners: @everycure-org/core-maintainers

Release v1.2.14 notes for drug_list (#2048)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.14-from-v1.2.9.md
Owners: @everycure-org/code-reviewers

formatting
  libs/matrix-validator/src/matrix_validator/generate_biolink_imports.py
  libs/matrix-validator/src/matrix_validator/generate_valid_edge_type_table.py
  libs/matrix-validator/src/matrix_validator/util.py
Owners: @everycure-org/core-maintainers

remove duplicate catalog entries
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/pipeline.py
Owners: @everycure-org/core-maintainers

Rename and update Disease List pipeline README
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/README.md
Owners: @everycure-org/core-maintainers

Move ATC file to public GCS
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/globals.yml
Owners: @everycure-org/core-maintainers

Move ATC labels source file to public GCS (#2049)
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/globals.yml
Owners: @everycure-org/core-maintainers

Fix broken Biolink documentation links (#2047)
  services/kg_dashboard/pages/Metrics/epistemic-robustness.md
Owners: @everycure-org/core-maintainers

Remove raw.disease_obsolete config and update pipeline input
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

Add logging exclusion for DEFAULT and NOTICE severity in hub environments
  infra/deployments/hub/dev/main.tf
  infra/deployments/hub/prod/main.tf
Owners: @everycure-org/infra

Add logging exclusion for DEFAULT and NOTICE severity in hub environments (#2050)
  infra/deployments/hub/dev/main.tf
  infra/deployments/hub/prod/main.tf
Owners: @everycure-org/infra

Fix inconsistent colors for recognized/unrecognized edges
  services/kg_dashboard/pages/Metrics/edge-type-validation.md
Owners: @everycure-org/core-maintainers

Add Knowledge Graphs dashboard pages (#2001)
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/package-lock.json
  services/kg_dashboard/package.json
  services/kg_dashboard/pages/Knowledge Graphs/[knowledge_graph].md
  services/kg_dashboard/pages/Knowledge Graphs/index.md
  services/kg_dashboard/pages/_lib/knowledge-source-flow/debug.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout-utils.js
  services/kg_dashboard/pages/index.md
  services/kg_dashboard/pages/normalization/index.md
  services/kg_dashboard/pages/normalization/robokop_normalization.md
  services/kg_dashboard/pages/normalization/rtx-kg2_normalization.md
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/sources/bq/kg_categories.sql
  services/kg_dashboard/sources/bq/kg_list.sql
  services/kg_dashboard/sources/bq/kg_predicates.sql
  services/kg_dashboard/sources/bq/kg_summary.sql
  services/kg_dashboard/sources/bq/robokop_edge_summary.sql
  services/kg_dashboard/sources/bq/robokop_node_summary.sql
  services/kg_dashboard/sources/bq/rtx_kg2_edge_summary.sql
  services/kg_dashboard/sources/bq/rtx_kg2_node_summary.sql
Owners: @everycure-org/core-maintainers

First draft of adding txgnn pipeline back
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/conf/base/disease_llm_tags/catalog.yml
  pipelines/core_entities/conf/base/disease_llm_tags/parameters.yaml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_txgnn.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/pipeline.py
Owners: @everycure-org/core-maintainers

Add txgnn field to disease list pipeline
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Add some fixes of the txgnn feature
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/data/test/01_raw/disease-txgnn.tsv
Owners: @everycure-org/core-maintainers

Remove automated scheduled sampled run
  .github/workflows/scheduled-sampling-pipeline.yml
Owners: @everycure-org/core-maintainers

Create disease-txgnn-v2025-10-01.tsv
  pipelines/core_entities/data/test/01_raw/disease-txgnn-v2025-10-01.tsv
Owners: @everycure-org/core-maintainers

Revert "Create disease-txgnn-v2025-10-01.tsv"
  pipelines/core_entities/data/test/01_raw/disease-txgnn-v2025-10-01.tsv
Owners: @everycure-org/core-maintainers

updating DrugBank prefix references
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove automated scheduled sampled run (#2054)
  .github/workflows/scheduled-sampling-pipeline.yml
Owners: @everycure-org/core-maintainers

updating DrugBank prefix references (#2055)
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.0.21 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.21-from-v1.0.18.md
Owners: @everycure-org/code-reviewers

Release v1.2.15 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.15-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Release v1.2.16 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.16-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Surface atc_name and atc_synonym, and add error logs on WHOCC
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_llm_tags/drug_atc_codes.py
Owners: @everycure-org/core-maintainers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
