Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update license and review formatting for knowledge sources
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

Fix indentation for reviewer and rubric sections
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

Fix indentation for commentary and issues lists
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

Move benchmark release configuration from globals.yml to dashboard Makefile
  pipelines/matrix/conf/base/globals.yml
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert secrets to main
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

restore vscode settings back to main
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

Remove '+' from note block syntax in documentation
  docs/src/releases/primary_knowledge_sources.md
Owners: @everycure-org/code-reviewers

changed catalog to timestamped pre2014 using default splitter
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixed GCS bucket to use raw (dev)
  pipelines/matrix/conf/base/ingestion/catalog.yml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add a column to the edges that collects all primary knowledge sources (#1813)
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add checkout action with submodule support to CI workflow
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

fix: update validation for delete_older_than_days to allow null values
  infra/modules/artifact_registry/variables.tf
Owners: @everycure-org/infra

feat: add GitHub Actions self-hosted runners deployment guide and con… (#1812)
  .github/actionlint.yaml
  .github/workflows/build_and_upload_image_for_github_runner_set_k8s.yml
  .github/workflows/matrix-ci.yml
  .github/workflows/moa-ci.yml
  .github/workflows/submit-kedro-pipeline.yml
  docs/src/infrastructure/architecture_decision_records/ci_optimization_self_hosted_runners.md
  docs/src/infrastructure/architecture_decision_records/index.md
  docs/src/infrastructure/github_runner/github_arc_controller.md
  infra/argo/app-of-apps/templates/gha-runner-scale-set-controller.yaml
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
  infra/argo/applications/external-secrets/templates/github_actions_runner_secret.yaml
  infra/deployments/hub/dev/github_runner_docker_repo.tf
  infra/github-runner-image/Dockerfile
  infra/modules/artifact_registry/main.tf
  infra/modules/artifact_registry/variables.tf
  infra/modules/stacks/compute_cluster/argo/argo.tf
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/Makefile
  pipelines/matrix/conf/test/spark.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: update Python setup action and improve dependency installation (#1844)
  .github/workflows/create-sample-release.yml
Owners: @everycure-org/core-maintainers

pages
  docs/src/releases/.pages
Owners: @everycure-org/code-reviewers

Adds link to benchmark release (using a relative link), makes release history link relative also. Adds benchmark_version to globals.
  pipelines/matrix/conf/base/globals.yml
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/index.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adds link to benchmark release (using a relative link), makes release history link relative also. Adds benchmark_version to globals.
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

revert secrets to main
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

Adds link to benchmark release (using a relative link), makes release history link relative also. Adds benchmark_version to globals.
  services/kg_dashboard/pages/index.md
Owners: @everycure-org/core-maintainers

Remove benchmark version from globals
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Makefile
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers

Update index.md
  services/kg_dashboard/pages/index.md
Owners: @everycure-org/core-maintainers

Update index.md
  services/kg_dashboard/pages/index.md
Owners: @everycure-org/core-maintainers

feat: add PostgreSQL application configuration with certificates and backup settings
  infra/argo/app-of-apps/templates/postgresql.yaml
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/templates/backup-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/backup-service-account.yaml
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

feat: add node scheduling configuration for PostgreSQL and PGBouncer
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

feat: update targetRevision for ArgoCD application to specific branch
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

chore: update Chart.yaml for PostgreSQL application configuration
  infra/argo/applications/postgresql/Chart.yaml
Owners: @everycure-org/infra

fix: correct dependency name from 'cnpg' to 'cloudnative-pg' in Chart.yaml
  infra/argo/applications/postgresql/Chart.yaml
Owners: @everycure-org/infra

chore: comment out backup configuration and update PGBouncer scheduling settings
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

feat: enable backup configuration and update scheduling settings in values.yaml
  infra/argo/app-of-apps/templates/postgresql.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

fix: update namespaces and DNS names for PostgreSQL certificates
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

update
  pipelines/matrix/src/matrix/datasets/pair_generator.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add PostgreSQL cluster configuration with monitoring and certificate settings
  infra/argo/applications/postgresql/templates/postgresql-cluster.yaml
Owners: @everycure-org/infra

fix: update dependency name from 'cloudnative-pg' to 'cluster' in Chart.yaml and remove postgresql-cluster.yaml template
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/templates/postgresql-cluster.yaml
Owners: @everycure-org/infra

fix: update cluster dependency version to 0.3.1 in Chart.yaml
  infra/argo/applications/postgresql/Chart.yaml
Owners: @everycure-org/infra

add temp features dir
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update dependency from 'cloudnative-pg' to 'cluster' in Chart.yaml and restructure values.yaml for CloudNativePG configuration
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

chore: remove deprecated PostgreSQL certificate and backup configurations from templates and values.yaml
  infra/argo/applications/postgresql/templates/backup-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/backup-service-account.yaml
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

fix: update PostgreSQL application source configuration in postgresql.yaml
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra
