Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: update secret name for PostgreSQL configuration in Argo workflows
  infra/argo/applications/workflows/values.yaml
Owners: @everycure-org/infra

fix: add DATABASE_SCHEMA environment variable for litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: update namespace for PostgreSQL configuration in Argo workflows
  infra/argo/applications/workflows/templates/postgresql.yml
Owners: @everycure-org/infra

fix: rename 'env' to 'extraEnv' in litellm helm values
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: update secret name for PostgreSQL username and password in Argo workflows
  infra/argo/applications/workflows/values.yaml
Owners: @everycure-org/infra

fix: ensure nodeStatusOffLoad is enabled for Argo Workflows controller persistence
  infra/argo/applications/workflows/values.yaml
Owners: @everycure-org/infra

fix: correct PostgreSQL connection URL by replacing double question marks with a single question mark
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: add litellm application configuration in ArgoCD
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: add missing parameters for rw and ro poolers in PostgreSQL configuration
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

feat: add initial litellm application configuration in ArgoCD
  infra/argo/app-of-apps/disabled/litellm.yaml
Owners: @everycure-org/infra

fix: update extraEnv to extraEnvVars for DATABASE_SCHEMA in litellm helm values
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: remove unnecessary search_path options from PostgreSQL connection URL
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: remove DATABASE_SCHEMA from extraEnvVars in litellm helm values
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: add Redis setup and connection documentation
  Redis-Setup.md
Owners: @everycure-org/core-maintainers

feat: enhance sync options for ArgoCD applications and clean up route.yaml comments
  infra/argo/app-of-apps/templates/gha-runner-scale-set-controller.yaml
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
  infra/argo/applications/litellm-gateway/templates/route.yaml
Owners: @everycure-org/infra

fix: update Redis cache TTL and clean up commented password lines in litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: add comprehensive LiteLLM setup and connection documentation
  LiteLLM-Setup.md
Owners: @everycure-org/core-maintainers

fix: update targetRevision to use variable for ArgoCD application configuration
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

feat: add comprehensive setup and connection documentation for LiteLLM, PostgreSQL CloudNativePG, and Redis
  docs/src/infrastructure/LiteLLM-Setup.md
  docs/src/infrastructure/PostgreSQL-CloudNativePG-Setup.md
  docs/src/infrastructure/Redis-Setup.md
Owners: @everycure-org/code-reviewers

feat: add installation steps for Terragrunt and OpenTofu in CI workflow
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

add comments
  pipelines/matrix/src/matrix/cli_commands/run.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: integrate Terragrunt action into CI workflow
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

feat: install Terragrunt in CI workflow
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

feat: add Terragrunt installation step in CI workflow
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

feat: remove Terragrunt installation from CI workflow and add it to precommit checks
  .github/workflows/matrix-ci.yml
  .github/workflows/precommit.yml
Owners: @everycure-org/core-maintainers

feat: add Terragrunt version specification in precommit checks
  .github/workflows/precommit.yml
Owners: @everycure-org/core-maintainers

feat: update Terragrunt and Tofu versions in precommit checks
  .github/workflows/precommit.yml
Owners: @everycure-org/core-maintainers

feat: update Terragrunt version in precommit checks to 0.87.4
  .github/workflows/precommit.yml
Owners: @everycure-org/core-maintainers

recall@n for one matrix working
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/test/run_comparison/catalog.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluation.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/plots.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add --from-run to CLI to define where to pull inputs from (#1769)
  docs/src/assets/img/branched_runs.drawio.svg
  docs/src/assets/img/from_catalog.drawio.svg
  docs/src/getting_started/deep_dive/walkthroughs/branching_from_another_run.md
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/argo.py
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/cli_commands/run.py
  pipelines/matrix/src/matrix/session.py
  pipelines/matrix/templates/argo_wf_spec.tmpl
  pipelines/matrix/tests/cli_commands/test_experiment.py
  pipelines/matrix/tests/cli_commands/test_run.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

more specific config
  pipelines/matrix/conf/base/ingestion/parameters.yml
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

putting function into common location and used across fabricator and ingestion pipelines
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing
  pipelines/matrix/src/matrix/pipelines/fabricator/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

initial commit
  pipelines/matrix/src/matrix/utils/validation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: update Terragrunt and OpenTofu versions in configuration files
  .github/workflows/precommit.yml
  .mise.toml
Owners: @everycure-org/core-maintainers

feat: reorder Terragrunt action in precommit workflow
  .github/workflows/precommit.yml
Owners: @everycure-org/core-maintainers

refactor: simplify dataset references and remove multi-model sections for clarity
  pipelines/matrix/conf/base/evaluation/catalog.yml
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove multi-model pipeline files for clarity and conciseness
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: ensure newline at end of file in catalog.yml for consistency
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: standardize model output paths and remove model_name placeholders for clarity
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
