Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Implement parallelization in predict_proba method for improved performance
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Uncomment GPU and spot GPU node pools in combined node pools configuration
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Enhance model prediction performance by repartitioning Spark DataFrame and removing joblib parallelization in predict_proba method
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Argo node configuration to use MEDIUM_MATRIX_GENERATION for prediction nodes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove n_jobs parameter from create_model function to prevent resource contention in PySpark
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove n_jobs parameter from create_model function to prevent resource contention in PySpark
  docs/src/infrastructure/GPU_CONFIGURATION.md
  docs/src/infrastructure/GPU_SUPPORT_IMPLEMENTATION.md
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Refactor model creation to include n_jobs parameter for parallelization control in create_model function
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Clarify XGBoost references and update CPU utilization details in TUNING_PARALLEL_OPTIMIZATION.md
  docs/src/infrastructure/TUNING_PARALLEL_OPTIMIZATION.md
Owners: @everycure-org/code-reviewers

Add documentation for CPU allocation strategy and parallel hyperparameter optimization
  docs/src/infrastructure/CPU_ALLOCATION_SUMMARY.md
  docs/src/infrastructure/TUNING_PARALLEL_OPTIMIZATION.md
Owners: @everycure-org/code-reviewers

Add ADR for CPU-first modeling/tuning strategy, removing GPU dependency
  docs/src/infrastructure/architecture_decision_records/make_hyper_parameter_tuning_cpu_first.md
Owners: @everycure-org/code-reviewers

Move get_best_parallel_eval function to utils.py for better organization
  pipelines/matrix/src/matrix/pipelines/modelling/helper.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Clarify TL;DR section in CPU allocation summary to specify XGBoost
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix CPU allocation summary to reflect 87-CPU machine configuration
  docs/src/infrastructure/CPU_ALLOCATION_SUMMARY.md
Owners: @everycure-org/code-reviewers

Implement optimal parallel evaluation strategy in GaussianSearch using get_best_parallel_eval function
  pipelines/matrix/src/matrix/pipelines/modelling/helper.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase n_calls from 20 to 21 in xg_ensemble configuration for improved model tuning
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add support for parallel trials in GaussianSearch tuning and update evaluation strategy
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove CPU allocation documentation and parallel optimization details
  docs/src/infrastructure/CPU_ALLOCATION_SUMMARY.md
  docs/src/infrastructure/TUNING_PARALLEL_OPTIMIZATION.md
Owners: @everycure-org/code-reviewers

Update n_calls to 20 and n_parallel_trials to 4 in xg_ensemble configuration for optimal CPU utilization
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor parallel evaluation strategy in get_best_parallel_eval function to simplify logic and improve CPU utilization
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust n_parallel_trials to 3 in xg_ensemble configuration and enhance documentation in get_best_parallel_eval for optimal CPU utilization
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor pyproject.toml and uv.lock to update PyTorch dependencies
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 node pool configuration for large ML workloads and update node locations
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Replace xgboost with xgboost-cpu in dependencies
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor node pool combination to include H3 spot node pools and remove unused GPU node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Add n_parallel_trials parameter to GaussianSearch for enhanced parallel evaluation
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

key node custom viz labels compatible with dark mode
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
Owners: @everycure-org/core-maintainers

use category color from key node in key node viz, improve border colors in graph & bar charts
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
Owners: @everycure-org/core-maintainers

add location to BQDataset (#1897)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

added release info json
  docs/src/releases/changelog_files/v0.11.4_info.json
Owners: @everycure-org/code-reviewers

Add note on Docker image size reduction after removing GPU dependencies
  docs/src/infrastructure/architecture_decision_records/make_hyper_parameter_tuning_cpu_first.md
Owners: @everycure-org/code-reviewers

Add document_kg to patch pipeline
  .vscode/settings.json
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Optimize Neo4J edge construction and resource allocation for better performance
  pipelines/matrix/conf/base/embeddings/catalog.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance performance documentation and optimize graph training processes in GDS algorithms
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added primary knowledge source md file
  docs/src/releases/primary-knowledge-sources.md
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Add document_kg to patch pipeline (#1913)
  .vscode/settings.json
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update title for example/sample edges table
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
Owners: @everycure-org/core-maintainers

Update argo-events dependency version to 2.4.16 and sync subproject commit
  infra/argo/applications/data-release/Chart.yaml
Owners: @everycure-org/infra
