Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Refactored the catalog for the disease list
  pipelines/matrix/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactored the nodes file in the disease list pipeline
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactored the pipeline.py file in the disease list pipeline
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add all SPARQL queries needed for the disease list pipeline
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/matrix-disease-list-filters.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/matrix-disease-list-metrics.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/mondo-obsoletes.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/ontology-metadata.sparql
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Load ExcelDataset correctly from Kedro
  pipelines/matrix/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement billable ICD10 codes features
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Disable spot instances for non-dev environments and conditionally include spot node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Enable spot instances for GKE node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

start docs update
  docs/src/assets/run_comparison/input_dataframe.drawio.svg
  docs/src/pipeline/data_science/AUROC_MQR_equivalence.md
  docs/src/pipeline/data_science/evaluation_deep_dive.md
  docs/src/pipeline/pipeline_steps/.pages
  docs/src/pipeline/pipeline_steps/evaluation.md
  docs/src/pipeline/pipeline_steps/run_comparison.md
Owners: @everycure-org/code-reviewers

adding low_memory
  apps/matrix-cli/src/matrix_cli/io/__init__.py
Owners: @everycure-org/core-maintainers

function tranforms output to dataframe...no need to collect
  apps/matrix-cli/src/matrix_cli/io/robokop.py
Owners: @everycure-org/core-maintainers

refactor to be more concise
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
Owners: @everycure-org/core-maintainers

adding low_memory and rechunk to load/save args
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

function tranforms output to dataframe...no need to collect
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

initial commit
  pipelines/matrix/src/matrix/datasets/polars.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nodes updates and pipeline updates
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

finish docs
  docs/src/assets/run_comparison/matrix_harminisation.drawio.svg
  docs/src/pipeline/pipeline_steps/run_comparison.md
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Make the ICD10 and labels node work
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing rechunk
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

use a shared data source for bar charts, graph and table, make sure connected category is always the other side of the association
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/pages/_components/KeyNodeChordDashboard.svelte
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
Owners: @everycure-org/core-maintainers

removed unused source queries
  services/kg_dashboard/sources/bq/key_nodes_connected_categories.sql
  services/kg_dashboard/sources/bq/key_nodes_descendants.sql
Owners: @everycure-org/core-maintainers

remove unused another no-longer used query
  services/kg_dashboard/sources/bq/key_nodes_edges_breakdown.sql
Owners: @everycure-org/core-maintainers

move category colors from component to shared colors.js
  services/kg_dashboard/pages/_lib/colors.js
  services/kg_dashboard/pages/_lib/key-node-chord/chord-layout.js
  services/kg_dashboard/pages/_lib/key-node-chord/constants.js
Owners: @everycure-org/core-maintainers

MISC fixes
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Write MONDO OWL to temp file before merging templates
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Disable spot instances for non-dev environments and conditionally include spot node pools (#1907)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

update
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

hotfix
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Hotfix: update variable for PKS markdown generation (#1909)
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing print
  pipelines/matrix/src/matrix/datasets/polars.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove conditional inclusion of spot node pools for non-dev environments
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Disable spot node pools temporarily for non-dev environments
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

settings to robokop only, parapemters to keep_list robokop
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

settings to robokop only, parapemters to keep_list robokop
  .gitignore
Owners: @everycure-org/core-maintainers

Add mondo preprocessing pipeline (draft)
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ROBOT command for the mondo-with subsets pipeline step
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove Spot Instances in both dev and Prod (#1910)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Add orchard compute service accounts to IAM configuration
  infra/deployments/hub/dev/iam.tf
Owners: @everycure-org/infra

Add orchard compute service accounts to IAM configuration (#1912)
  infra/deployments/hub/dev/iam.tf
Owners: @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
