Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix test
  pipelines/matrix/tests/pipelines/fabricator/test_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add location policy to node configurations for flexible resource allocation
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

update
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust GPU task resource allocation to allow concurrent task execution
  GPU_SUPPORT_IMPLEMENTATION.md
  docs/src/infrastructure/GPU_CONFIGURATION.md
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix formatting of GPU task resource allocation comments for consistency
  GPU_SUPPORT_IMPLEMENTATION.md
  docs/src/infrastructure/GPU_CONFIGURATION.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

change rename process
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix col
  pipelines/matrix/src/matrix/pipelines/evaluation/evaluation.py
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add input paths
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update cols
  pipelines/matrix/src/matrix/pipelines/matrix_generation/reporting_tables.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/transformations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add debug logging to make_predictions_and_sort for better traceability
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add rename
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/pyproject.toml
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  pipelines/matrix/tests/pipelines/test_matrix_generation_reporting.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update registr
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove Robokop in filtering parameters for RTX2.10 only testing
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

implement yaml dataset approach
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

cleanup
  pipelines/matrix/conf/test/run_comparison/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add option for uncertainty
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

implement single fold evaluate method for recall@n class
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add catalog entry for results
  pipelines/matrix/conf/base/run_comparison/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

WIP test env
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating the catalog and globals
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

simplify docstrings and commets. simplifying jinja format returns
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/source_parsers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modified catalog for pre2014 subset
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance logging in make_predictions_and_sort and ModelWrapper for improved traceability and debugging
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add GPU support to predict_proba method and implement to_cpu utility function
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor Argo resource configuration in create_pipeline to use predefined settings
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add schema check
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove gpu_only parameter from predict_proba method in ModelWrapper and update usage in ModelWithTransformers
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean
  pipelines/matrix/src/matrix/pipelines/evaluation/evaluation.py
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/reporting_tables.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/transformations.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/fabricator/test_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

rm renames
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modify docs
  docs/src/pipeline/pipeline_steps/modelling.md
Owners: @everycure-org/code-reviewers

fix test
  pipelines/matrix/tests/pipelines/fabricator/test_pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement new cross validation strategy (#1847)
  docs/src/pipeline/pipeline_steps/modelling.md
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/test_matrix_transformations.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

finish fabricated run comparison matrices
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

comfigure test parameters for run comparsion and change node name in fabricator
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modified settings for single xg_ensemble modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
