Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Release v1.2.22 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.22-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Add permissions for matrix-subcontractors to impersonate and create tokens for Cloud Build service account (#2093)
  infra/modules/components/cloudbuild/sa.tf
Owners: @everycure-org/infra

Fix primeKG ingestion error (carrige return in tsv file)
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix primeKG transform, duplicate entries
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Catalog all timestamped subset, rtx/prime/robokop
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix path - Catalog all timestamped subset rtx/prime/robokop
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use xg_synth ts_subset std-split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use xg_baseline ts_subset std-split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use xg_baseline ts_subset time-split
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use xg_synth ts_subset time-split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use xg_ensemble ts_subset time-split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix defaults.yml, use xg_ensemble ts_subset time-split
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix defaults.yml (for real), use xg_ensemble ts_subset time-split
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix defaults.yml, use xg_synth ts_subset time-split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix defaults.yml, use xg_baseline ts_subset time-split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Redo baseline integrated primekg
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Pre2014 integrated primekg
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

catalog fixed - Pre2014 integrated
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

rm drugbank
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugbank_ground_truth.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update docs
  docs/src/pipeline/data/ground_truth_lists.md
  docs/src/pipeline/pipeline_steps/modelling.md
Owners: @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove Drugbank Code processing from main (#2103)
  docs/src/pipeline/data/ground_truth_lists.md
  docs/src/pipeline/pipeline_steps/modelling.md
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/test/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugbank_ground_truth.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Remove compute cluster module configuration and update subproject commit reference
  infra/deployments/hub/prod/main.tf
Owners: @everycure-org/infra

Add 'bigquery.connections.use' permission to custom IAM roles for Orchard data access
  docs/src/infrastructure/architecture_decision_records/cross_project_orchard_data_access.md
  docs/src/infrastructure/orchard_data_access.md
  infra/deployments/hub/prod/custom_role.tf
Owners: @everycure-org/code-reviewers, @everycure-org/infra

Fix duplicate entry in orchard_data_access.md
  docs/src/infrastructure/orchard_data_access.md
Owners: @everycure-org/code-reviewers

Remove duplicate permission in architecture decision record
  docs/src/infrastructure/architecture_decision_records/cross_project_orchard_data_access.md
Owners: @everycure-org/code-reviewers

Add permission so that prod matrix cluster can access prod orchard data (#2105)
  docs/src/infrastructure/architecture_decision_records/cross_project_orchard_data_access.md
  docs/src/infrastructure/orchard_data_access.md
  infra/deployments/hub/prod/custom_role.tf
Owners: @everycure-org/code-reviewers, @everycure-org/infra

Remove lossy edge deduplication from integration pipeline
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add missing parameter to predefined time split
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update TANGO2 deficiency name patch (#2083)
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Remove obsolete BigQuery custom roles and IAM bindings for Orchard datasets
  .pre-commit-config.yaml
  infra/deployments/hub/prod/.terraform.lock.hcl
  infra/deployments/hub/prod/custom_role.tf
  infra/deployments/hub/prod/iam.tf
  pipelines/matrix/tests/datasets/test_pair_generator.py
  pipelines/matrix/tests/pipelines/test_data_release.py
  services/moa_visualizer/src/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/infra, @everycure-org/code-reviewers

refactor(kg-dashboard): use pks_metadata as source of truth for KS description and link (XDATA-178)
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
Owners: @everycure-org/core-maintainers

refactor(kg-dashboard): replace relevancy_scores with pks_metadata source (XDATA-178)
  services/kg_dashboard/sources/bq/pks_metadata.sql
Owners: @everycure-org/core-maintainers

refactor(kg-dashboard): use pks_metadata for name and relevancy in KS index table (XDATA-178)
  services/kg_dashboard/pages/Knowledge Sources/index.md
Owners: @everycure-org/core-maintainers

Release v1.1.8 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.8-from-v1.1.6.md
Owners: @everycure-org/code-reviewers

Remove compute cluster module configuration and update subproject commit reference (#2104)
  .pre-commit-config.yaml
  infra/deployments/hub/prod/.terraform.lock.hcl
  infra/deployments/hub/prod/custom_role.tf
  infra/deployments/hub/prod/iam.tf
  infra/deployments/hub/prod/main.tf
  pipelines/matrix/tests/datasets/test_pair_generator.py
  pipelines/matrix/tests/pipelines/test_data_release.py
  services/moa_visualizer/src/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/infra, @everycure-org/code-reviewers

Release v1.1.8 notes for disease_list (#2107)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.8-from-v1.1.6.md
Owners: @everycure-org/code-reviewers

updating filtering pipeline
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
