Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @matwasilewski, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire, @oliverw1, @siyan-luo, @emil-k

fix dependencies console messages
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix dependencies console messages
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

feat: drop fixed wait times for Gemini calls
  .github/workflows/create-release-pr.yml
  apps/matrix-cli/src/matrix_cli/commands/releases.py
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @lvijnck, @matwasilewski, @piotrkan, @alexeistepa, @leelancashire

added release notes & article draft
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @piotrkan, @alexeistepa, @leelancashire

move console messages to within their respective wrapper commands
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

move console messages to within their respective wrapper commands
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

remove redundant comment
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

remove redundant comment
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix branch name retrieval
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix branch name retrieval
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

remove sleep time, enable on different debug branch
  .github/workflows/create-release-pr.yml
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @lvijnck, @matwasilewski, @piotrkan, @alexeistepa, @leelancashire

make test work across platforms
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

make test work across platforms
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

added release notes & article draft
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @piotrkan, @alexeistepa, @leelancashire

improve error verbosity
  pipelines/matrix/src/matrix/datasets/graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add tests for more verbose errors
  pipelines/matrix/tests/datasets/test_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add better error reporting to PandasParquetDataset
  pipelines/matrix/src/matrix/datasets/graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix filepath names in KG
  pipelines/matrix/src/matrix/datasets/graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

add basic tests for KG dataset
  pipelines/matrix/tests/datasets/test_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix moved docstring by accident
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update test graph
  pipelines/matrix/tests/datasets/test_graph.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

check tag env is set correctly
  .github/workflows/create-post-pr-release.yml
Owners: @lvijnck, @matwasilewski

check tag env is set correctly
  .github/workflows/create-post-pr-release.yml
Owners: @lvijnck, @matwasilewski

check tag env is set correctly
  .github/workflows/create-post-pr-release.yml
Owners: @lvijnck, @matwasilewski

change trigger to PR gets merged, add permission
  .github/workflows/create-post-pr-release.yml
Owners: @lvijnck, @matwasilewski

improve fmt
  .github/workflows/create-post-pr-release.yml
Owners: @lvijnck, @matwasilewski

Fix pipeline stages link (#788)
  .github/ISSUE_TEMPLATE/onboarding.md
Owners: @lvijnck, @matwasilewski

Fix pipeline stages link (#788)
  .github/ISSUE_TEMPLATE/onboarding.md
Owners: @lvijnck, @matwasilewski

Fix pipeline stages link (#788)
  .github/ISSUE_TEMPLATE/onboarding.md
Owners: @lvijnck, @matwasilewski

Big memory /cost optimized nodes (#767)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

Big memory /cost optimized nodes (#767)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

Big memory /cost optimized nodes (#767)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

hack to use arax nodes and edges
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

hack to use arax nodes and edges
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix https redirect and insecure flag for argo
  infra/argo/applications/gateway/templates/platform_gateway.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

fix https redirect and insecure flag for argo
  infra/argo/applications/gateway/templates/platform_gateway.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

fix https redirect and insecure flag for argo
  infra/argo/applications/gateway/templates/platform_gateway.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

CODEOWNERS:

* @lvijnck @matwasilewski
pipelines/matrix @lvijnck @pascalwhoop @alexeistepa @piotrkan @leelancashire
docs @piotrkan @alexeistepa @leelancashire
infra @lvijnck @pascalwhoop @oliverw1 @siyan-luo @emil-k
