Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Adjust concurrency in GDSGraphSage initialization based on test mode environment variable
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance GPU detection and error handling for CuPy import in utils.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance hyperparameter tuning logging and preserve base estimator parameters
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor concurrency handling in GDS algorithms and remove test mode environment variable
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add environment variable for test mode in Docker Compose and adjust concurrency in GDSNode2Vec
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add TODO comment to change node configuration to CPU in fold pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix link to Model Training and Inference documentation in GPU configuration
  docs/src/infrastructure/GPU_CONFIGURATION.md
Owners: @everycure-org/code-reviewers

Update Argo configuration to use ARGO_NODE_MEDIUM_MATRIX_GENERATION for model training
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set XGBoost classifier n_jobs setting to 1 for single-threaded processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Switch device configuration from CUDA to CPU for XGBoost classifier in xg_ensemble.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change XGBoost classifier n_jobs setting from 16 to -1 for parallel processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix mock tuner attribute for LogisticRegression in test_tune_parameters_train_test_split
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance hyperparameter tuning logging and switch Argo configuration to CPU-only for model shard pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove unnecessary time logging from parameter tuning function
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set XGBoost classifier n_jobs setting to 1 for single-threaded processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add acquisition function parameter to gp_minimize in GaussianSearch
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable parallel processing in GaussianSearch by setting n_jobs to -1 in gp_minimize
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change XGBoost classifier n_jobs setting from 1 to -1 for parallel processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable parallel processing in XGBoost classifier by setting n_jobs to -1
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix import order by moving time import to the correct position
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Optimize GaussianSearch for 111 CPUs by enhancing parallel evaluation strategy and logging CPU utilization
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
  pipelines/matrix/OPTIMIZED_FOR_111_CPUS.md
  pipelines/matrix/WHY_NOT_ALL_PARALLEL.md
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add h3 node pool configuration for large ML workloads and update Argo resource settings in pipeline
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/SMT_DISABLED_IMPACT.md
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance GaussianSearch to intelligently balance parallel evaluations and thread allocation for optimal CPU utilization
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
  pipelines/matrix/TUNING_PARALLEL_OPTIMIZATION.md
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix acquisition optimizer parameter in GaussianSearch gp_minimize call
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement parallel evaluation support in GaussianSearch using Optimizer
  pipelines/matrix/TUNING_PARALLEL_OPTIMIZATION.md
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 node pool configuration for large ML workloads and update node locations
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase max count for H3 node pools from 30 to 40 for enhanced capacity
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor model training and GaussianSearch to remove unnecessary device conversion, enhancing clarity and performance
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove platform-specific dependencies for lightgbm and cupy-cuda12x from pyproject.toml to simplify installation
  pipelines/matrix/OPTIMIZED_FOR_111_CPUS.md
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust max node count for GPU and H3 node pools and update CPU detection in GaussianSearch for improved resource management
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Comment out GPU node pools in combined node pools for clarity and future reference
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase max count for H3 node pools from 40 to 50 to enhance resource availability
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase max count for node pools from 10 to 30 to improve resource allocation
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/Dockerfile
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove SMT Disabled Impact and Why Not Run All Trials in Parallel documentation for clarity and consolidation
  pipelines/matrix/SMT_DISABLED_IMPACT.md
  pipelines/matrix/TUNING_PARALLEL_OPTIMIZATION.md
  pipelines/matrix/WHY_NOT_ALL_PARALLEL.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 node configuration with increased CPU and memory limits for matrix generation
  pipelines/matrix/src/matrix/kedro4argo_node.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 spot node pools and update taints for large memory allocation
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Add h3 spot node pools to locals and correct CPU limits for H3 matrix generation
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix memory limits for H3 node configuration in kedro4argo_node.py
  pipelines/matrix/Dockerfile
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 spot node pool and taint configuration for workload management
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Reduce memory limits for H3 matrix generation node from 340 GiB to 300 GiB
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
