Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update argo-events dependency version to 2.4.16 and sync subproject commit (#1915)
  infra/argo/applications/data-release/Chart.yaml
Owners: @everycure-org/infra

Add runbook for diagnosing release PR creation issues after successful KG release
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

Update maxPayload in DeployEventbus.yaml to allow unlimited size for large workflow objects
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
Owners: @everycure-org/infra

log neo4j queries by default (#1906)
  infra/argo/applications/neo4j/values.yaml
Owners: @everycure-org/infra

add regex and remove inputpaths
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_predictions.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/tests/pipelines/run_comparison/test_input_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.12.0_info.json
Owners: @everycure-org/code-reviewers

added primary knowledge source md file
  docs/src/releases/primary-knowledge-sources.md
Owners: @everycure-org/code-reviewers

added AI-generated release article for v0.12.0
  docs/src/releases/posts/v0.12.0/post.md
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Bump benchmark to v0.11.3
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers

Add runbook for diagnosing release PR creation issues after successful KG release
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

Update DeployEventbus.yaml to increase maxPayload size to 100GB for large workflow objects
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
Owners: @everycure-org/infra

Update maxPayload in DeployEventbus.yaml to allow unlimited size for large workflow objects
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
Owners: @everycure-org/infra

Add test workflow for NATS max payload configuration with large dummy data
  infra/argo/applications/data-release/templates/BuildDataReleaseEventSource.yaml
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
  infra/argo/applications/data-release/test-large-payload-workflow.yaml
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

finish changes
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor code structure for improved readability and maintainability
  infra/argo/applications/data-release/templates/BuildDataReleaseEventSource.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

update unit tests
  pipelines/matrix/conf/sample/globals.yml
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor code structure for improved readability and maintainability
  infra/argo/app-of-apps/disabled/data-release.yaml
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

expand comment
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

[WIP temp] changes to run comparison PR (#1918)
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/sample/globals.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_predictions.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_input_paths.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add data-release application configuration for ArgoCD
  infra/argo/app-of-apps/templates/data-release.yaml
Owners: @everycure-org/infra

change file_path_list to fold_paths_list
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_predictions.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump KH dashboard benchmark to v0.11.3 (#1920)
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers

move settings and add anchors
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update env
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable disease list filtering and validation nodes
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add comment and move functions
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

typo
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert sample conf
  pipelines/matrix/conf/sample/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase resource limits for Argo cleanup jobs and enhance runbook with execution outputs for better debugging
  infra/argo/applications/workflows/templates/cronjob.yml
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

update inclusion
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance workflow template cleanup script to dynamically calculate cutoff date and delete outdated templates
  infra/argo/applications/workflows/templates/cronjob.yml
Owners: @everycure-org/infra

Refactor workflow template cleanup job to use kubectl for deletion and calculate cutoff date in seconds
  infra/argo/applications/workflows/templates/cronjob.yml
Owners: @everycure-org/infra

Increase resource limits for Argo workflow cleanup job to enhance performance
  infra/argo/applications/workflows/templates/cronjob.yml
Owners: @everycure-org/infra

Add data-release application configuration for ArgoCD
  infra/argo/app-of-apps/disabled/data-release.yaml
Owners: @everycure-org/infra

Add data-release application configuration for ArgoCD
  infra/argo/app-of-apps/templates/data-release.yaml
Owners: @everycure-org/infra

Increase memory requests and limits for Argo workflow cleanup job to improve performance
  infra/argo/applications/workflows/templates/cronjob.yml
Owners: @everycure-org/infra

Increase resource limits for Argo workflow cleanup jobs to enhance performance
  infra/argo/applications/workflows/templates/cronjob.yml
Owners: @everycure-org/infra

Update ArgoCD targetRevision to use variable for flexibility
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

Remove test workflow for large payload verification from ArgoCD configuration
  infra/argo/applications/data-release/test-large-payload-workflow.yaml
Owners: @everycure-org/infra
