Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update filtering parameters to simplify KG used for modelling (#2007)
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.13.11_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Update post.md
  docs/src/releases/posts/v0.15.0/post.md
Owners: @everycure-org/code-reviewers

Remove occurences of the core entities repo URL
  .vscode/settings.json
  docs/src/pipeline/data/ec_drug_list.md
  pipelines/core_entities/README.md
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.0-from-v0.2.4.md
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update readme
  .vscode/settings.json
  pipelines/core_entities/README.md
Owners: @everycure-org/core-maintainers

Document core entities release process and remove occurences of the core entities repo URL (#2069)
  docs/src/pipeline/data/ec_drug_list.md
  pipelines/core_entities/README.md
  pipelines/core_entities/conf/cloud/disease_list/catalog.yaml
  pipelines/core_entities/conf/cloud/drug_list/catalog.yaml
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.0-from-v0.2.4.md
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

updates
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add num of train pairs to disease output
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add public data releases documentation page (#2011)
  docs/src/releases/.pages
  docs/src/releases/public_data_releases.md
Owners: @everycure-org/code-reviewers

Add Maria to workbenches
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Add Maria to workbenches (#2070)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Release v1.1.2 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.2-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

change catalog paths
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.2.19 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.19-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Update post
  docs/src/releases/posts/v0.15.0/post.md
Owners: @everycure-org/code-reviewers

Publish EC drug and disease lists to HuggingFace Hub (#XDATA-282)
  docs/src/pipeline/data/drug_disease_lists.md
  docs/src/pipeline/data/ec_drug_list.md
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/README.md
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
  pipelines/matrix/tests/pipelines/test_data_publication.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Add drug/disease datasets and clarify releases
  docs/src/releases/public_data_releases.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.15.0/post.md
  docs/src/releases/posts/v0.15.0/post.md
Owners: @everycure-org/code-reviewers

Remove ec_indication_list if not in settings
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add everycure author
  docs/src/releases/.authors.yml
Owners: @everycure-org/code-reviewers

Add everycure author (#2074)
  docs/src/releases/.authors.yml
Owners: @everycure-org/code-reviewers

tidy
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add disease specific hit and recall@n table to run_comparison suite (#2060)
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.3 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.3-from-v1.1.0.md
Owners: @everycure-org/code-reviewers

Release v1.2.20 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.20-from-v1.2.14.md
Owners: @everycure-org/code-reviewers

Refactor hf pipeline into separate publication pipelines
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipeline_registry.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add publish to huggingface core entities release pipeline
  .github/workflows/core_entitities_publish_release_hf.yaml
Owners: @everycure-org/core-maintainers

HF disease list now merges full Mondo list with EC curated data
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

HF disease list now merges full Mondo list with EC curated data (#2079)
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers

Remove now unnecessary drop_disease_hf_columns method
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Clarify exclusion of columns in HF dataset release
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

Simplify data_publication pipeline tests
  pipelines/matrix/tests/pipelines/test_data_publication.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add Git tag support to HFIterableDataset for version-coupled releases
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
Owners: @everycure-org/core-maintainers

Update litellm targetRevision to v1.81.3-stable.sonnet-4-6 and sync submodule
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Update litellm targetRevision to v1.81.3-stable.sonnet-4-6 and sync submodule (#2081)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Test robokop subset using xg_ensemble
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Test robokop subset using xg_synth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Test robokop subset using xg_baseline
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update disease_name_patch.tsv
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers
