Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @matwasilewski, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire, @oliverw1, @emil-k, @siyan-luo

Fix typo oboarding -> onboarding
  docs/src/onboarding/kedro_extensions.md
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

Fix typo instaniate -> instantiate
  docs/src/onboarding/kedro_extensions.md
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo

working fsspec version
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

try 4-cores
  .github/actionlint.yaml
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

Update pipelines/matrix/src/matrix/pipelines/integration/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/medical.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Update pipelines/matrix/src/matrix/pipelines/integration/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/medical.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

rename to nodes_only
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

rename to nodes_only
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

try 4-cores
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

try larger runner
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

working fsspec version
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

revert debugging config
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

added comments
  pipelines/matrix/.env.defaults
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Refactor to remove the refit library (#811)
  docs/src/FAQ/common_errors.md
  docs/src/data_science/.pages
  docs/src/onboarding/kedro_extensions.md
  docs/src/onboarding/walkthroughs/kedro_notebook_example.ipynb
  docs/src/pipeline/.pages
  docs/src/pipeline/pandera_validation.md
  pipelines/matrix/requirements.in
  pipelines/matrix/requirements.txt
  pipelines/matrix/src/matrix/datasets/gcp.py
  pipelines/matrix/src/matrix/datasets/neo4j.py
  pipelines/matrix/src/matrix/inject.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/robokop.py
  pipelines/matrix/src/matrix/pipelines/integration/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/schemas/knowledge_graph.py
  pipelines/matrix/tests/__init__.py
  pipelines/matrix/tests/pipelines/integration/test_rtxkg2.py
  pipelines/matrix/tests/pipelines/test_embeddings.py
  pipelines/matrix/tests/pipelines/test_evaluation.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  pipelines/matrix/tests/pipelines/test_modelling.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
  pipelines/matrix/tests/pipelines/test_preprocessing.py
  pipelines/matrix/tests/test_inject.py
Owners: @piotrkan, @alexeistepa, @leelancashire, @oliverw1, @emil-k, @siyan-luo, @lvijnck, @pascalwhoop

fixes
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/inference/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix splits unit test
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix generate matrix pairs unit test
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix pair generator unit test
  pipelines/matrix/tests/datasets/test_pair_generator.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix make splits unittest
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

disable actionlint check
  .github/workflows/submit-kedro-pipeline.yml
  .pre-commit-config.yaml
Owners: @lvijnck, @matwasilewski

remove unnecessary files
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

update version and pahts
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

clean
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update version and pahts
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

clean
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update catalog
  pipelines/matrix/conf/base/inference/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

update catalog
  pipelines/matrix/conf/base/inference/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

submit pipeline
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

Use implicit discovery of the underlying filesystem via fsspec
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

install dependencies after removing files
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

change before ---> after node run
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

change runner to ubuntu-latest
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

change runner to ubuntu-latest
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

docker pull, build, and push
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

Disable the kedro hooks if running the pipeline locally.
  pipelines/matrix/.env.defaults
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Bugfix/release make kedro hooks covered by integration tests (#900)
  pipelines/matrix/.env.defaults
  pipelines/matrix/compose/docker-compose.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Bugfix/release make kedro hooks covered by integration tests (#900)
  pipelines/matrix/.env.defaults
  pipelines/matrix/compose/docker-compose.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Bugfix/release make kedro hooks covered by integration tests (#900)
  pipelines/matrix/.env.defaults
  pipelines/matrix/compose/docker-compose.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/hooks.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

check self-hosted runner disk storage
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

check self-hosted runner disk storage
  .github/workflows/submit-kedro-pipeline.yml
Owners: @lvijnck, @matwasilewski

CODEOWNERS:

* @lvijnck @matwasilewski
pipelines/matrix @lvijnck @pascalwhoop @alexeistepa @piotrkan @leelancashire
docs @piotrkan @alexeistepa @leelancashire @oliverw1 @emil-k @siyan-luo
infra @lvijnck @pascalwhoop @oliverw1 @siyan-luo @emil-k
