Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Migrate old disease list code to Kedro (v2) (#1943)
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/datasets/rdf.py
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/disease_list/README.md
  pipelines/matrix/src/matrix/pipelines/disease_list/__init__.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set spark checkpoint
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert "feat: docker cloud build for matrix image (#1822)"
  .dockerignore
  .gcloudignore
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump uv lock
  uv.lock
Owners: @everycure-org/core-maintainers

start unit test
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/mondo_ontology.py
  pipelines/matrix/tests/pipelines/known_entity_removal/__init__.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_mondo_ontology.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

enlarge disk size
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

enlarge disk size (#1978)
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

fix: update OpenAI key reference (#1968)
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

Merge from main and update uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

update matrix prediction pipeline for LLM embedding integration
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/pipelines/evaluation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix docker cloud build (#1977)
  .dockerignore
  .gcloudignore
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set spark checkpoint directory
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

add owlready2 to env
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers

add mondo ontology test
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/mondo_ontology.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/todo_delete.ipynb
  pipelines/matrix/tests/pipelines/known_entity_removal/test_mondo_ontology.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set spark checkpoint directory (#1979)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

Fix docker cloud build (#1977)
  .dockerignore
  .gcloudignore
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Migrate old disease list code to Kedro (v2) (#1943)
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/datasets/rdf.py
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/disease_list/README.md
  pipelines/matrix/src/matrix/pipelines/disease_list/__init__.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

enlarge disk size (#1978)
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

fix: update OpenAI key reference (#1968)
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

Set spark checkpoint
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

Set spark checkpoint directory (#1979)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

Fix spark utils
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

Update pandas dataset references for integration PRM
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove publish_dataset_to_hf function by lambda
  pipelines/matrix/src/matrix/pipelines/data_publication/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Drop duplicates
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

implement distribution fix, update unit test and add pandera checks
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/mondo_ontology.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/todo_delete.ipynb
  pipelines/matrix/tests/pipelines/known_entity_removal/test_mondo_ontology.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add pandera check to create matrix node
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modify table name in catalog
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

add nodes unit tests
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_mondo_ontology.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add documentation on curated features to the drug list page
  docs/src/assets/pipeline/drug_class_distribution.png
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

clean up
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/todo_delete.ipynb
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

fix filepaths
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update drug list documentation with refined examples and fix typo
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.13.0/post.md
  docs/src/releases/posts/v0.13.0/post.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.13.0/post.md
  docs/src/releases/posts/v0.13.0/post.md
Owners: @everycure-org/code-reviewers

Update pipelines/matrix/conf/cloud/document_kg/catalog.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Make a tabular version of the relevancy scoring and add it to BQ for querying in the dashboard (#1927)
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/document_kg/parameters.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
