Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Use predefined time split for subsetkg (xg_ensemble modeling)
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Docs pipeline for automating `primary_knowledge_source` content (#1846)
  .github/workflows/create-release-pr.yml
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/document_kg/parameters.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
  pipelines/matrix/conf/test/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/document_kg/__init__.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/parsers.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/document_kg/test_nodes.py
  pipelines/matrix/tests/pipelines/document_kg/test_parsers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix final md
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

model specific anbstract class unit test
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add real paths
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix mock tuner attribute for LogisticRegression in test_tune_parameters_train_test_split
  pipelines/matrix/tests/pipelines/test_modelling.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: Implement HuggingFace dataset integration
  docs/src/pipeline/kedro-hf-dataset-examples.md
  docs/src/pipeline/kedro-hf-dataset-specification.md
  docs/src/pipeline/kedro-hf-dataset-summary.md
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/datasets/__init__.py
  pipelines/matrix/src/matrix/datasets/huggingface.py
  pipelines/matrix/tests/datasets/test_huggingface.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

add retry logic
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: Implement HuggingFace Kedro Dataset
  pipelines/matrix/HUGGINGFACE_DATASET_SPEC.md
  pipelines/matrix/docs/huggingface_dataset_usage.md
  pipelines/matrix/examples/huggingface_prototype.py
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/datasets/__init__.py
  pipelines/matrix/src/matrix/datasets/huggingface.py
  pipelines/matrix/tests/datasets/test_huggingface.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump memory
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor matrix for new drug list ingestion (#1885)
  docs/src/assets/pipeline/ingestion_changes.svg
  docs/src/assets/pipeline/matrix_generation_changes.svg
  docs/src/pipeline/architecture_decision_records/drug-list-migration.md
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugs.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/fabricator/test_pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

add unit test for recall_at_n
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.11.0/post.md
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Apply suggestion from @leelancashire
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Apply suggestion from @JacquesVergine
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

Enhance hyperparameter tuning logging and switch Argo configuration to CPU-only for model shard pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Switch device configuration from CUDA to CPU for XGBoost classifier in xg_ensemble.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change XGBoost classifier n_jobs setting from 16 to -1 for parallel processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set XGBoost classifier n_jobs setting to 1 for single-threaded processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Argo configuration to use ARGO_NODE_MEDIUM_MATRIX_GENERATION for model training
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change XGBoost classifier n_jobs setting from 1 to -1 for parallel processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Redo baseline stdsplit (xg_syn modeling)
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Redo baseline stdsplit (RF modeling)
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

baseline using predefined timesplit (xg_en modeling)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

baseline using predefined timesplit (xg_syn modeling)
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

baseline using predefined timesplit (RF modeling)
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add unit test for input paths
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_input_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix import order by moving time import to the correct position
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Set XGBoost classifier n_jobs setting to 1 for single-threaded processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

matrix pairs unit tests WIP
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add harmonize unit test
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update primekg
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove unnecessary time logging from parameter tuning function
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

finish matrix pairs unit tests
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add nodes unit test file
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update DeployEventbus.yaml to increase maxPayload size to 100GB for large workflow objects
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
Owners: @everycure-org/infra

Enable parallel processing in GaussianSearch by setting n_jobs to -1 in gp_minimize
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add acquisition function parameter to gp_minimize in GaussianSearch
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable parallel processing in XGBoost classifier by setting n_jobs to -1
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
