Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Nelson/aip 581 investigate caching issues with response api (#1941)
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/gcp_backend_policy.yaml
Owners: @everycure-org/infra

Update pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove some redundant comments and variables
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add ingest nodes to pipeline
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Some refactoring in billable icd10 pipeline
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

reformat file
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding types
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

formatting
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor model list in litellm.yaml to consolidate OpenAI and Anthropic models
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Allow fine-tuned models in litellm.yaml by updating model names to include wildcards
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Update apps/matrix-cli/src/matrix_cli/io/robokop.py
  apps/matrix-cli/src/matrix_cli/io/robokop.py
Owners: @everycure-org/core-maintainers

add files
  .vscode/settings.json
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/storage.py
  libs/matrix-gcp-datasets/tests/test_catalog.py
  libs/matrix-gcp-datasets/tests/test_storage.py
Owners: @everycure-org/core-maintainers

fix impot
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
  libs/matrix-gcp-datasets/tests/test_storage.py
Owners: @everycure-org/core-maintainers

add pydantic
  libs/matrix-gcp-datasets/pyproject.toml
Owners: @everycure-org/core-maintainers

sort entries
  libs/matrix-gcp-datasets/tests/test_catalog.py
Owners: @everycure-org/core-maintainers

refactor based on PR conversations
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
Owners: @everycure-org/core-maintainers

Update libs/matrix-io-utils/tests/test_robokop.py
  libs/matrix-io-utils/tests/test_robokop.py
Owners: @everycure-org/core-maintainers

fixing doc
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  apps/matrix-cli/src/matrix_cli/io/robokop.py
Owners: @everycure-org/core-maintainers

adding a 'why' for robokop
  apps/matrix-cli/README.md
Owners: @everycure-org/core-maintainers

changing method names
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

making the write nodes removing non argo nodes
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add test for loading spark
  libs/matrix-gcp-datasets/tests/test_catalog.py
  uv.lock
Owners: @everycure-org/core-maintainers

formatting
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

pr updates
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
Owners: @everycure-org/core-maintainers

improve log
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
Owners: @everycure-org/core-maintainers

bump
  .vscode/settings.json
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
Owners: @everycure-org/core-maintainers

Update Dockerfile and pyproject.toml to include README and src directory for package build
  pipelines/matrix/Dockerfile
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Dockerfile and pyproject.toml to include README and src directory for package build (#1948)
  pipelines/matrix/Dockerfile
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

filter to specific dataset
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump (#1950)
  .vscode/settings.json
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
Owners: @everycure-org/core-maintainers

rm typo
  libs/matrix-gcp-datasets/tests/test_catalog.py
Owners: @everycure-org/core-maintainers

all all
  .vscode/settings.json
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/tests/test_catalog.py
  uv.lock
Owners: @everycure-org/core-maintainers

Nelson/aip 647 allow fine tuned model in litellm (#1946)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Add catalog dataset (#1947)
  .vscode/settings.json
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/catalog.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/storage.py
  libs/matrix-gcp-datasets/tests/test_catalog.py
  libs/matrix-gcp-datasets/tests/test_storage.py
  uv.lock
Owners: @everycure-org/core-maintainers

Add Gemini model configuration and API key management to Litellm
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
  infra/modules/stacks/data_release_zone/org_policies.tf
Owners: @everycure-org/infra

fix: Update Gemini model configuration to use global location for Vertex AI
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: Configure Gemini models to use Vertex AI with GKE service account auth
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Add Gemini model support in litellm.yaml
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Enhance Gemini model configuration in litellm.yaml with custom LLM provider and API key management
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra
