Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

removing duplicate
  pyproject.toml
Owners: @everycure-org/core-maintainers

Add documentation for first-level knowledge sources
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

update workflow
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

Truning off validation for big KGs
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

Remove KG validation (#1864)
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/src/matrix/utils/validation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update attribution docs with new data and software sources
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

Revise knowledge source documentation formatting and content
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Add Jason's workbench
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Add Jason's workbench (#1865)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Add core non-KG data resources to attribution docs
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

Fix pod rejection handling in workflow spec to include URLError
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

breakup knowledge source flow graph into more files to improve readibility
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/constants.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/debug.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/height.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/links.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/nodes.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/utils.js
Owners: @everycure-org/core-maintainers

remove unused variables/functions
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/height.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/utils.js
  services/kg_dashboard/test/setup.js
Owners: @everycure-org/core-maintainers

Add attribution docs for Matrix project
  docs/src/releases/.pages
  docs/src/releases/a/knowledge_sources.md
  docs/src/releases/attribution.md
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Update attribution.md
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

fixing empty nodes df
  apps/matrix-cli/src/matrix_cli/io/fabricator.py
Owners: @everycure-org/core-maintainers

id_length defaults to 8, so removing those
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

change-seed
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Retry nodes when MLFlow URL Lookup fails (#1866)
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

implementing tests
  apps/matrix-cli/tests/test_fabricator.py
Owners: @everycure-org/core-maintainers

cleaning up logic
  apps/matrix-cli/src/matrix_cli/io/fabricator.py
Owners: @everycure-org/core-maintainers

make layout somewhat less hardcoded and somewhat more generically configurable
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/constants.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/debug.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/height.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/nodes.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/utils.js
Owners: @everycure-org/core-maintainers

update seed
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changes settings to xg_synth modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changes settings to RF modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changes settings to RF modeling and catalog for pre2010 KG
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changes settings to xg_synth modeling and catalog for pre2010 KG
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changes settings to xg_synth modeling and catalog for subset KG
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Apply suggestions from code review
  docs/src/releases/a/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Apply suggestion from @Shilpasundar14
  docs/src/releases/a/knowledge_sources.md
Owners: @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.10.4_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add CUDA support utilities and update model training to utilize device management
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

move and clean apps
  libs/matrix-cli/.gitignore
  libs/matrix-cli/Makefile
  libs/matrix-cli/README.md
  libs/matrix-cli/pyproject.toml
  libs/matrix-cli/src/matrix_cli/__init__.py
  libs/matrix-cli/src/matrix_cli/io/__init__.py
  libs/matrix-cli/src/matrix_cli/io/primekg.py
Owners: @everycure-org/core-maintainers

Refactor
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/constants.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/links.js
Owners: @everycure-org/core-maintainers
