Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update docs/src/pipeline/data/ec_drug_list.md
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Update ec_drug_list.md to remove hardcoded version number (#1934)
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Add details of uncommited git files for debugging (#1936)
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/git_utils.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use unified_normalization_summary for dashboard normalization stats (#1892)
  services/kg_dashboard/sources/bq/edge_failed_normalization_examples.sql
  services/kg_dashboard/sources/bq/normalization.sql
Owners: @everycure-org/core-maintainers

update docs and unit tests
  docs/src/pipeline/pipeline_steps/run_comparison.md
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

add diagram
  docs/src/assets/run_comparison/inheritance.drawio.svg
  docs/src/pipeline/pipeline_steps/run_comparison.md
Owners: @everycure-org/code-reviewers

Modified uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

Major refactor of the way RDF is handled - no more temporary files
  pipelines/matrix/Dockerfile
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/datasets/rdf.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/disease-groupings-other.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/downfill-disease-groupings.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/inject-mondo-top-grouping.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/inject-subset-declaration.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/inject-susceptibility-subset.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/matrix-disease-list-filters.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/matrix-disease-list-metrics.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/mondo-obsoletes.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/ontology-metadata.sparql
  pipelines/matrix/src/matrix/pipelines/disease_list/rdf_utils.py
  pipelines/matrix/test_oxigraph.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove oxrdflib from dependencies
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

randomize key node sample edges
  services/kg_dashboard/sources/bq/key_nodes_category_edges.sql
Owners: @everycure-org/core-maintainers

MISC refactorings
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/datasets/rdf.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
  pipelines/matrix/src/matrix/pipelines/disease_list/rdf_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

delete input paths tests
  pipelines/matrix/tests/pipelines/run_comparison/test_input_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add number of uncommited changes
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add number of uncommited changes (#1937)
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update CI conditions for testing
  .github/workflows/matrix-ci.yml
  .github/workflows/submit-kedro-pipeline.yml
Owners: @everycure-org/core-maintainers

Add runtime error to prevent pipeline from continuing
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update submit file to remove google cloud auth
  .github/workflows/submit-kedro-pipeline.yml
Owners: @everycure-org/core-maintainers

bump
  .github/workflows/submit-kedro-pipeline.yml
Owners: @everycure-org/core-maintainers

bump
  .github/workflows/submit-kedro-pipeline.yml
Owners: @everycure-org/core-maintainers

Remove branch off step
  .github/workflows/submit-kedro-pipeline.yml
Owners: @everycure-org/core-maintainers

bump
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove empty lines
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Clean up
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Clean up
  .github/workflows/matrix-ci.yml
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bump
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove quote
  .github/workflows/submit-kedro-pipeline.yml
Owners: @everycure-org/core-maintainers

MISC refactorings to get the subtype pipelines to work properly
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix Kedro experiment run safety checks (#1938)
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Switching Column Order
  services/kg_dashboard/pages/Metrics/ontological-context.md
Owners: @everycure-org/core-maintainers

Add 'aresponses' to supported call types in litellm.yaml
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Update targetRevision to v1.79.1-stable in litellm.yaml
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

MISC refactoring
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable prompt caching in litellm settings
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra
