Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Add evaluation to known entity removal pipeline (#1984)
  .vscode/settings.json
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
  pipelines/matrix/conf/test/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/evaluation.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_evaluation.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add ec_indications_list
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix owlready2
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add JaM to matrix generation pipeline
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

exclude OrganismTaxon
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

exclude questionable high prevalence nodes
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

exclude drug-drug edges
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix prevalent node categories
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add JaM as input to the kedro node
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert "Fix docker cloud build (#1977)"
  .gcloudignore
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update run comparison parameters to tagrte Jane's run
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add Knowledge Graphs dashboard pages
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/Knowledge Graphs/[knowledge_graph].md
  services/kg_dashboard/pages/Knowledge Graphs/index.md
  services/kg_dashboard/pages/normalization/index.md
  services/kg_dashboard/pages/normalization/robokop_normalization.md
  services/kg_dashboard/pages/normalization/rtx-kg2_normalization.md
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/sources/bq/kg_categories.sql
  services/kg_dashboard/sources/bq/kg_list.sql
  services/kg_dashboard/sources/bq/kg_predicates.sql
  services/kg_dashboard/sources/bq/kg_summary.sql
  services/kg_dashboard/sources/bq/robokop_edge_summary.sql
  services/kg_dashboard/sources/bq/robokop_node_summary.sql
  services/kg_dashboard/sources/bq/rtx_kg2_edge_summary.sql
  services/kg_dashboard/sources/bq/rtx_kg2_node_summary.sql
Owners: @everycure-org/core-maintainers

Fix KnowledgeSourceFlowGraph to support 2-level configs
  services/kg_dashboard/pages/_lib/knowledge-source-flow/debug.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout-utils.js
Owners: @everycure-org/core-maintainers

Update ON and OFF label parameters
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add ephemeral volume for scratch storage in Argo workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement EC Core Connectivity metrics (#1956)
  pipelines/matrix/conf/base/integration/catalog.yml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update resource configurations for embedding and filtering pipelines
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add volume mounts and environment variables for Neo4j data storage
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update resource configurations and add volume mounts in Argo workflow templates
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert run comparison parameters
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add ON or OFF label flag column
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add ON or OFF label column in matrix generation
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix column name
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix column name
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add Cloud Build IAM permissions for engineering group
  infra/modules/components/cloudbuild/sa.tf
Owners: @everycure-org/infra

Remove explicit flag from PyTorch CPU index in pyproject.toml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor code structure for improved readability and maintainability
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 689 add cloudbuild logic and address previous permission issues (#2003)
  infra/modules/components/cloudbuild/sa.tf
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix typo
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add JaM to run comparison pipeline (#2000)
  .gcloudignore
  infra/modules/components/cloudbuild/sa.tf
  pipelines/matrix/Makefile
  pipelines/matrix/cloudbuild.yaml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/infra, @everycure-org/code-reviewers

Enhance Neo4j CronJob to use rollout restart and improve error handling; update termination grace period for faster restarts
  infra/argo/applications/neo4j/templates/certificate-refresh-cronjob.yaml
  infra/argo/applications/neo4j/values.yaml
Owners: @everycure-org/infra

Enhance Neo4j CronJob to use rollout restart and improve error handling; update termination grace period for faster restarts (#2006)
  infra/argo/applications/neo4j/templates/certificate-refresh-cronjob.yaml
  infra/argo/applications/neo4j/values.yaml
Owners: @everycure-org/infra

filtering
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

default filters
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add organism taxon filter
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add questionable but high prevalence filters
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add drug-interactswith-drug filter
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add drug-interactsWith-smallMolecule filters
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix typo in filtering params
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
