Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Remove make install from pipelines/matrix and clean docs
  .github/workflows/create-sample-release.yml
  .github/workflows/scheduled-sampling-pipeline.yml
  .github/workflows/submit-kedro-pipeline.yml
  Makefile
  README.md
  docs/src/getting_started/first_steps/local-setup.md
  docs/src/references/common_errors.md
  infra/deployments/wg2/setup_vertex_workbench.sh
  pipelines/matrix/Makefile
  pipelines/matrix/README.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Remove remaining google sheet datasets
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove ec medical preprocessing nodes
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix Google Sheet dataset (#1858)
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/conf/base/inference/catalog.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix get worksheet function
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Fix get worksheet function (#1860)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

feat: add PostgreSQL application configuration with certificates and backup settings
  infra/argo/app-of-apps/templates/postgresql.yaml
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/templates/backup-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/backup-service-account.yaml
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

fix: correct dependency name from 'cnpg' to 'cloudnative-pg' in Chart.yaml
  infra/argo/applications/postgresql/Chart.yaml
Owners: @everycure-org/infra

feat: add node scheduling configuration for PostgreSQL and PGBouncer
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

feat: update targetRevision for ArgoCD application to specific branch
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

fix: update namespaces and DNS names for PostgreSQL certificates
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

chore: update Chart.yaml for PostgreSQL application configuration
  infra/argo/applications/postgresql/Chart.yaml
Owners: @everycure-org/infra

chore: comment out backup configuration and update PGBouncer scheduling settings
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

feat: enable backup configuration and update scheduling settings in values.yaml
  infra/argo/app-of-apps/templates/postgresql.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

chore: remove deprecated PostgreSQL certificate and backup configurations from templates and values.yaml
  infra/argo/applications/postgresql/templates/backup-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/backup-service-account.yaml
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL cluster configuration with monitoring and certificate settings
  infra/argo/applications/postgresql/templates/postgresql-cluster.yaml
Owners: @everycure-org/infra

fix: update dependency from 'cloudnative-pg' to 'cluster' in Chart.yaml and restructure values.yaml for CloudNativePG configuration
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

fix: update PostgreSQL application source configuration in postgresql.yaml
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

fix: update dependency name from 'cloudnative-pg' to 'cluster' in Chart.yaml and remove postgresql-cluster.yaml template
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/templates/postgresql-cluster.yaml
Owners: @everycure-org/infra

fix: update cluster dependency version to 0.3.1 in Chart.yaml
  infra/argo/applications/postgresql/Chart.yaml
Owners: @everycure-org/infra

fix: remove sync-wave annotation from cloudnative-pg-cluster application
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

fix: update postgresql.yaml to enhance Helm values and sync options for improved resource management
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

fix: update PostgreSQL application source configuration in postgresql.yaml
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

fix: enhance ignoreDifferences and syncOptions in postgresql.yaml for better CRD management
  infra/argo/app-of-apps/templates/postgresql.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL application and certificate configurations for enhanced security and management
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
  infra/argo/applications/postgresql/Chart.yaml
  infra/argo/applications/postgresql/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql/values.yaml
Owners: @everycure-org/infra

fix: correct application name in postgresql-cloudnative-pg-cluster configuration
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG cluster and operator configurations with certificate management
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/Chart.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-webhook-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
  infra/argo/applications/postgresql-cloudnative-pg-operator/Chart.yaml
  infra/argo/applications/postgresql-cloudnative-pg-operator/values.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG operator and cluster application configurations
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-operator.yaml
Owners: @everycure-org/infra

fix: remove webhook CA patcher job and associated RBAC resources
  infra/argo/applications/postgresql/templates/webhook-ca-patcher.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG operator and cluster application configurations
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
Owners: @everycure-org/infra

feat: add postgresql-cloudnative-pg-cluster application configuration
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

feat: add postgresql-cloudnative-pg-cluster application configuration
  infra/argo/app-of-apps/disabled/postgresql-cloudnative-pg-cluster.yaml
Owners: @everycure-org/infra

feat: add webhook CA patcher job and associated RBAC resources for certificate management
  infra/argo/applications/postgresql/templates/postgresql-webhook-certificate.yaml
  infra/argo/applications/postgresql/templates/webhook-ca-patcher.yaml
Owners: @everycure-org/infra

refactor: remove unused certificate configurations and update backup CA settings
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-cluster.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-ca-issuer.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-client-ca-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-replication-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-server-certificates.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/templates/postgresql-webhook-certificate.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

feat: add redis and redis-operator application manifests
  infra/argo/app-of-apps/templates/redis-operator.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra

feat: add PostgreSQL CloudNativePG setup documentation
  PostgreSQL-CloudNativePG-Setup.md
Owners: @everycure-org/core-maintainers

refactor: reorganize PGBouncer configuration in values.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

refactor: remove retry configuration from PostgreSQL CloudNativePG operator
  infra/argo/app-of-apps/templates/postgresql-cloudnative-pg-operator.yaml
Owners: @everycure-org/infra

refactor: remove empty superuserSecret configuration from values.yaml
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

style: format syncPolicy section in redis and redis-operator manifests
  infra/argo/app-of-apps/templates/redis-operator.yaml
  infra/argo/app-of-apps/templates/redis.yaml
Owners: @everycure-org/infra
