Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

explicitly turn off labels on the x axis for all of the release trends charts
  services/kg_dashboard/pages/release_trends.md
Owners: @everycure-org/core-maintainers

Replace knowledge source flow with custom echart network graph (XDATA-222) (#1837)
  docs/src/releases/primary_knowledge_sources.md
  services/kg_dashboard/pages/Knowledge Sources/index.md
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
  services/kg_dashboard/pages/_lib/knowledge-source-flow/constants.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/data.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/debug.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/height.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/layout-utils.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/links.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/nodes.js
  services/kg_dashboard/pages/_lib/knowledge-source-flow/utils.js
  services/kg_dashboard/test/setup.js
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Remove ec medical from dashboard and docs & replace its dashboard colour by primekg
  docs/src/getting_started/first_full_run/full_data_run.md
  docs/src/getting_started/first_steps/run_pipeline.md
  services/kg_dashboard/pages/_lib/colors.js
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Add dashboard page showing KG stats across releases (#1830)
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/release_trends.md
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
Owners: @everycure-org/core-maintainers

Add PrimeKG default colour in KG dashboard (#1876)
  docs/src/getting_started/first_full_run/full_data_run.md
  docs/src/getting_started/first_steps/run_pipeline.md
  services/kg_dashboard/pages/_lib/colors.js
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Add architecture decision record for deploying LiteLLM in Kubernetes stack
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Enhance architecture decision record for LiteLLM deployment with detailed implementation, DNS resolution considerations, and an architecture diagram.
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Refine LiteLLM architecture decision record by removing Istio references and updating DNS resolution considerations
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Enhance LiteLLM architecture decision record with detailed deployment strategy, component configurations, rollout plan, and operational considerations.
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Remove alternatives considered for service mesh from LiteLLM architecture decision record
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Update architecture diagram for LiteLLM deployment to include access paths and clarify component relationships
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Update architecture decision record to replace Gemini 2.0 reference with OpenAI in external providers section
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Update benchmark version to v0.10.2
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers

feat: Enable running Multi-Model in pipeline (#1843)
  .github/copilot-instructions.md
  .vscode/settings.json
  docs/src/pipeline/multi-model-configuration.md
  docs/src/pipeline/pipeline_steps/modelling.md
  docs/src/releases/posts/2024-11-01v0.2.2/post.md
  infra/argo/applications/workflows/values.yaml
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_generation/parameters.yml
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/templates/argo_wf_spec.tmpl
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Create litellm on kubernetes ADR (#1834)
  docs/src/infrastructure/architecture_decision_records/deploying_LiteLLM.md
Owners: @everycure-org/code-reviewers

Update benchmark version to v0.10.2 (#1877)
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers

Updating fabricator and catalog
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

formating fabricator
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/test/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump drug list version
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: Remove redundant model_info cache settings and update cache configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: Add connection pool parameters for read-write and read-only poolers
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

fix: Update connection parameters for poolers to use max_client_conn
  infra/argo/applications/postgresql-cloudnative-pg-cluster/values.yaml
Owners: @everycure-org/infra

feat: Add cache control injection points and update litellm settings
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

bump num_replacements
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/modelling/parameters/xg_synth.yml
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump drug list version (#1878)
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: Add cache control injection points for various models in litellm configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

refactor.
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/document_kg/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/source_parsers.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Delete docs/src/releases/a/knowledge_sources.md
  docs/src/releases/a/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Remove graph version from private datasets
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Add Shilpas PMID curations back
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.10.6_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Update docs/src/releases/attribution.md
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

Update attribution doc according to review feedback
  docs/src/releases/attribution.md
Owners: @everycure-org/code-reviewers

Fix formatting and link order in knowledge sources doc
  docs/src/releases/knowledge_sources.md
Owners: @everycure-org/code-reviewers

Update defaults / setting for subsetKG default splitter xg_ensemble
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
