Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Using xg_synth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Using RF modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert to subset graph using RF modeling
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Using xg_ensemble modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Using xg_synth modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert to baseline and use xg_ensemble modeling
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

switch to pre2014 use time-splitter and xg_ensemble modeling
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

switch to pre2014 use time-splitter and xg_syn modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

switch to pre2014 use time-splitter and RF modeling
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

improving the dependency injection adding tests
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/document_kg/parameters.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/parser.py
  pipelines/matrix/src/matrix/pipelines/document_kg/parsers.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/tests/pipelines/document_kg/test_nodes.py
  pipelines/matrix/tests/pipelines/document_kg/test_parsers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Delete source_parsers.py
  pipelines/matrix/src/matrix/pipelines/document_kg/source_parsers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

create new base class structure and implement concrete evaluate methods for model specific abstract class
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

implement bootstrap recall@n computation
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add plotting node WIP
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update test_nodes.py
  pipelines/matrix/tests/pipelines/document_kg/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix bootstraps and configure test env
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix kfolds std
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modify config so base models not added to test
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove datarelease from filepath
  pipelines/matrix/conf/test/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove comment
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

merge main
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

cleanup
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

restore uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

restore pyproject.toml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove redundant logging from make_predictions_and_sort and ModelWrapper methods for cleaner output
  docs/src/infrastructure/GPU_CONFIGURATION.md
  docs/src/infrastructure/GPU_SUPPORT_IMPLEMENTATION.md
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Enhance GPU detection in spark_utils and improve test coverage in test_spark_utils
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/conftest.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers

Remove AI assistance note from spark_utils.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

Update cupy-cuda12x dependency to install only on Linux
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove unused GPU node pool configurations from GKE Terraform module
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Remove AI assistance note from test_spark_utils.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers

Add TODO comment to change node configuration to CPU in fold pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix link to Model Training and Inference documentation in GPU configuration
  docs/src/infrastructure/GPU_CONFIGURATION.md
Owners: @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add environment variable for test mode in Docker Compose and adjust concurrency in GDSNode2Vec
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor code structure for improved readability and maintainability
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust concurrency handling in GDSNode2Vec for test mode compatibility
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update mlflow dependency version to 5.1.17 in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update mlflow dependency version and repository in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update mlflow dependency version and repository in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update targetRevision to reflect changes in image pull issue due to Bitnami updates
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra
