Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

update gsheet
  pipelines/core_entities/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers

update git hook based on new version of datasets
  pipelines/core_entities/src/core_entities/settings.py
Owners: @everycure-org/core-maintainers

add gitops files
  pipelines/core_entities/conf/base/gitops.yml
  pipelines/core_entities/conf/cloud/gitops.yml
  pipelines/core_entities/conf/llm_test/gitops.yml
  pipelines/core_entities/conf/test/gitops.yml
Owners: @everycure-org/core-maintainers

fix: update GitStorageHook initialization to use default parameters
  pipelines/core_entities/src/core_entities/settings.py
Owners: @everycure-org/core-maintainers

feat: add initial gitops configuration for data catalog integration
  pipelines/core_entities/conf/base/gitops.yml
Owners: @everycure-org/core-maintainers

fix: update everycure-datasets dependency version to 0.2.214
  pipelines/core_entities/pyproject.toml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update everycure-datasets version to 0.2.214
  uv.lock
Owners: @everycure-org/core-maintainers

fix: update gitops configuration to use specific branch and user details
  pipelines/core_entities/conf/base/gitops.yml
Owners: @everycure-org/core-maintainers

add openpyxl
  pipelines/core_entities/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers

fix: add openpyxl dependency to project requirements
  pipelines/core_entities/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers

revert uv lock changes
  uv.lock
Owners: @everycure-org/core-maintainers

fix: update GitStorageHook initialization to use default parameters (#2214)
  pipelines/core_entities/conf/base/gitops.yml
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/settings.py
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor code structure for improved readability and maintainability
  libs/matrix-mlflow-utils/pyproject.toml
  pipelines/core_entities/pyproject.toml
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v2.0.5 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.5-from-v2.0.2.md
Owners: @everycure-org/code-reviewers

Update kedro_init_version to 1.3.1 in pyproject.toml for core_entities and matrix pipelines
  docs/src/references/common_errors.md
  pipelines/core_entities/pyproject.toml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

add provenance tracking for svd labelling
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

resolve conflicts
  pipelines/core_entities/conf/base/gitops.yml
  pipelines/core_entities/conf/cloud/gitops.yml
  pipelines/core_entities/conf/llm_test/gitops.yml
  pipelines/core_entities/conf/test/gitops.yml
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/settings.py
Owners: @everycure-org/core-maintainers

revert dependencies
  pipelines/core_entities/pyproject.toml
Owners: @everycure-org/core-maintainers

update schema
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Release v2.0.5 notes for disease_list (#2215)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.5-from-v2.0.2.md
Owners: @everycure-org/code-reviewers

add name patches
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Update SVD's gsheet and track labeller provenance (#2213)
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/base/disease_list/parameters.yml
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Release v2.0.6 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.6-from-v2.0.5.md
Owners: @everycure-org/code-reviewers

Release v2.0.6 notes for disease_list (#2216)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.6-from-v2.0.5.md
Owners: @everycure-org/code-reviewers

feat: add IAM bindings for matrix-subcontractors group to access storage
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

feat: add custom role and IAM bindings for matrix-subcontractors to list and create storage objects
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

feat: add IAM bindings for matrix-subcontractors group to access storage (#2217)
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

Update disease_name_patch.tsv
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Update disease_name_patch.tsv (#2218)
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Release v2.0.7 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.7-from-v2.0.6.md
Owners: @everycure-org/code-reviewers

Release v1.6.11 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.11-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

Release v2.0.8 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.8-from-v2.0.6.md
Owners: @everycure-org/code-reviewers

Release v1.6.12 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.12-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

include crds
  pipelines/core_entities/conf/base/disease_list/parameters.yml
Owners: @everycure-org/core-maintainers

update docs
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

update docs
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

revert
  pipelines/core_entities/conf/base/disease_list/parameters.yml
Owners: @everycure-org/core-maintainers

update docs
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update lists
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
