Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Fix acquisition optimizer parameter in GaussianSearch gp_minimize call
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

primekg
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

test_combine_predictions halfway done - bug detected
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement parallel evaluation support in GaussianSearch using Optimizer
  pipelines/matrix/TUNING_PARALLEL_OPTIMIZATION.md
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance GaussianSearch to intelligently balance parallel evaluations and thread allocation for optimal CPU utilization
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
  pipelines/matrix/TUNING_PARALLEL_OPTIMIZATION.md
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix bug in fold combination
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

robokop kg only runs
  pipelines/matrix/conf/base/embeddings/catalog.yml
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove comment from input_paths.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Optimize GaussianSearch for 111 CPUs by enhancing parallel evaluation strategy and logging CPU utilization
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
  pipelines/matrix/OPTIMIZED_FOR_111_CPUS.md
  pipelines/matrix/WHY_NOT_ALL_PARALLEL.md
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add h3 node pool configuration for large ML workloads and update Argo resource settings in pipeline
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/SMT_DISABLED_IMPACT.md
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 node pool configuration for large ML workloads and update node locations
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Adjust max node count for GPU and H3 node pools and update CPU detection in GaussianSearch for improved resource management
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase max count for H3 node pools from 30 to 40 for enhanced capacity
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor model training and GaussianSearch to remove unnecessary device conversion, enhancing clarity and performance
  pipelines/matrix/CPU_ALLOCATION_SUMMARY.md
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove platform-specific dependencies for lightgbm and cupy-cuda12x from pyproject.toml to simplify installation
  pipelines/matrix/OPTIMIZED_FOR_111_CPUS.md
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Comment out GPU node pools in combined node pools for clarity and future reference
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Remove SMT Disabled Impact and Why Not Run All Trials in Parallel documentation for clarity and consolidation
  pipelines/matrix/SMT_DISABLED_IMPACT.md
  pipelines/matrix/TUNING_PARALLEL_OPTIMIZATION.md
  pipelines/matrix/WHY_NOT_ALL_PARALLEL.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 node configuration with increased CPU and memory limits for matrix generation
  pipelines/matrix/src/matrix/kedro4argo_node.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase max count for H3 node pools from 40 to 50 to enhance resource availability
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase max count for node pools from 10 to 30 to improve resource allocation
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/Dockerfile
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 spot node pools and update taints for large memory allocation
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

remove commented code
  pipelines/matrix/src/matrix/hooks.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add h3 spot node pools to locals and correct CPU limits for H3 matrix generation
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix file paths
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/sample/globals.yml
  pipelines/matrix/conf/test/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix memory limits for H3 node configuration in kedro4argo_node.py
  pipelines/matrix/Dockerfile
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix gcs paths
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/input_paths.py
  pipelines/matrix/tests/pipelines/run_comparison/test_input_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Reduce memory limits for H3 matrix generation node from 340 GiB to 300 GiB
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add H3 spot node pool and taint configuration for workload management
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Adding Node for Abox/Tbox
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

upadte catalog
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding Epistemic Robustness to Knowledge Source Pages
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/sources/bq/epistemic_score_by_knowledge_source.sql
Owners: @everycure-org/core-maintainers

Implement parallelization in predict_proba method for improved performance
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Uncomment GPU and spot GPU node pools in combined node pools configuration
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Enhance model prediction performance by repartitioning Spark DataFrame and removing joblib parallelization in predict_proba method
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor model creation to include n_jobs parameter for parallelization control in create_model function
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add location
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Delete epistemic_score.sql
  services/kg_dashboard/sources/bq/epistemic_score.sql
Owners: @everycure-org/core-maintainers

create memory efficient restrict predictions node and switch to partirioned dataframes
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

catalog updates and test exception
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/tests/integration/test_release_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
