Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.11.0/post.md
  docs/src/releases/posts/v0.11.0/post.md
Owners: @everycure-org/code-reviewers

feat: Add supported call types for Redis cache configuration in litellm (#1881)
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

feat: Add IAM member resource for Service Account User role in workbench configuration (#1883)
  infra/deployments/wg2/modules/workbench/main.tf
Owners: @everycure-org/infra

Refactor GaussianSearch class to use public attributes for dimensions, scoring, splitter, and n_calls
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

wip - bq parquet with external table dataset
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Replace ARGO_GPU_NODE_MEDIUM with ArgoResourceConfig for GPU resource allocation in pipeline
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

wip - move to eval abc
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase ephemeral storage request and limit for Argo resource configuration in prediction nodes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run comparison eval 1 working
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

tidy up
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluation.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/plots.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

tidy
  pipelines/matrix/conf/test/run_comparison/catalog.yml
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix return_predictions hardcoding bug
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
  pipelines/matrix/tests/pipelines/test_matrix_transformations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

cleanup
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ArgoNode configuration to include CPU and memory limits and requests
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add new GPU node configuration and adjust memory limits in pipeline
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Rename GPU node pool to include 'spot' in the name for clarity
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase GPU accelerator count to 2 for enhanced performance in node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase GPU count to 2 for improved performance in prediction nodes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase GPU accelerator count to 3 for enhanced performance in node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

store results
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/catalog.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement automatic GPU detection and configuration for Spark, enhancing performance with comprehensive tests and documentation
  GPU_SUPPORT_IMPLEMENTATION.md
  docs/src/infrastructure/GPU_CONFIGURATION.md
  infra/modules/stacks/compute_cluster/gke.tf
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Reduce GPU accelerator count to 2 for improved resource allocation in node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Refactor GPU node configurations to use g2-standard-32 machine type and adjust resource limits for optimized performance
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Optimize key_nodes_stats query performance by removing expensive descendant edge computations and sourcing from pre-computed release aggregate data
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/scripts/generate-release-trends-sql.cjs
  services/kg_dashboard/sources/bq/key_nodes_connected_categories.sql
  services/kg_dashboard/sources/bq/key_nodes_descendants.sql
  services/kg_dashboard/sources/bq/key_nodes_edges_breakdown.sql
  services/kg_dashboard/sources/bq/key_nodes_stats.sql
Owners: @everycure-org/core-maintainers

uncomment
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update transformer
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

added release info json
  docs/src/releases/changelog_files/v0.11.1_info.json
Owners: @everycure-org/code-reviewers

Reduce GPU count to 1 in Argo resource configuration for optimized resource allocation
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

added AI-generated release article for v0.11.1
  docs/src/releases/posts/v0.11.1/post.md
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

add resources
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add orchard matrix node
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

save v for orchard
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

udpate
  docs/src/assets/pipeline/matrix_generation_changes.svg
Owners: @everycure-org/code-reviewers

Adjust resource requests and limits for Argo GPU configuration to optimize performance
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Apply suggestions from code review
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust CPU and memory resource limits in Argo configuration for optimized performance
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
