Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Add timeout parameter to model configurations in litellm.yaml
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

Return a pandas dataset instead of spark.
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update base catalog
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml
  pipelines/matrix/conf/base/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move table generation to create_pks_documentation
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/tests/pipelines/document_kg/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add GCP backend policy configuration for litellm service
  infra/argo/applications/litellm-gateway/templates/gcp_backend_policy.yaml
Owners: @everycure-org/infra

Remove shard parameter from PandasBigQuery
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Update catalog
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding ABox TBox information to the Dashboard (#1930)
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/ontological-context.md
  services/kg_dashboard/sources/bq/abox_tbox_metric.sql
Owners: @everycure-org/core-maintainers

Improve Knowledge level and Agent type queries (#1928)
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/epistemic-robustness.md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/sources/bq/agent_type_distribution.sql
  services/kg_dashboard/sources/bq/agent_type_score.sql
  services/kg_dashboard/sources/bq/epistemic_heatmap.sql
  services/kg_dashboard/sources/bq/epistemic_score_by_knowledge_source.sql
  services/kg_dashboard/sources/bq/epistemic_scores.sql
  services/kg_dashboard/sources/bq/knowledge_level_distribution.sql
  services/kg_dashboard/sources/bq/knowledge_level_score.sql
Owners: @everycure-org/core-maintainers

Updating the cloud catalog to use GBQTableDataset
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove shard from PandasBQDataset (#1939)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump kedro to 0.19.15
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump kedro to 0.19.15 (#1940)
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add checks on ingestion for drug and disease lists
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix commented lines
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Format with RUFF
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Make all query functions in queries.py private
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update queries.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Factor SPARQL prefixes into separate method
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Unify prefixes in SPARQL queries
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Filter out deleted drug and disease
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor SPARQL query logic
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

More sparql select refactoring
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move the remaining Oxigraph specific stuff into queries.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix bug in decendants functions
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add typehints and docstring to all method signatures in nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Do some mypy code checking
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update queries.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Typehints in disease_list/pipeline.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove unnecessary comments
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove unnecessary queries
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert Dockerfile changes
  pipelines/matrix/Dockerfile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix spark temp path for base
  pipelines/matrix/conf/base/spark.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Chanbge TSV file to parquet
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change file type for disease list too
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add deleted to fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update docs
  docs/src/assets/run_comparison/inheritance.drawio.svg
  docs/src/pipeline/pipeline_steps/run_comparison.md
Owners: @everycure-org/code-reviewers

Fix drug and disease lists ingestion (#1942)
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add metrics to run comparison pipeline (#1905)
  docs/src/assets/run_comparison/inheritance.drawio.svg
  docs/src/assets/run_comparison/input_dataframe.drawio.svg
  docs/src/assets/run_comparison/matrix_harminisation.drawio.svg
  docs/src/pipeline/data_science/AUROC_MQR_equivalence.md
  docs/src/pipeline/data_science/evaluation_deep_dive.md
  docs/src/pipeline/pipeline_steps/.pages
  docs/src/pipeline/pipeline_steps/evaluation.md
  docs/src/pipeline/pipeline_steps/run_comparison.md
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/sample/globals.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers
