Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Release v1.2.9 notes for drug_list (#2019)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.9-from-v1.2.5.md
Owners: @everycure-org/code-reviewers

Reduce key node version granularity to major releases only (#1986)
  services/kg_dashboard/scripts/generate-release-sql.cjs
Owners: @everycure-org/core-maintainers

Release v1.0.17 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.17-from-v1.0.15.md
Owners: @everycure-org/code-reviewers

Release v1.2.11 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.11-from-v1.2.9.md
Owners: @everycure-org/code-reviewers

change to robokop, chunyu default filters
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add org taxon filter
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

plus high prevalence nodes
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix orgtaxon for robokop filter
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

robokop drug-drug
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add disease categories to test file
  pipelines/core_entities/data/test/01_raw/disease-categories.tsv
Owners: @everycure-org/core-maintainers

Satinize dataset name
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move disease LLM columns to disease categories (#2012)
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/data/test/01_raw/disease-categories.tsv
  pipelines/core_entities/scripts/compare_releases.py
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers

Fix release comparison
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Fix release comparison (#2023)
  pipelines/core_entities/scripts/compare_releases.py
Owners: @everycure-org/core-maintainers

Release v1.0.18 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.18-from-v1.0.15.md
Owners: @everycure-org/code-reviewers

Release v1.0.18 notes for disease_list (#2024)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.18-from-v1.0.15.md
Owners: @everycure-org/code-reviewers

Increase node pool sizes to include 80 nodes for n2d and standard configurations
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase node pool sizes to include 80 nodes for n2d and standard configurations (#2025)
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

update
  pipelines/matrix/conf/base/data_release/catalog.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Migrate matrix-schema package dependency to monorepo
  libs/matrix-pandera/src/matrix_pandera/__init__.py
  libs/matrix-pandera/src/matrix_pandera/enums.py
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  libs/matrix-pandera/src/matrix_pandera/validator.py
  libs/matrix-pandera/tests/test_schemas.py
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/transformer.py
  pipelines/matrix/tests/utils/test_pa_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/tests/pipelines/test_embeddings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update test
  pipelines/matrix/tests/pipelines/test_embeddings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update test
  pipelines/matrix/tests/pipelines/test_embeddings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

extend to allow multiple uri types
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

rm test catalog
  pipelines/matrix/conf/test/filtering/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enrich Neo4j KG with attributes useful to med team (#2026)
  pipelines/matrix/conf/base/data_release/catalog.yml
  pipelines/matrix/conf/test/filtering/catalog.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
  pipelines/matrix/tests/pipelines/test_embeddings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Satinize dataset name (#2022)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add -matrix to matrix releases' tag
  .github/workflows/create-post-pr-release.yml
  .github/workflows/submit-kedro-pipeline.yml
  docs/scripts/bump_version.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add BQ table for node norm mapping
  pipelines/matrix/conf/cloud/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove deduplication post-normalization
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add -matrix to matrix releases' tag (#2030)
  .github/workflows/create-post-pr-release.yml
  .github/workflows/submit-kedro-pipeline.yml
  docs/scripts/bump_version.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add category to all_categories
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update code to parse matrix tag before passing it to semver
  docs/scripts/bump_detection.py
  docs/scripts/bump_version.py
  docs/scripts/changelog_gen.py
  pipelines/matrix/src/matrix/git_utils.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Fix tests and logic
  pipelines/matrix/src/matrix/git_utils.py
  pipelines/matrix/tests/utils/test_git_utilities.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

robokop filtering run comparison
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

run comparison using transformed matrices
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove hardcoded versions
  pipelines/matrix/src/matrix/git_utils.py
  pipelines/matrix/tests/utils/test_git_utilities.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

chore: remove stale Vertex AI Workbench instances
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Fix code to parse matrix tag to get semantic version (#2032)
  docs/scripts/bump_detection.py
  docs/scripts/bump_version.py
  docs/scripts/changelog_gen.py
  pipelines/matrix/src/matrix/git_utils.py
  pipelines/matrix/tests/utils/test_git_utilities.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Fix imports
  docs/scripts/bump_detection.py
  docs/scripts/bump_version.py
  docs/scripts/changelog_gen.py
  docs/scripts/utils.py
Owners: @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
