Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

fix: comment out DATABASE_URL environment variable in deployment.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
Owners: @everycure-org/infra

fix: remove deployment.yaml file
  infra/argo/applications/litellm/templates/deployment.yaml
Owners: @everycure-org/infra

fix: remove route and service templates; add ingress configuration in values.yaml
  infra/argo/applications/litellm/templates/route.yaml
  infra/argo/applications/litellm/templates/service.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: update ingress host to use production environment
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: remove database and Redis configuration from values.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: update litellm application configuration with static values and enhanced ingress settings
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: add litellm DNS entry for certificate validation in cluster issuer
  infra/argo/applications/gateway/templates/cluster_issuer.yaml
Owners: @everycure-org/infra

fix: add external-dns annotation for litellm ingress configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: add litellm route configuration with explicit namespace reference
  infra/argo/applications/workflows/templates/route.yaml
Owners: @everycure-org/infra

slightly more strategic use of lazy vs eager
  apps/matrix-cli/src/matrix_cli/io/primekg.py
Owners: @everycure-org/core-maintainers

fix: remove deprecated ingress configuration and add litellm route definition
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm/templates/route.yaml
  infra/argo/applications/workflows/templates/route.yaml
Owners: @everycure-org/infra

fix: refactor litellm application configuration with dynamic values and add deployment, service, and configmap templates
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm/Chart.yaml
  infra/argo/applications/litellm/templates/configmap.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
  infra/argo/applications/litellm/templates/service.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: remove unnecessary dependencies from litellm Chart.yaml
  infra/argo/applications/litellm/Chart.yaml
Owners: @everycure-org/infra

fix: remove unused configuration and dependencies from litellm application files
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm/Chart.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: remove unnecessary dependencies from litellm Chart.yaml
  infra/argo/applications/litellm/Chart.yaml
Owners: @everycure-org/infra

fix: remove unused environment variables and resource configurations from litellm deployment
  infra/argo/applications/litellm/templates/deployment.yaml
Owners: @everycure-org/infra

fix: remove commented-out environment variable configurations from litellm values.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

fix: update hostname format in litellm route configuration
  infra/argo/applications/litellm/templates/route.yaml
Owners: @everycure-org/infra

fix: remove unused certificate configuration from litellm templates
  infra/argo/applications/litellm/templates/certificate.yaml
Owners: @everycure-org/infra

feat: add GCPBackendPolicy and ExternalSecret configurations for litellm
  infra/argo/applications/litellm/templates/gcp_backend_policy.yaml
Owners: @everycure-org/infra

feat: add litellm-gateway application and related configurations
  infra/argo/app-of-apps/templates/litellm-gateway.yaml
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/Chart.yaml
  infra/argo/applications/litellm-gateway/templates/gcp_backend_policy.yaml
  infra/argo/applications/litellm-gateway/templates/route.yaml
  infra/argo/applications/litellm-gateway/values.yaml
  infra/argo/applications/litellm/Chart.yaml
  infra/argo/applications/litellm/templates/configmap.yaml
  infra/argo/applications/litellm/templates/deployment.yaml
  infra/argo/applications/litellm/templates/service.yaml
  infra/argo/applications/litellm/values.yaml
Owners: @everycure-org/infra

feat: add certificate, external secrets, GCP backend policy, and route configurations for litellm
  infra/argo/applications/litellm-gateway/templates/certificate.yaml
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
  infra/argo/applications/litellm/templates/gcp_backend_policy.yaml
  infra/argo/applications/litellm/templates/route.yaml
Owners: @everycure-org/infra

feat: add litellm-db secret configuration to external secrets
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
Owners: @everycure-org/infra

update to only edge kg
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove unnecessary role bindings from IAM module
  infra/deployments/hub/prod/iam.tf
Owners: @everycure-org/infra

fix: remove litellm DNS entry from ClusterIssuer configuration
  infra/argo/applications/gateway/templates/cluster_issuer.yaml
Owners: @everycure-org/infra

fix: remove certificate configuration for litellm-gateway
  infra/argo/applications/litellm-gateway/templates/certificate.yaml
Owners: @everycure-org/infra

fix: remove default values for litellm-gateway configuration
  infra/argo/applications/litellm-gateway/values.yaml
Owners: @everycure-org/infra

fix: remove unnecessary hostname from argo-workflows route configuration
  infra/argo/applications/workflows/templates/route.yaml
Owners: @everycure-org/infra

more better lazy vs eager
  pipelines/matrix/src/matrix/pipelines/preprocessing/primekg_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changing preproccessing test path
  pipelines/matrix/conf/test/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

changing path
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/conf/test/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modified catalog for pre2010 edges
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adds (temporary) debugging panel to knowledge graph flow diagram, with toggle for force layout -- and it doesn't work without the force layout
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

default to force layout on, remove toggle from ui, still need to remove elsewhere
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

update knowledge graph flow title to leave out max number of sources, since it can be far less!
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

refactor: remove early stopping callback from LightGBM model tuning parameters
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/embeddings/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update LightGBM model configuration to use GPU and set default parameters
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
