Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Update test_release_paths.py
  pipelines/matrix/tests/integration/test_release_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove dataset publication verification nodes
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run ruff
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove <> around link
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Implement EC Core Connectivity metrics (#1956)
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/tests/integration/test_release_paths.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Hugging Face dataset keys for data publication
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Run ruff formatting
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
Owners: @everycure-org/core-maintainers

Delete parameters.yml
  pipelines/matrix/conf/base/data_publication/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update data publication catalog and pipeline keys
  pipelines/matrix/conf/base/data_publication/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Rename integration.prm.unified_nodes to integration.prm.unified_nodes@spark
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/create_sample/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingest_to_N4J/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update dataset references to use Spark variant
  docs/src/releases/posts/2024-11-27v0.2.5/post.md
Owners: @everycure-org/code-reviewers

Add kedro catalog resolve for sample environment
  .github/workflows/matrix-ci.yml
Owners: @everycure-org/core-maintainers

Update catalog source names for Spark integration in sample pipeline
  pipelines/matrix/conf/sample/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add comment to test ontology class
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/mondo_ontology.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add future comment
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

ECM-730: Implement basic dataset-based known entity removal filter (#1973)
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/known_entity_removal/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/__init__.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/mondo_ontology.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_mondo_ontology.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Rename `integration.prm.unified_nodes` (and edges) datasets to `integration.prm.unified_nodes@spark` (#1982)
  .github/workflows/matrix-ci.yml
  docs/src/releases/posts/2024-11-27v0.2.5/post.md
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/conf/sample/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/create_sample/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingest_to_N4J/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Replace '|' with ';' and expand acronyms in TA
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Remove '@spark' suffix from prefiltered_nodes input
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change data leakage test to happen on EC_id
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enforce core categories
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add documentation on curated annotations to EC Drugs List docs page (#1980)
  docs/src/assets/pipeline/drug_class_distribution.png
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Enforce core categories (#1983)
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

WIP - Update run comparison parameters
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

start orchard dataset
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add preprocess orchard pairs node
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Hugging Face repo IDs in catalog config
  pipelines/matrix/conf/base/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add pandera check to preprocess orchard node and switch to datetime timestamp
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add orchard pairs fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Additional pull from main
  uv.lock
Owners: @everycure-org/core-maintainers

run pre2010, stdsplit using xg_synth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

run pre2010, stdsplit using xg_baseline
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

run pre2010 timespliter using xg_baseline
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

run pre2010 timespliter using xg_ensemble
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

run pre2010 timespliter using xg_synth
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove unnecessary check for empty pks & upstream_data_source
  services/kg_dashboard/sources/bq/key_nodes_source_breakdown.sql
Owners: @everycure-org/core-maintainers

Add missing key node dashboard query & viz for sources (#1971)
  services/kg_dashboard/pages/_components/KeyNodeSourceFilters.svelte
  services/kg_dashboard/sources/bq/key_nodes_source_breakdown.sql
Owners: @everycure-org/core-maintainers

Remove ec_id joins
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
