Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

moving code to nodes
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing
  pipelines/matrix/src/matrix/pipelines/preprocessing/primekg_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

code has moved
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating document_kg pipeline
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: update port forward instructions for local testing in LiteLLM setup documentation
  docs/src/infrastructure/LiteLLM-Setup.md
Owners: @everycure-org/code-reviewers

feat: update authorization method to use LITELLM_VIRTUAL_KEY in API requests
  docs/src/infrastructure/LiteLLM-Setup.md
Owners: @everycure-org/code-reviewers

feat: enhance LiteLLM setup documentation with client initialization examples for OpenAI, Pydantic, and LangChain
  docs/src/infrastructure/LiteLLM-Setup.md
Owners: @everycure-org/code-reviewers

fix: remove unnecessary lines from LiteLLM setup documentation
  docs/src/infrastructure/LiteLLM-Setup.md
Owners: @everycure-org/code-reviewers

feat: add comprehensive LiteLLM Admin and User guides for deployment and usage instructions
  docs/src/infrastructure/LiteLLM-Admin-Guide.md
  docs/src/infrastructure/LiteLLM-Usage.md
  docs/src/infrastructure/LiteLLM-User-Guide.md
Owners: @everycure-org/code-reviewers

refactor: update multi-model pipeline to support multiple models and improve node naming conventions
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

formatting, adding dedup to nodes
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

more consistent naming
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

reverting
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: add TODO comment to make_predictions_and_sort for potential transformer column extraction
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: correct function call in create_pipeline to use create_model_pipeline for model generation
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update create_pipeline to handle multiple models in dynamic pipelines mapping
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove make install from pipelines/matrix and clean docs (#1859)
  .github/workflows/create-sample-release.yml
  .github/workflows/scheduled-sampling-pipeline.yml
  .github/workflows/submit-kedro-pipeline.yml
  Makefile
  README.md
  docs/src/getting_started/first_steps/local-setup.md
  docs/src/references/common_errors.md
  infra/deployments/wg2/setup_vertex_workbench.sh
  pipelines/matrix/Makefile
  pipelines/matrix/README.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Add error if gid is not found
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Add error message if Google Sheet's gid is missing (#1862)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Feat/add validator to ingestion (#1794)
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/ingestion/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/src/matrix/utils/validation.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing validate call
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

keep the layout debug panel, but only show it when show queries is selected, since that is functionally the debug mode for evidence.dev
  services/kg_dashboard/pages/_components/KnowledgeSourceFlowGraph.svelte
Owners: @everycure-org/core-maintainers

removing poorly formatted columns
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing patch version
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing version
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding violations file
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

cleaning
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing typo
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing typo
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add catalog entries for normalization_summary tables (output of the union of summaries)
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move make command with other sources ones
  services/kg_dashboard/Makefile
Owners: @everycure-org/core-maintainers

making version a string
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing 2 columns
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing comments
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add model wrapper and predictions dataset configurations to catalog
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: implement model packaging and ensemble prediction in matrix generation pipeline
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_generation/parameters.yml
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: simplify model packaging by removing TransformingModelWrapper and integrating preprocessing directly into ModelWrapper
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: rename model_wrapper to wrapper in predictions generation for consistency
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add lightweight model wrapper with preprocessing for enhanced prediction capabilities
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
