Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add a few needed SPARQL queries
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/disease-groupings-other.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/downfill-disease-groupings.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/inject-mondo-top-grouping.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/inject-subset-declaration.ru
  pipelines/matrix/src/matrix/pipelines/disease_list/queries/inject-susceptibility-subset.ru
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ARGO node configuration to utilize GPU for matrix generation
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update topological estimator concurrency to 63 for n2d-standard-64 machine compatibility
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ARGO node configuration to utilize GPU for model folding
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add logging for hyperparameter tuning initiation
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase concurrency for topological estimator to 64 for improved performance on n2d-standard-64 machines
  pipelines/matrix/conf/base/embeddings/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add CUDA support utilities and update model training to utilize device management
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enable asynchronous execution for Kedro runs in workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Updated uv.lock file
  uv.lock
Owners: @everycure-org/core-maintainers

Refactor GaussianSearch class to use public attributes for dimensions, scoring, splitter, and n_calls
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ArgoNode configuration to include CPU and memory limits and requests
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Replace ARGO_GPU_NODE_MEDIUM with ArgoResourceConfig for GPU resource allocation in pipeline
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase ephemeral storage request and limit for Argo resource configuration in prediction nodes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove asynchronous flag from Kedro run commands in Argo workflow template for consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase GPU accelerator count to 2 for enhanced performance in node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Add new GPU node configuration and adjust memory limits in pipeline
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase GPU accelerator count to 3 for enhanced performance in node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Rename GPU node pool to include 'spot' in the name for clarity
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Increase GPU count to 2 for improved performance in prediction nodes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement automatic GPU detection and configuration for Spark, enhancing performance with comprehensive tests and documentation
  GPU_SUPPORT_IMPLEMENTATION.md
  docs/src/infrastructure/GPU_CONFIGURATION.md
  infra/modules/stacks/compute_cluster/gke.tf
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Reduce GPU count to 1 in Argo resource configuration for optimized resource allocation
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Reduce GPU accelerator count to 2 for improved resource allocation in node pools
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Add location policy to node configurations for flexible resource allocation
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

Refactor GPU node configurations to use g2-standard-32 machine type and adjust resource limits for optimized performance
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust resource requests and limits for Argo GPU configuration to optimize performance
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust CPU and memory resource limits in Argo configuration for optimized performance
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor Argo resource configuration in create_pipeline to use predefined settings
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix formatting of GPU task resource allocation comments for consistency
  GPU_SUPPORT_IMPLEMENTATION.md
  docs/src/infrastructure/GPU_CONFIGURATION.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove gpu_only parameter from predict_proba method in ModelWrapper and update usage in ModelWithTransformers
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add debug logging to make_predictions_and_sort for better traceability
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add GPU support to predict_proba method and implement to_cpu utility function
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/preprocessing_model.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adjust GPU task resource allocation to allow concurrent task execution
  GPU_SUPPORT_IMPLEMENTATION.md
  docs/src/infrastructure/GPU_CONFIGURATION.md
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance logging in make_predictions_and_sort and ModelWrapper for improved traceability and debugging
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove redundant logging from make_predictions_and_sort and ModelWrapper methods for cleaner output
  docs/src/infrastructure/GPU_CONFIGURATION.md
  docs/src/infrastructure/GPU_SUPPORT_IMPLEMENTATION.md
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Remove AI assistance note from test_spark_utils.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers

Update cupy-cuda12x dependency to install only on Linux
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance GPU detection in spark_utils and improve test coverage in test_spark_utils
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/conftest.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
Owners: @everycure-org/core-maintainers

Remove AI assistance note from spark_utils.py
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
Owners: @everycure-org/core-maintainers

Remove unused GPU node pool configurations from GKE Terraform module
  infra/modules/stacks/compute_cluster/gke.tf
Owners: @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
