Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Refactor extract_metadata_from_mondo
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactoring create_billable_icd10_template
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor create_subtypes_template
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean up params
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement run comparison pipeline (#1890)
  .vscode/settings.json
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/cli_commands/run.py
  pipelines/matrix/src/matrix/datasets/multi_predictions.py
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding ABox TBox information to the Dashboard
  services/kg_dashboard/Makefile
  services/kg_dashboard/evidence.config.yaml
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/ontological-context.md
  services/kg_dashboard/sources/bq/abox_tbox_metric.sql
Owners: @everycure-org/core-maintainers

Update docs/src/releases/posts/v0.12.0/post.md
  docs/src/releases/posts/v0.12.0/post.md
Owners: @everycure-org/code-reviewers

Update docs/src/releases/posts/v0.12.0/post.md
  docs/src/releases/posts/v0.12.0/post.md
Owners: @everycure-org/code-reviewers

mondo subclass_of edge removed
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor disease list pipeline to support SPARQL UPDATE queries
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactored the last method
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove NVIDIA GPU configuration from Dockerfile
  pipelines/matrix/Dockerfile
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add initial RBAC configuration for GitHub Actions Runner Controller
  infra/argo/app-of-apps/templates/gha-runner-rbac.yaml
  infra/argo/applications/gha-runner-rbac/Chart.yaml
  infra/argo/applications/gha-runner-rbac/templates/clusterrole.yaml
  infra/argo/applications/gha-runner-rbac/values.yaml
Owners: @everycure-org/infra

Apply suggestions from code review
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Update ec_drug_list.md
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

redo baseline stdsplit xg_baseline modeling
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add EC Drug List documentation (#1925)
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Bump disease and drug versions
  .vscode/settings.json
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Apply suggestion from @JacquesVergine
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Apply suggestion from @JacquesVergine
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump disease and drug versions (#1931)
  .vscode/settings.json
  pipelines/matrix/conf/base/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

moved robokop tasks to ingestion
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

moved robokop tasks to ingestion
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding polars_lazy_csv, adding low_memory to polars_csv, adding preprocessing targets
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adding preprocessing targets for robokop
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

removing preprocessing targets for robokop
  pipelines/matrix/conf/base/preprocessing/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

initial commit
  pipelines/matrix/src/matrix/pipelines/ingestion/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing type for label columns
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
Owners: @everycure-org/core-maintainers

preprocessing takes care renames
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

turning on validation
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating
  uv.lock
Owners: @everycure-org/core-maintainers

fixing renamed edges columns
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Bump docs python version
  docs/app.yaml
Owners: @everycure-org/code-reviewers

Bump docs python version (#1933)
  docs/app.yaml
Owners: @everycure-org/code-reviewers

Update ec_drug_list.md to remove hardcoded version number
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Update xgboost dependency to xgboost-cpu version 3.1.1 and remove nvidia-nccl-cu12 package
  uv.lock
Owners: @everycure-org/core-maintainers

Add FAQ section with solution for FileNotFoundError on MacOS and Windows
  README.md
Owners: @everycure-org/core-maintainers

Nelson/ecdata 817 error building xgboost cpu due to missing cmake (#1935)
  README.md
  uv.lock
Owners: @everycure-org/core-maintainers

Add details of uncommited git files for debugging
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/git_utils.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Apply suggestions from code review
  pipelines/matrix/src/matrix/cli_commands/experiment.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
