Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

XDATA-285 Improve outputs from connectivity metrics pipeline (#2084)
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update data release node to include primary_knowledge_source which will match the new integration pipeline
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Pre2014 xgensemble std split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Pre2014 xgsynth std split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Pre2014 xgensemble predefined TS
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

XDATA-263 Implement Ontology Inclusion Score (#2090)
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Pre2014 xgsynth predefined TS
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Pre2014 xgbaseline predefined TS
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Baseline xgensemble std split
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Baseline xgsynth std split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Baseline xgbaseline std split
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Baseline xgbaseline predefined TS
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Baseline xgensemble predefined TS
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Baseline xgsynth predefined TS
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

improve logic
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Subset xgsynth predefined TS
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Subset xgensemble predefined TS
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Subset xgbase predefined TS
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update README with links to data and heatmap
  README.md
Owners: @everycure-org/core-maintainers

Update README with links to data and heatmap (#2109)
  README.md
Owners: @everycure-org/core-maintainers

drop qualifiers columns from select in embeddings
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

adopt kedro-argo
  libs/matrix-mlflow-utils/pyproject.toml
  libs/matrix-mlflow-utils/src/matrix_mlflow_utils/mlflow_utils.py
  pipelines/core_entities/pyproject.toml
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/base/mlflow.yml
  pipelines/matrix/conf/base/preprocessing/catalog.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/argo.py
  pipelines/matrix/src/matrix/cli.py
  pipelines/matrix/src/matrix/cli_commands/__init__.py
  pipelines/matrix/src/matrix/cli_commands/experiment.py
  pipelines/matrix/src/matrix/cli_commands/run.py
  pipelines/matrix/src/matrix/hooks.py
  pipelines/matrix/src/matrix/kedro4argo_node.py
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/src/matrix/utils/argo.py
  pipelines/matrix/src/matrix/utils/kubernetes.py
  pipelines/matrix/templates/argo_wf_spec.tmpl
  pipelines/matrix/templates/argo_wf_spec_stress_test.tmpl
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix hook
  pipelines/matrix/src/matrix/hooks.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Increase fabricated drug/disease pool from 20 to 110 to fix generate_pairs duplicate (source, target) error in CII
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating comments
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add env vars
  .vscode/settings.json
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update drugbank source
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Update drugbank test file
  pipelines/core_entities/conf/test/globals.yml
  pipelines/core_entities/data/test/01_raw/drugbank-drug-list.tsv
  pipelines/core_entities/data/test/01_raw/drugbank-salt-list.tsv
  pipelines/core_entities/data/test/01_raw/drugbank_identifiers.csv
Owners: @everycure-org/core-maintainers

Add drugbank check input
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

disable bigquery ingest
  pipelines/matrix/conf/cloud/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/ingestion/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update GitHub Actions Runner image to version 2.332.0
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

correct machine types
  pipelines/matrix/conf/base/argo.yml
  pipelines/matrix/src/matrix/pipelines/batch/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update drugbank source file (#2113)
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/conf/base/globals.yml
  pipelines/core_entities/conf/test/globals.yml
  pipelines/core_entities/data/test/01_raw/drugbank-drug-list.tsv
  pipelines/core_entities/data/test/01_raw/drugbank-salt-list.tsv
  pipelines/core_entities/data/test/01_raw/drugbank_identifiers.csv
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Update cloud globals
  pipelines/core_entities/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers

Update cloud globals (#2115)
  pipelines/core_entities/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers

improve biolinkdeduplicatedges filter
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
