Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

Refactor tune_parameters to merge base estimator parameters with tuned parameters for improved consistency
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance tune_parameters function to merge base estimator parameters with tuned parameters, preserving important configurations and improving logging for clarity.
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove AI assistance note from tune_parameters function
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance hyperparameter tuning logging and preserve base estimator parameters
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

committing local changes: optuna weighting, embedding path changes
  .github/workflows/submit-kedro-pipeline.yml
  pipelines/matrix/conf/base/embeddings/catalog.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble_weighted.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/test/globals.yml
  pipelines/matrix/src/matrix/datasets/files.py
  pipelines/matrix/src/matrix/pipelines/modelling/graph_utils.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/transformers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

committing local changes: optuna weighting, embedding path changes
  pipelines/matrix/src/matrix/pipelines/modelling/graph_utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  docs/src/pipeline/architecture_decision_records/drug-list-migration.md
Owners: @everycure-org/code-reviewers

update
  docs/src/pipeline/architecture_decision_records/drug-list-migration.md
Owners: @everycure-org/code-reviewers

change uv
  uv.lock
Owners: @everycure-org/core-maintainers

update transformers spoke
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update test
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update pyproject
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean
  pipelines/matrix/conf/test/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

chore: update kube-prometheus-stack dependency version to 78.2.1
  infra/argo/applications/kube-prometheus-stack/Chart.yaml
Owners: @everycure-org/infra

rm whitespace
  .github/workflows/create-release-pr.yml
Owners: @everycure-org/core-maintainers

implement MatrixPairs class
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add Grafana Tempo application and update Argo workflows with metrics bucket name
  infra/argo/app-of-apps/templates/grafana-tempo.yaml
  infra/argo/applications/grafana-tempo/Chart.yaml
  infra/argo/applications/grafana-tempo/values.yaml
  infra/modules/stacks/compute_cluster/argo/argo.tf
  infra/modules/stacks/compute_cluster/argo/variables.tf
Owners: @everycure-org/infra

feat: add Google Storage bucket resource for metrics and update Argo module configuration
  infra/modules/stacks/compute_cluster/services.tf
Owners: @everycure-org/infra

clean_and_update
  pipelines/matrix/conf/base/document_kg/parameters.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: wrap Helm template in quotes for valid YAML in Grafana Tempo values
  infra/argo/applications/grafana-tempo/values.yaml
Owners: @everycure-org/infra

fix: remove unnecessary comments in Grafana Tempo values.yaml for clarity
  infra/argo/applications/grafana-tempo/values.yaml
Owners: @everycure-org/infra

fix: update tempo-distributed dependency version to 1.48.0 in Chart.yaml
  infra/argo/applications/grafana-tempo/Chart.yaml
Owners: @everycure-org/infra

feat: add HTTPRoute configuration for Grafana Tempo in route.yaml
  infra/argo/applications/grafana-tempo/templates/route.yaml
Owners: @everycure-org/infra

clean up
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/fabricator/catalog.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove obsolete HTTPRoute configuration for Grafana Tempo in route.yaml
  infra/argo/applications/grafana-tempo/templates/route.yaml
Owners: @everycure-org/infra

revert
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add negative and off label
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update pipeline
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

start unit test
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

bring back dataset
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change argo params to request more memory to test modelling random forest failures
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert to std shuffle split for pre2014 kg (increased mem for RF)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Revert to std shuffle split for subsetkg
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use predefined time split for subsetkg (RF modeling)
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Use predefined time split for subsetkg and return memory limit to 256 (xg_synth modeling)
  pipelines/matrix/src/matrix/kedro4argo_node.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
