Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

fix: add image configuration for mlflow in values.yaml
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: update mlflow image configuration to use Global imageRegistry
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: correct casing of 'Global' to 'global' in mlflow configuration
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: move global imageRegistry configuration to mlflow.yaml
  infra/argo/app-of-apps/templates/mlflow.yaml
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: add security configuration to allow insecure images in mlflow.yaml
  infra/argo/app-of-apps/templates/mlflow.yaml
Owners: @everycure-org/infra

fix: add global imageRegistry and security configuration in values.yaml
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: add global imageRegistry and security configuration to values.yaml
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: update mlflow dependency version to 1.4.22 in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update mlflow appVersion and dependency version in Chart.yaml; remove global imageRegistry and security configuration from values.yaml and mlflow.yaml
  infra/argo/app-of-apps/templates/mlflow.yaml
  infra/argo/applications/mlflow/Chart.yaml
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: add annotations for images in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update image references in Chart.yaml to use the correct bitnami repository
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update image references in Chart.yaml and values.yaml to use the bitnamilegacy repository
  infra/argo/applications/mlflow/Chart.yaml
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

fix: update mlflow dependency version to 1.4.22 in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

fix: update appVersion to 1.0.0 in Chart.yaml
  infra/argo/applications/mlflow/Chart.yaml
Owners: @everycure-org/infra

update
  docs/src/assets/pipeline/ingestion_changes.svg
Owners: @everycure-org/code-reviewers

Adjust concurrency in GDSGraphSage initialization based on test mode environment variable
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update targetRevision to use variable for repo revision in argo.tf
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

Nelson/aip 586 fix mlflow image pull issue due to bitnami changes (#1891)
  infra/argo/applications/mlflow/values.yaml
Owners: @everycure-org/infra

update
  docs/src/assets/pipeline/matrix_generation_changes.svg
Owners: @everycure-org/code-reviewers

Refactor concurrency handling in GDS algorithms and remove test mode environment variable
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/src/matrix/pipelines/embeddings/graph_algorithms.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add adr doc
  docs/src/pipeline/architecture_decision_records/drug-list-migration.md
Owners: @everycure-org/code-reviewers

Update RandomForestClassifier to use cuML and adjust dependencies for CUDA support
  pipelines/matrix/conf/base/modelling/parameters/rf.yml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix syntax error in pyproject.toml for cuML dependency on Linux
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update cupy dependency for CUDA support on Linux
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Ensure Cupy is imported only when GPUs are detected, raising an error otherwise
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance device handling in to_estimator_device function to log errors and fallback to CPU arrays when CuPy is unavailable
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Enhance GPU detection and error handling for CuPy import in utils.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

wip
  docs/src/pipeline/architecture_decision_records/drug-list-migration.md
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipeline_registry.py
  uv.lock
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Update cudf import to use cudf.pandas for compatibility with recent changes
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

use unified normalization summary rather than union of selects from specific tables
  services/kg_dashboard/sources/bq/edge_failed_normalization_examples.sql
Owners: @everycure-org/core-maintainers

simplify parser/parsers
  pipelines/matrix/src/matrix/pipelines/document_kg/parser.py
  pipelines/matrix/src/matrix/pipelines/document_kg/parsers.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update spoke
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update tree_method in xg_ensemble.yml to use gpu_hist for GPU acceleration
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update tree_method in xg_ensemble.yml to use cuda_hist for improved GPU compatibility
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add logging for GPU detection and tuner parameters in nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove logging of tuner parameters in tune_parameters function
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update n_jobs parameter in xg_ensemble.yml to use -1 for parallel processing
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

start matrix pairs, modify evaluations
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/datasets/multi_matrices.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

implement matrix pairs minus comments and almost finished node
  pipelines/matrix/src/matrix/pipelines/run_comparison/matrix_pairs.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update tree_method in xg_ensemble.yml to use gpu_hist for consistency with GPU acceleration
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
