Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

update
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update globals
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update params
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update params, globals, settings
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v2.0.9 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.9-from-v2.0.6.md
Owners: @everycure-org/code-reviewers

Release v1.6.13 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.13-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

Apply suggestions from code review
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

Update docs/src/pipeline/data/drug_disease_lists.md
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

Update docs/src/pipeline/data/drug_disease_lists.md
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

Update disease list documentation + CRD inclusion in core disease list (#2230)
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

update to rtx
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update to eckg
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v2.0.10 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.10-from-v2.0.6.md
Owners: @everycure-org/code-reviewers

Release v1.6.14 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.14-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

feat: grant temporary access for Alan Hueb to v0.8.2 release data
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

feat: grant temporary and bucket-level access for Alan Hueb to v0.8.2 release data
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

Nelson/ops 364 grant storage access to alan from scripps (#2237)
  infra/deployments/hub/dev/storage.tf
Owners: @everycure-org/infra

fix paths
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update filtering params
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update to rtx
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update to robokop
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update params
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v2.0.11 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.11-from-v2.0.6.md
Owners: @everycure-org/code-reviewers

Release v1.6.15 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.15-from-v1.6.7.md
Owners: @everycure-org/code-reviewers

Removed neo4j dns resolution
  infra/argo/app-of-apps/templates/neo4j.yaml
  infra/argo/applications/gateway/templates/cluster_issuer.yaml
  infra/argo/applications/neo4j/templates/certificate.yaml
Owners: @everycure-org/infra

Release v1.6.16 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.16-from-v1.6.14.md
Owners: @everycure-org/code-reviewers

Removed neo4j dns resolution (#2245)
  infra/argo/app-of-apps/templates/neo4j.yaml
  infra/argo/applications/gateway/templates/cluster_issuer.yaml
  infra/argo/applications/neo4j/templates/certificate.yaml
Owners: @everycure-org/infra

Removed certs
  infra/argo/applications/neo4j/templates/certificate.yaml
Owners: @everycure-org/infra

Removed certs
  infra/argo/applications/neo4j/templates/certificate.yaml
Owners: @everycure-org/infra

Ignore replicas set in ArgoCD so we could manually scale down Neo4j to 0 while keeping the disk in-case we want to reveert
  infra/argo/app-of-apps/templates/neo4j.yaml
Owners: @everycure-org/infra

Release v1.6.16 notes for drug_list (#2246)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.16-from-v1.6.14.md
Owners: @everycure-org/code-reviewers

Release v1.6.17 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.17-from-v1.6.16.md
Owners: @everycure-org/code-reviewers

Ignore replicas set in ArgoCD so we could manually scale down Neo4j to 0 while keeping the disk in-case we want to reveert (#2247)
  infra/argo/app-of-apps/templates/neo4j.yaml
Owners: @everycure-org/infra

Remove MLFlow Route
  infra/argo/applications/mlflow/templates/route.yaml
Owners: @everycure-org/infra

Release v1.6.18 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.18-from-v1.6.16.md
Owners: @everycure-org/code-reviewers

Disable MLFlow as we have migrated everything to AI Platform
  infra/argo/app-of-apps/disabled/mlflow.yaml
Owners: @everycure-org/infra

Disabled Github Runners as AI Platform is being used as the sole runner
  infra/argo/app-of-apps/disabled/gha-runner-scale-set-controller.yaml
  infra/argo/app-of-apps/disabled/gha-runner-scale-set.yaml
Owners: @everycure-org/infra

Release v1.6.18 notes for drug_list (#2249)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.18-from-v1.6.16.md
Owners: @everycure-org/code-reviewers

Release v2.0.11 notes for disease_list (#2243)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.11-from-v2.0.6.md
Owners: @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
