Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Adding Epistemic Robustness to Knowledge Source Pages (#1896)
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/sources/bq/epistemic_score.sql
  services/kg_dashboard/sources/bq/epistemic_score_by_knowledge_source.sql
Owners: @everycure-org/core-maintainers

simplify normalization queries by use the normalization stats tables
  services/kg_dashboard/sources/bq/edge_failed_normalization_examples.sql
  services/kg_dashboard/sources/bq/normalization.sql
Owners: @everycure-org/core-maintainers

update
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update pathways with grouped nodes
  pipelines/matrix/conf/base/ingestion/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding Relevancy Scores to Dashboard
  services/kg_dashboard/Makefile
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/scripts/load-matrix-reviews.cjs
  services/kg_dashboard/sources/matrix_reviews/connection.yaml
  services/kg_dashboard/sources/matrix_reviews/relevancy_scores.sql
Owners: @everycure-org/core-maintainers

Enhance GKE configuration with additional node pools and increase max count for scalability
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/src/matrix/kedro4argo_node.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update Argo node configuration to use MEDIUM_MATRIX_GENERATION for prediction nodes
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove n_jobs parameter from create_model function to prevent resource contention in PySpark
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

rm old workbenches after 3 months
  .github/workflows/cleanup-stale-workbenches.yml
Owners: @everycure-org/core-maintainers

fix random classifier
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update unit test
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update restrict predictions unit tests
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

create memory efficient restrict predictions node and switch to partitioned datasets (#1898)
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix - When from-run is string 'None' it breaks
  pipelines/matrix/src/matrix/cli_commands/run.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

example huggingface dataset
  pipelines/huggingface-dataset-demo/.gitignore
  pipelines/huggingface-dataset-demo/README.md
  pipelines/huggingface-dataset-demo/conf/README.md
  pipelines/huggingface-dataset-demo/conf/base/catalog.yml
  pipelines/huggingface-dataset-demo/conf/base/parameters.yml
  pipelines/huggingface-dataset-demo/conf/base/parameters_data_processing.yml
  pipelines/huggingface-dataset-demo/conf/base/parameters_data_science.yml
  pipelines/huggingface-dataset-demo/conf/base/parameters_reporting.yml
  pipelines/huggingface-dataset-demo/conf/base/spark.yml
  pipelines/huggingface-dataset-demo/conf/local/.gitkeep
  pipelines/huggingface-dataset-demo/notebooks/.gitkeep
  pipelines/huggingface-dataset-demo/pyproject.toml
  pipelines/huggingface-dataset-demo/requirements.txt
  pipelines/huggingface-dataset-demo/src/hf_kedro/__init__.py
  pipelines/huggingface-dataset-demo/src/hf_kedro/datasets/hf_iterable_dataset.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/__init__.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/__main__.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/hooks.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipeline_registry.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipelines/__init__.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipelines/kg_edges/__init__.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipelines/kg_edges/nodes.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipelines/kg_edges/pipeline.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/settings.py
  pipelines/huggingface-dataset-demo/uv.lock
Owners: @everycure-org/core-maintainers

update structure and read/write to all 3 formats
  pipelines/huggingface-dataset-demo/conf/base/catalog.yml
  pipelines/huggingface-dataset-demo/pyproject.toml
  pipelines/huggingface-dataset-demo/pytest.ini
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/hf_kedro/__init__.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/hf_kedro/datasets/hf_iterable_dataset.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipelines/kg_edges/nodes.py
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/pipelines/kg_edges/pipeline.py
Owners: @everycure-org/core-maintainers

add integration tests
  pipelines/huggingface-dataset-demo/pytest.ini
  pipelines/huggingface-dataset-demo/tests/README.md
  pipelines/huggingface-dataset-demo/tests/conftest.py
  pipelines/huggingface-dataset-demo/tests/integration/__init__.py
  pipelines/huggingface-dataset-demo/tests/integration/test_hf_dataset_integration.py
  pipelines/huggingface-dataset-demo/tests/unit/test_hf_dataset.py
  pipelines/huggingface-dataset-demo/uv.lock
Owners: @everycure-org/core-maintainers

Update pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update unit tests
  pipelines/matrix/conf/base/run_comparison/catalog.yml
  pipelines/matrix/src/matrix/cli_commands/run.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update type hints and doc strings
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update with working in pipeline
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
  libs/matrix-gcp-datasets/tests/README.md
  libs/matrix-gcp-datasets/tests/conftest.py
  libs/matrix-gcp-datasets/tests/integration/__init__.py
  libs/matrix-gcp-datasets/tests/integration/test_hf_dataset_integration.py
  libs/matrix-gcp-datasets/tests/unit/test_hf_dataset.py
  pipelines/huggingface-dataset-demo/conf/base/catalog.yml
  pipelines/huggingface-dataset-demo/pyproject.toml
  pipelines/huggingface-dataset-demo/src/huggingface_dataset_demo/hf_kedro/__init__.py
  pipelines/huggingface-dataset-demo/tests/conftest.py
  pipelines/huggingface-dataset-demo/uv.lock
  pipelines/matrix/conf/base/data_release/catalog.yml
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix weird bug in unit test
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/tests/pipelines/run_comparison/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Adding Node for Abox/Tbox (#1895)
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/tests/integration/test_release_paths.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add permission for evidence project to read BQ
  infra/deployments/hub/dev/iam.tf
Owners: @everycure-org/infra

add permission for evidence project to read BQ (#1901)
  infra/deployments/hub/dev/iam.tf
Owners: @everycure-org/infra

hotfix: minimal typo in infra file comment
  infra/deployments/hub/dev/iam.tf
Owners: @everycure-org/infra

hotfix: minimal typo in infra file comment (#1902)
  infra/deployments/hub/dev/iam.tf
Owners: @everycure-org/infra

add comment and set multi fold to true
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update config for negatuve recall@n
  pipelines/matrix/conf/base/run_comparison/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add Py4J gateway startup timeout to Spark configuration
  pipelines/matrix/conf/base/spark.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

increase memory limit
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

initial commit
  apps/matrix-cli/src/matrix_cli/io/robokop.py
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
Owners: @everycure-org/core-maintainers

adding robokop commands
  apps/matrix-cli/README.md
Owners: @everycure-org/core-maintainers

adding robokop commands
  apps/matrix-cli/pyproject.toml
Owners: @everycure-org/core-maintainers

moving common fuction to package init
  apps/matrix-cli/src/matrix_cli/io/__init__.py
Owners: @everycure-org/core-maintainers
