Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

fix: Update Gemini model configuration to use vertex_ai/* for Vertex AI integration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

fix: Remove org policy to allow service accounts to create API keys
  infra/modules/stacks/data_release_zone/org_policies.tf
Owners: @everycure-org/infra

fix: Remove unnecessary newline in org policies configuration
  infra/modules/stacks/data_release_zone/org_policies.tf
Owners: @everycure-org/infra

add primekg config changes
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/src/matrix/datasets/pair_generator.py
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model_selection.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

clean
  pipelines/matrix/conf/base/embeddings/parameters.yml
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/src/matrix/datasets/pair_generator.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Nelson/aip 566 add gemini models to litellm (#1951)
  infra/argo/app-of-apps/templates/litellm.yaml
  infra/argo/applications/litellm-gateway/templates/external_secrets.yaml
Owners: @everycure-org/infra

fixing HPO mappings
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update litellm.yaml to replace 'claude' with 'anthropic' for model configuration
  infra/argo/app-of-apps/templates/litellm.yaml
Owners: @everycure-org/infra

update targetRevision in argo.tf to reflect the change to 'anthropic' model
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

update targetRevision in argo.tf to use variable for dynamic revision management
  infra/modules/stacks/compute_cluster/argo/argo.tf
Owners: @everycure-org/infra

fixing HPO mappings (#1954)
  apps/matrix-cli/src/matrix_cli/io/primekg.py
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add spot node pools to GKE configuration and remove spot tolerations from Argo workflow template
  infra/modules/stacks/compute_cluster/gke.tf
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Correct trails to trial
  .vscode/settings.json
  docs/src/getting_started/first_full_run/full_data_run.md
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/clinical_trials.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/kgml_xdtd_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/nodes.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/preprocessing/test_name_resolution.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

WIP metric implementation
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/base/spark.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

pre2010 using std-split (xg_ensemble modeling)
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modify nodes.py and pipeline.py for embedding replacement
  pipelines/matrix/conf/base/embeddings/catalog.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ec_clinical_trial ingestion, transform and fabricator with ec_id
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/clinical_trials.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add tolerations for neo4j pod to enhance resource scheduling
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ec_clinical_trials transformation columns
  pipelines/matrix/src/matrix/pipelines/integration/transformers/clinical_trials.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update off label ingestion and transformation to handle ec_drug_id
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/off_label.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add more datasets
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add more datasoures
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

attempt threadrunner
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

attempt updating
  pipelines/matrix/compose/docker-compose.ci.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Migrate intermediate files to parquet format
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Hardcode skos:exactMatch
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert settings update
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add warning for missing not-grouping columns
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update parameters.yml
  pipelines/matrix/conf/base/disease_list/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor imports in rdf.py for clarity
  pipelines/matrix/src/matrix/datasets/rdf.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor variable access in pyoxigraph
  pipelines/matrix/src/matrix/pipelines/disease_list/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update kgml ground truth ingestion, transformation and fabrication
  libs/matrix-pandera/src/matrix_pandera/validator.py
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/kgml_xdtd_ground_truth.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update drugbank
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/drugbank_ground_truth.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

force rerun on dc change
  .github/workflows/matrix-ci.yml
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove redundant logging.basicConfig calls
  libs/matrix-fabricator/src/matrix_fabricator/fabrication.py
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Removing RDFLib Dataset
  pipelines/matrix/src/matrix/datasets/rdf.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update ec ground truth
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_ground_truth.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
