Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Nelson/aip 593 no pr created for v0112 release completion (#1917)
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
  infra/argo/applications/workflows/templates/cronjob.yml
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

Remove GPU usage from our pipeline (#1869)
  docs/src/infrastructure/architecture_decision_records/make_hyper_parameter_tuning_cpu_first.md
  infra/modules/stacks/compute_cluster/gke.tf
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/conftest.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
  pipelines/matrix/Dockerfile
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/kedro4argo_node.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
  pipelines/matrix/tests/pipelines/test_modelling.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
  uv.lock
Owners: @everycure-org/code-reviewers, @everycure-org/infra, @everycure-org/core-maintainers

Remove GPU usage from our pipeline (#1869)
  docs/src/infrastructure/architecture_decision_records/make_hyper_parameter_tuning_cpu_first.md
  infra/modules/stacks/compute_cluster/gke.tf
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  libs/matrix-gcp-datasets/tests/conftest.py
  libs/matrix-gcp-datasets/tests/test_spark_utils.py
  pipelines/matrix/Dockerfile
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/kedro4argo_node.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/model.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/tuning.py
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
  pipelines/matrix/tests/pipelines/test_modelling.py
  pipelines/matrix/tests/pipelines/test_modelling_tuning.py
  uv.lock
Owners: @everycure-org/code-reviewers, @everycure-org/infra, @everycure-org/core-maintainers

Nelson/aip 593 no pr created for v0112 release completion (#1917)
  infra/argo/applications/data-release/templates/DeployEventbus.yaml
  infra/argo/applications/workflows/templates/cronjob.yml
  infra/runbooks/no-release-pr-after-successful-kg-release.ipynb
Owners: @everycure-org/infra

remove uniqueness of paths
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

MISC changes to disease generation processes
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update XGBoost configuration for improved parallelism and adjust CPU count detection
  pipelines/matrix/conf/base/modelling/parameters/xg_synth.yml
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

modify matrix pairs
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change device setting from CUDA to CPU in XGBoost configuration
  pipelines/matrix/conf/base/modelling/parameters/xg_synth.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Improve MONDO metadata extraction and config handling
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

start
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update XGBoost configuration for improved parallelism and adjust CPU count detection (#1923)
  pipelines/matrix/conf/base/modelling/parameters/xg_synth.yml
  pipelines/matrix/src/matrix/pipelines/modelling/utils.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Improve MONDO obsolete extraction and add validation
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

g3_physical_and_ontological_edges
  pipelines/matrix/conf/base/filtering/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

Finalise the disease list migration
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update catalog.yml
  pipelines/matrix/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix brace expansion
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor create_subtypes_template return structure
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add draft for Drug List documentation
  docs/src/pipeline/data/ec_drug_list.md
Owners: @everycure-org/code-reviewers

Last fixes before the first running version is done
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update post.md
  docs/src/releases/posts/v0.12.0/post.md
Owners: @everycure-org/code-reviewers

Add GitHub Actions service account for read access to dev bucket
  infra/deployments/hub/prod/iam.tf
  infra/deployments/hub/prod/locals.tf
Owners: @everycure-org/infra

Add GitHub Actions service account for read access to dev bucket (#1926)
  infra/deployments/hub/prod/iam.tf
  infra/deployments/hub/prod/locals.tf
Owners: @everycure-org/infra

Ruff code formatting
  pipelines/matrix/conf/base/disease_list/catalog.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Merge some of the Mondo specific nodes into one
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

using an argo node and setting memory limits
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update post.md with Data Release Summary
  docs/src/releases/posts/v0.12.0/post.md
Owners: @everycure-org/code-reviewers

A little bit of refactoring: merging nodes, extracting utility functions
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Move some Mondo ids into the parameters.yml file
  pipelines/matrix/conf/base/disease_list/parameters.yml
  pipelines/matrix/src/matrix/pipelines/disease_list/nodes.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add node to make BQ table of pks metadata
  pipelines/matrix/conf/base/document_kg/catalog.yml
  pipelines/matrix/conf/base/document_kg/parameters.yml
  pipelines/matrix/conf/cloud/document_kg/catalog.yml
  pipelines/matrix/src/matrix/pipelines/document_kg/nodes.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Improve Knowledge level and Agent type queries
  services/kg_dashboard/pages/Knowledge Sources/[knowledge_source].md
  services/kg_dashboard/pages/Metrics/epistemic-robustness.md
  services/kg_dashboard/pages/Metrics/index.md
  services/kg_dashboard/sources/bq/agent_type_distribution.sql
  services/kg_dashboard/sources/bq/agent_type_score.sql
  services/kg_dashboard/sources/bq/epistemic_heatmap.sql
  services/kg_dashboard/sources/bq/epistemic_score_by_knowledge_source.sql
  services/kg_dashboard/sources/bq/epistemic_scores.sql
  services/kg_dashboard/sources/bq/knowledge_level_distribution.sql
  services/kg_dashboard/sources/bq/knowledge_level_score.sql
Owners: @everycure-org/core-maintainers

Update test_nodes.py
  pipelines/matrix/tests/pipelines/document_kg/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing default dtype
  libs/matrix-io-utils/src/matrix_io_utils/robokop.py
Owners: @everycure-org/core-maintainers

initial commit
  libs/matrix-io-utils/tests/test_robokop.py
Owners: @everycure-org/core-maintainers

fixing docstrings
  libs/matrix-io-utils/tests/test_robokop.py
Owners: @everycure-org/core-maintainers

implement changes to evaluations
  .vscode/settings.json
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update conf pipeline nodes and unit tests
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update unit test
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Feat/run comp redesign eval classes (#1929)
  .vscode/settings.json
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/test/run_comparison/parameters.yml
  pipelines/matrix/src/matrix/pipelines/run_comparison/evaluations.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/nodes.py
  pipelines/matrix/src/matrix/pipelines/run_comparison/pipeline.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/run_comparison/test_evaluations.py
  pipelines/matrix/tests/pipelines/run_comparison/test_matrix_pairs.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
