Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1, @alexeistepa, @leelancashire, @Siyan-Luo, @emil-k, @kevinschaper, @eKathleenCarter

uncomment robokop
  pipelines/matrix/src/matrix/settings.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

uncomment robokop
  pipelines/matrix/src/matrix/settings.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

remove outdated comment
  pipelines/matrix/conf/base/globals.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

remove outdated comment
  pipelines/matrix/conf/base/globals.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

adding kg_raw_private path in test env globals
  pipelines/matrix/conf/test/globals.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

adding kg_raw_private path in test env globals
  pipelines/matrix/conf/test/globals.yml
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

commenting out catalog changes, so only the code modifications remain
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

commenting out catalog changes, so only the code modifications remain
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/src/matrix/settings.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

added release info json
  docs/src/releases/changelog_files/v0.5.0_info.json
Owners: @alexeistepa, @leelancashire, @oliverw1, @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine

added release info json
  docs/src/releases/changelog_files/v0.5.0_info.json
Owners: @alexeistepa, @leelancashire, @oliverw1, @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine

added release article template
  docs/src/releases/posts/v0.5.0/post.md
Owners: @alexeistepa, @leelancashire, @oliverw1, @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @alexeistepa, @leelancashire, @oliverw1, @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @alexeistepa, @leelancashire, @oliverw1, @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine

added release article template
  docs/src/releases/posts/v0.5.0/post.md
Owners: @alexeistepa, @leelancashire, @oliverw1, @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine

Fix bug in transform_spoke_nodes (#1366)
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

Fix bug in transform_spoke_nodes (#1366)
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

Fix bug in transform_spoke_nodes (#1366)
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @alexeistepa, @lvijnck, @piotrkan, @JacquesVergine, @amyford, @leelancashire, @oliverw1, @Siyan-Luo, @emil-k

adapt CD pipeline to serve both dev and prod
  .github/workflows/infra-deploy-router.yml
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

adapt CD pipeline to serve both dev and prod
  .github/workflows/infra-deploy-router.yml
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

adapt slack notification to serve both dev and prod
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

adapt slack notification to serve both dev and prod
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

rename workflows for testing
  .github/workflows/infra-deploy-router.yml
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

rename workflows for testing
  .github/workflows/infra-deploy-router.yml
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

add dummy change to test github action CI
  infra/deployments/hub/hub.hcl
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

add dummy change to test github action CI
  infra/deployments/hub/hub.hcl
Owners: @emil-k, @oliverw1, @lvijnck, @pascalwhoop

Feature/adapt ci for multi env deployments (#1370)
  .github/workflows/infra-deploy-router.yml
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

Feature/adapt ci for multi env deployments (#1370)
  .github/workflows/infra-deploy-router.yml
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

separating git crypt in dev and prod - because dev scope also encrypts common secrets
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

separating git crypt in dev and prod - because dev scope also encrypts common secrets
  .github/workflows/infra-deploy.yml
Owners: @lvijnck, @pascalwhoop, @piotrkan, @JacquesVergine, @amyford, @oliverw1

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for
# -------------------------------------------------------------------------------------------------
# See documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file
# note that a more precise matching path will override the more general path. 

# catchall for everything not further specified below, owned by matrix engineering team 
* @lvijnck @pascalwhoop @piotrkan @JacquesVergine @amyford @oliverw1
# docs are owned by the whole team
docs/ @alexeistepa @leelancashire @oliverw1 @lvijnck @pascalwhoop @piotrkan @JacquesVergine
# pipelines are owned by the core contributors to pipeline and modelling
pipelines/matrix/** @alexeistepa @lvijnck @piotrkan @JacquesVergine @amyford @leelancashire @oliverw1 @Siyan-Luo @emil-k
# infra is owned by the platform team
infra/ @emil-k @oliverw1 @lvijnck @pascalwhoop @emil-k
services/kg-dashboard/ @pascalwhoop @JacquesVergine @kevinschaper @eKathleenCarter
