Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

update c5ec1f282158182f transformer
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updating tests
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

update fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fixing bug adding detection method
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/embiology.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix build crash when key_node_aggregate query returns empty
  services/kg_dashboard/pages/Key Nodes/[key_node_id].md
Owners: @everycure-org/core-maintainers

Address PR review: parent categories for drill-down charts, component IDs in source table, back nav link
  services/kg_dashboard/pages/Metrics/connected-components.md
  services/kg_dashboard/pages/Metrics/connected-components/[component_id].md
  services/kg_dashboard/sources/bq/component_nodes.sql
  services/kg_dashboard/sources/bq/minor_component_sources.sql
Owners: @everycure-org/core-maintainers

adding qualifiers and cleanup
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/embiology.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

updates
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update disease_name_patch.tsv
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

fix CI issue
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor code structure for improved readability and maintainability
  .coverage
  docs/pyproject.toml
  libs/matrix-auth/pyproject.toml
  libs/matrix-fabricator/pyproject.toml
  libs/matrix-gcp-datasets/pyproject.toml
  libs/matrix-inject/pyproject.toml
  libs/matrix-io-utils/pyproject.toml
  libs/matrix-mlflow-utils/pyproject.toml
  libs/matrix-pandera/pyproject.toml
  pipelines/core_entities/.env.defaults
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/data/__init__.py
  pipelines/core_entities/src/core_entities/data/internal/__init__.py
  pipelines/core_entities/src/core_entities/data/internal/schema/__init__.py
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drugs.py
  pipelines/core_entities/src/core_entities/datasets/json_zip_dataset.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/core_entities/src/core_entities/resolvers.py
  pipelines/core_entities/src/core_entities/settings.py
  pipelines/core_entities/src/core_entities/utils/curation_utils.py
  pipelines/core_entities/src/core_entities/utils/fda_drugs_utils.py
  pipelines/core_entities/src/core_entities/utils/fda_labels_utils.py
  pipelines/core_entities/src/core_entities/utils/fda_otc_monograph_drugs_utils.py
  pipelines/core_entities/src/core_entities/utils/python_utils.py
  pipelines/core_entities/tests/unit/test_curation_utils.py
  pipelines/core_entities/tests/unit/test_fda_labels_utils.py
  pipelines/core_entities/tests/unit/test_fda_utils.py
  pipelines/core_entities/tests/unit/test_python_utils.py
  pipelines/core_entities/tests/unit/test_resolvers.py
  pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix small mistake
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add support for FDA generic drug list and update schemas for drug ID
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/core_entities/src/core_entities/utils/fda_drugs_utils.py
Owners: @everycure-org/core-maintainers

Update pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update pipelines/core_entities/tests/unit/test_curation_utils.py
  pipelines/core_entities/tests/unit/test_curation_utils.py
Owners: @everycure-org/core-maintainers

Update pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/conf/base/drug_list/parameters.yml
Owners: @everycure-org/core-maintainers

Update pipelines/core_entities/src/core_entities/datasets/json_zip_dataset.py
  pipelines/core_entities/src/core_entities/datasets/json_zip_dataset.py
Owners: @everycure-org/core-maintainers

Update pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/base/drug_list/catalog.yml
Owners: @everycure-org/core-maintainers

Add FDA Generic Data Flow documentation and related SVG diagrams
  pipelines/core_entities/docs/drug_list/fda_generic_data_flow.md
  pipelines/core_entities/docs/images/drug_list/fda_generic_data_flow.svg
  pipelines/core_entities/docs/images/drug_list/fda_generic_decision_algorithm.svg
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
  pipelines/core_entities/tests/unit/test_fda_utils.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Fix type hint for allow_null parameter in env function
  pipelines/core_entities/src/core_entities/resolvers.py
Owners: @everycure-org/core-maintainers

Update return type of resolve_fda_drugs_that_are_otc_monograph to include an additional DataFrame
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Move pandas-stubs dependency to dev group in pyproject.toml
  pyproject.toml
Owners: @everycure-org/core-maintainers

Add additional return value to resolve_fda_drugs_that_are_otc_monograph for FDA generic drug identification
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Update test
  pipelines/core_entities/src/core_entities/datasets/json_zip_dataset.py
  pipelines/core_entities/tests/unit/test_curation_utils.py
  pipelines/core_entities/tests/unit/test_fda_labels_utils.py
  pipelines/core_entities/tests/unit/test_fda_utils.py
Owners: @everycure-org/core-maintainers

Remove AI assistance notes from parameters.yml and test_curation_utils.py
  pipelines/core_entities/conf/base/drug_list/parameters.yml
  pipelines/core_entities/tests/unit/test_curation_utils.py
Owners: @everycure-org/core-maintainers

Release v1.1.11 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.11-from-v1.1.8.md
Owners: @everycure-org/code-reviewers

Update GitHub Actions Runner image to version 2.332.0 (#2114)
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

Release v1.3.3 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.3.3-from-v1.3.0.md
Owners: @everycure-org/code-reviewers

Update FDA generic data flow image and move pandas-stubs to dev dependencies
  pipelines/core_entities/docs/drug_list/fda_generic_data_flow.md
  pipelines/core_entities/docs/images/drug_list/kedro_viz_fda_generic_data_flow.jpeg
  uv.lock
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

XDATA-277 add identified columns in the ingestion pipeline (#2117)
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/embiology.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medical.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/robokop.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/spoke.py
  pipelines/matrix/tests/pipelines/integration/test_nodes.py
  pipelines/matrix/tests/pipelines/test_filtering.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor FDA drug label schemas to replace boolean checks with dtype specification
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
Owners: @everycure-org/core-maintainers

Set 'nullable' to False for boolean columns in FDA drug labels schemas
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
Owners: @everycure-org/core-maintainers

Set 'nullable' to False for various columns in FDA drug labels schemas
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drug_labels.py
Owners: @everycure-org/core-maintainers

Remove uniqueness check for application_number in FDA drug list schema
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drugs.py
Owners: @everycure-org/core-maintainers

Remove non-empty string check for sponsor_name in FDA drug list schema
  pipelines/core_entities/src/core_entities/data/internal/schema/fda_drugs.py
Owners: @everycure-org/core-maintainers

Add output schema validation for OTC monograph FDA drugs
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Remove load_suspect_drugs function and related tests to streamline FDA labels utility
  pipelines/core_entities/src/core_entities/utils/fda_labels_utils.py
  pipelines/core_entities/tests/unit/test_fda_labels_utils.py
Owners: @everycure-org/core-maintainers

Refactor FDA labels utility tests by removing unused functions and updating test cases for clarity
  pipelines/core_entities/tests/unit/test_fda_labels_utils.py
  pipelines/core_entities/tests/unit/test_fda_utils.py
  pipelines/core_entities/tests/unit/test_python_utils.py
Owners: @everycure-org/core-maintainers

Update drug list formatting for consistency in curated-drug-list.tsv
  pipelines/core_entities/data/test/01_raw/curated-drug-list.tsv
Owners: @everycure-org/core-maintainers

Enhance FDA drug matching functions with detailed comments for clarity and performance improvements
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers
