Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Build(deps): Pin kedro-datasets version to 9.3.0 in pyproject.toml and uv.lock
  pipelines/matrix/pyproject.toml
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.15 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.15-from-v1.1.13.md
Owners: @everycure-org/code-reviewers

fix: install Docker Compose V2 plugin in GitHub runner image
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

fix: install compose plugin with correct architecture mapping
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

fix: update nodeSelector for GitHub runner workload type
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
Owners: @everycure-org/infra

fix: add DNS configuration for Docker in GitHub runner image
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
Owners: @everycure-org/infra

Bump pandera constraint to >=0.26.1 in matrix-pandera
  libs/matrix-pandera/pyproject.toml
Owners: @everycure-org/core-maintainers

Bump pandera constraint to >=0.26.1 in matrix-pipeline and matrix-validator
  libs/matrix-validator/pyproject.toml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update CI runner to use 'ai-platform-dev-gha-runner-scale-set' and adjust VSCode settings for suggestion behavior
  .github/actionlint.yaml
  .github/workflows/matrix-ci.yml
  .github/workflows/moa-ci.yml
  .vscode/settings.json
Owners: @everycure-org/core-maintainers

Update GitHub Actions workflows to use 'ai-platform-dev-gha-runner-scale-set' runner
  .github/actionlint.yaml
  .github/workflows/core_entities_create_release_pr.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/matrix-ci.yml
  .github/workflows/moa-ci.yml
  .github/workflows/submit-kedro-pipeline.yml
  docs/src/infrastructure/architecture_decision_records/ci_optimization_self_hosted_runners.md
  docs/src/infrastructure/github_runner/github_arc_controller.md
  docs/src/releases/posts/v0.15.0/post.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update GitHub Actions workflows to use 'ai-platform-dev-gha-runner-scale-set' runner
  .github/workflows/build_and_upload_image_for_github_runner_set_k8s.yml
  .github/workflows/cleanup_raw_bucket.yml
  .github/workflows/core_entities_ci.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/create-post-pr-release.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/kg-dashboard-deploy.yml
  .github/workflows/libs-ci.yml
  .github/workflows/matrix-ci.yml
  .github/workflows/moa-ci.yml
  .github/workflows/notify-breaking-changes.yml
  .github/workflows/precommit.yml
  .github/workflows/stale.yml
  docs/src/infrastructure/architecture_decision_records/ci_optimization_self_hosted_runners.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Change CI runner from 'ai-platform-dev-gha-runner-scale-set' to 'ubuntu-latest' for KG Dashboard deployment
  .github/workflows/kg-dashboard-deploy.yml
Owners: @everycure-org/core-maintainers

Release v1.6.3 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.3-from-v1.6.0.md
Owners: @everycure-org/code-reviewers

Bump pandera constraint to >=0.26.1 in matrix-pandera (#2172)
  .github/actionlint.yaml
  .github/workflows/build_and_upload_image_for_github_runner_set_k8s.yml
  .github/workflows/cleanup_raw_bucket.yml
  .github/workflows/core_entities_ci.yaml
  .github/workflows/core_entities_create_release_pr.yaml
  .github/workflows/core_entities_run_pipeline.yaml
  .github/workflows/core_entitities_publish_release.yaml
  .github/workflows/create-post-pr-release.yml
  .github/workflows/create-release-pr.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/libs-ci.yml
  .github/workflows/matrix-ci.yml
  .github/workflows/moa-ci.yml
  .github/workflows/notify-breaking-changes.yml
  .github/workflows/precommit.yml
  .github/workflows/stale.yml
  .github/workflows/submit-kedro-pipeline.yml
  .vscode/settings.json
  docs/src/infrastructure/architecture_decision_records/ci_optimization_self_hosted_runners.md
  docs/src/infrastructure/github_runner/github_arc_controller.md
  docs/src/releases/posts/v0.15.0/post.md
  libs/matrix-pandera/pyproject.toml
  libs/matrix-validator/pyproject.toml
  pipelines/matrix/pyproject.toml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.16 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.16-from-v1.1.13.md
Owners: @everycure-org/code-reviewers

Release v1.6.4 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.4-from-v1.6.0.md
Owners: @everycure-org/code-reviewers

Release v1.6.3 notes for drug_list (#2173)
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.6.3-from-v1.6.0.md
Owners: @everycure-org/code-reviewers

Update disease_name_patch.tsv for ADSS1 Myopathy
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Update disease_name_patch.tsv for ADSS1 Myopathy (#2178)
  pipelines/core_entities/data/00_input/patch/disease_name_patch.tsv
Owners: @everycure-org/core-maintainers

Add IAM role for notebooks.admin to allow user instance control
  infra/deployments/wg2/modules/workbench/main.tf
Owners: @everycure-org/infra

remove floating nodes
  libs/matrix-io-utils/src/matrix_io_utils/primekg.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.1.17 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.1.17-from-v1.1.13.md
Owners: @everycure-org/code-reviewers

Split synonyms in list
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
Owners: @everycure-org/core-maintainers

Propagate list changes to llm pipelines
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_categories.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_labels.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_prevalence.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_txgnn.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_umn.py
Owners: @everycure-org/core-maintainers

Revert "Remove missing columns statement from RTX transformer"
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix encoding issue for FDA Purple Book data and update Pandera version constraints
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  uv.lock
Owners: @everycure-org/core-maintainers

Enhance BLA type resolution in FDA Purple Book ingestion to include additional license type variations
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
Owners: @everycure-org/core-maintainers

Fix encoding issue for FDA Purple Book data and update Pandera version constraints (#2184)
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  uv.lock
Owners: @everycure-org/core-maintainers

fix: services/moa_visualizer/requirements.txt to reduce vulnerabilities
  services/moa_visualizer/requirements.txt
Owners: @everycure-org/core-maintainers

Add IAM role for notebooks.admin to allow user instance control (#2180)
  infra/deployments/wg2/modules/workbench/main.tf
Owners: @everycure-org/infra

Add IAP tunnel access for users to enable SSH into their workbench instances
  infra/deployments/wg2/modules/workbench/main.tf
Owners: @everycure-org/infra

Add IAP tunnel access for users to enable SSH into their workbench instances (#2187)
  infra/deployments/wg2/modules/workbench/main.tf
Owners: @everycure-org/infra

Reapply "Remove missing columns statement from RTX transformer"
  pipelines/matrix/src/matrix/pipelines/integration/transformers/rtxkg2.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Store disease list synonyms as an array (#2183)
  pipelines/core_entities/src/core_entities/pipelines/disease_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_categories.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_labels.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_prevalence.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_txgnn.py
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/disease_umn.py
Owners: @everycure-org/core-maintainers

Release v2.0.0 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.0-from-v1.1.13.md
Owners: @everycure-org/code-reviewers

Release v2.0.0 notes for disease_list (#2189)
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.0-from-v1.1.13.md
Owners: @everycure-org/code-reviewers

Release v2.0.1 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v2.0.1-from-v2.0.0.md
Owners: @everycure-org/code-reviewers

add data catalog
  pipelines/core_entities/conf/base/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers

add svd dummy data
  pipelines/core_entities/data/test/01_raw/strategic-disease-list.tsv
Owners: @everycure-org/core-maintainers

add output data cat
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
Owners: @everycure-org/core-maintainers
