Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

fix: update input references for model output predictions in multi-model pipeline
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out modelling_run in feature_and_modelling_run for clarity
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out unused pipeline definitions for clarity
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: correct input reference formatting in multi-model shard pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: uncomment check model performance node in multi-model pipeline to enable performance evaluation
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update data input reference in create_multi_model_pipeline for model-specific output
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model input and output paths in catalog.yml for consistency and clarity
  pipelines/matrix/conf/base/modelling/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: uncomment combine data node in multi-model pipeline to enable predictions aggregation
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out combine data node in multi-model pipeline for clarity
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: uncomment higher order pipelines in pipeline_registry for proper registration
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model input and output paths in create_multi_model_pipeline for model-specific handling
  pipelines/matrix/src/matrix/pipelines/matrix_generation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor pipeline appending for report generation nodes in create_multi_model_pipeline
  pipelines/matrix/src/matrix/pipelines/matrix_generation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out evaluation pipeline in register_pipelines for clarity
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update import path for matrix transformations pipeline and adjust output naming in multi-model pipeline
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: uncomment pipelines in pipeline_registry for proper registration
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: implement matrix transformations pipeline with cross-validation support
  pipelines/matrix/src/matrix/pipelines/matrix_transformations/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: uncomment evaluation pipeline in pipeline registration for inclusion
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out unused evaluation dataset configurations for clarity
  pipelines/matrix/conf/base/evaluation/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update reporting outputs and include model name in stability calculations for clarity
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model key in dynamic pipelines mapping for correct pipeline generation
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add multi-model evaluation pipeline with stability metrics and reporting
  pipelines/matrix/conf/base/evaluation/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: reorder model processing in multi-model pipeline for clarity and maintainability
  pipelines/matrix/src/matrix/pipelines/matrix_generation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add memoization configuration for kedro nodes in workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model name in dynamic pipelines mapping for accuracy
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update dynamic pipeline mappings to use model-specific parameters for accuracy
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: correct model name references in multi-model pipeline for consistency
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update aggregation functions parameter reference in model pipeline
  pipelines/matrix/src/matrix/pipelines/evaluation/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update file paths in catalog.yml for model input and output consistency across multiple configurations
  pipelines/matrix/conf/base/evaluation/catalog.yml
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
  pipelines/matrix/conf/base/modelling/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update file paths in catalog.yml for model input and output consistency
  pipelines/matrix/conf/base/modelling/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update multi-model configuration documentation for clarity and remove deprecated parameters
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

fix: remove memoization configuration from kedro template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: correct model names and enhance multi-model configuration documentation for clarity
  docs/src/pipeline/multi-model-configuration.md
Owners: @everycure-org/code-reviewers

fix: update model shard configuration for xg_ensemble and xg_synth to improve parallel processing
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove redundant model input transformers configuration from catalog.yml
  pipelines/matrix/conf/base/modelling/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: enhance pod rejection handling in workflow template to include node shutdown scenarios
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Implement feature X to enhance user experience and fix bug Y in module Z
  uv.lock
Owners: @everycure-org/core-maintainers

fix: clean up formatting and improve readability in release notes for v0.2.2
  docs/src/releases/posts/2024-11-01v0.2.2/post.md
Owners: @everycure-org/code-reviewers

fix: correct regex pattern for node shutdown message in workflow spec
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: correct regex pattern for node shutdown message in workflow spec
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update Python version requirement and adjust platform-specific dependencies in uv.lock
  .vscode/settings.json
  docs/src/pipeline/multi-model-configuration.md
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
