Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

fix: update memoization key in Argo workflow to include kedro_nodes
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization config name in Argo workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: extend memoization maxAge from 48h to 72h in Argo workflow template
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key in Argo workflow to use kedro_nodes_cache_key for improved caching
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: correct spacing in kedro_nodes_cache_key assignment for consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key in Argo workflow to use SHA1 hash for improved uniqueness
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro memoization key to use SHA1 hash for improved uniqueness
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro memoization key format for consistency and improved caching
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key to use a simplified value extraction for improved clarity
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro memoization key to use trimmed_kedro_nodes for improved clarity
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove whitespace in kedro memoization key for improved consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove space in kedro memoization key for improved consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro memoization key to use kedro_nodes_cache_key for improved clarity
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro memoization key to use trimmed_kedro_nodes for improved clarity
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: simplify kedro_nodes_cache_key extraction for improved clarity
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key extraction to use comma as delimiter for improved accuracy
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove whitespace in kedro_nodes parameter for improved consistency
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: add kedro_nodes_cache_key parameter for improved functionality
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: add kedro_nodes_cache_key parameter for improved caching
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: add space before memoization key for improved readability
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key value for improved formatting
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update memoization key to use kedro_nodes_cache_key for improved caching
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key value for improved functionality
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: add multi-model configuration guide and update catalog for multi-model support
  docs/src/pipeline/multi-model-configuration.md
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/matrix_transformations/catalog.yml
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

fix: refactor dynamic pipelines mapping for improved structure and clarity
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update kedro_nodes_cache_key value to improve formatting
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor model pipeline creation for dynamic handling of multiple models
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor: streamline matrix generation pipeline by consolidating model and fold handling
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update output naming in pipeline to include model name for clarity
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: implement multi-model pipeline creation and integrate into existing workflow
  infra/argo/applications/workflows/values.yaml
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: standardize model options generator parameter reference in multi-model pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove async flag from kedro run commands for consistent execution
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

feat: enhance model pipeline creation with dynamic handling of folds and shards
  pipelines/matrix/src/matrix/pipelines/modelling/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: prevent parallel execution of multi-model pipeline by ensuring shared completion
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: remove memoization configuration from kedro template for streamlined execution
  pipelines/matrix/templates/argo_wf_spec.tmpl
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: refactor model prediction node handling for improved clarity and consistency
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out unused pipeline components in multi-model pipeline for clarity
  pipelines/matrix/src/matrix/pipeline_registry.py
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: update model output paths in multi-model pipeline for better organization
  pipelines/matrix/conf/base/modelling/catalog.yml
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: uncomment pipeline generation and prediction combination in multi-model pipeline
  pipelines/matrix/src/matrix/pipelines/modelling/multi_model_pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix: comment out unused components in modelling_run for clarity
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers
