Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

docstring predictions col node
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add metrics to params
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add evaluation node
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/evaluation.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix evaluation functions
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/evaluation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update workbenches.yaml
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

add test for preproccess nodes
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add unit tests for evaluation
  pipelines/matrix/tests/pipelines/known_entity_removal/test_evaluation.py
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add JaM to matrix pipeline
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_indications_list.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

change to mlflow
  pipelines/matrix/conf/cloud/known_entity_removal/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update jam columns
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

refactor timestamp conversion
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

add ruff noqs ignore comment
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix nan in preds error
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update targetRevision for gha-runner-scale-set-controller and gha-runner-scale-set to 0.13.0
  infra/argo/app-of-apps/templates/gha-runner-scale-set-controller.yaml
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
Owners: @everycure-org/infra

Update GitHub Actions Runner image to version 2.330.0
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

Update targetRevision for gha-runner-scale-set-controller and gha-runner-scale-set to 0.13.0 (#1991)
  infra/argo/app-of-apps/templates/gha-runner-scale-set-controller.yaml
  infra/argo/app-of-apps/templates/gha-runner-scale-set.yaml
  infra/github-runner-image/Dockerfile
Owners: @everycure-org/infra

Nelson/aip 654 error with redis (#1962)
  infra/argo/app-of-apps/templates/redis.yaml
  infra/runbooks/redis-aof-corruption-recovery.md
  pipelines/matrix/compose/docker-compose.ci.yml
Owners: @everycure-org/infra, @everycure-org/core-maintainers, @everycure-org/code-reviewers

Refactor evaluation pipeline to allow ec_id joins (#1992)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/spark_utils.py
  pipelines/matrix/conf/base/matrix_generation/catalog.yml
  pipelines/matrix/conf/base/modelling/parameters/defaults.yml
  pipelines/matrix/conf/base/modelling/parameters/lightGBM.yml
  pipelines/matrix/conf/base/modelling/parameters/rf.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_baseline.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/base/modelling/parameters/xg_synth.yml
  pipelines/matrix/conf/base/run_comparison/parameters.yml
  pipelines/matrix/conf/cloud/globals.yml
  pipelines/matrix/conf/sample/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/test/modelling/parameters/xg_ensemble.yml
  pipelines/matrix/conf/test/modelling/parameters/xg_synth.yml
  pipelines/matrix/src/matrix/pipelines/evaluation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/pipeline.py
  pipelines/matrix/src/matrix/pipelines/modelling/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

gs
  .vscode/settings.json
  uv.lock
Owners: @everycure-org/core-maintainers

WIP try using dbt orchard table
  pipelines/matrix/conf/base/known_entity_removal/catalog.yml
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

delete commented code for dbt move
  pipelines/matrix/src/matrix/pipelines/known_entity_removal/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix unit test
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove name from unit test preprocess orchard pairs
  pipelines/matrix/tests/pipelines/known_entity_removal/test_nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

renove names from orchard pairs by month fabricator
  pipelines/matrix/conf/base/fabricator/parameters.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix matrix generation unit test
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix SparkSession.getActiveSession() returning None in connectivity metrics (#1985)
  pipelines/matrix/pyproject.toml
  pipelines/matrix/src/matrix/pipelines/integration/connectivity_metrics.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Rename ec_ground_truth to medic_ground_truth
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/test/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_indications_list.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medic_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/settings.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

remove known entity removal from sample pipeline
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove on_or_off label
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add JaM to evaluation suite (#1993)
  pipelines/matrix/conf/base/fabricator/parameters.yml
  pipelines/matrix/conf/base/globals.yml
  pipelines/matrix/conf/base/ingestion/catalog.yml
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/conf/base/known_entity_removal/parameters.yml
  pipelines/matrix/conf/test/ingestion/catalog.yml
  pipelines/matrix/src/matrix/pipelines/fabricator/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/ec_indications_list.py
  pipelines/matrix/src/matrix/pipelines/integration/transformers/medic_ground_truth.py
  pipelines/matrix/src/matrix/pipelines/matrix_generation/nodes.py
  pipelines/matrix/src/matrix/settings.py
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

fix filters
  pipelines/matrix/conf/base/filtering/parameters.yml
  pipelines/matrix/src/matrix/pipelines/filtering/filters.py
  uv.lock
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Update uv.lock
  uv.lock
Owners: @everycure-org/core-maintainers

Simplify dataframe conversion in HFIterableDataset
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
Owners: @everycure-org/core-maintainers

Remove transcoding from unified nodes/edges
  docs/src/releases/posts/2024-11-27v0.2.5/post.md
  pipelines/matrix/conf/base/integration/catalog.yml
  pipelines/matrix/conf/cloud/integration/catalog.yml
  pipelines/matrix/conf/sample/integration/catalog.yml
  pipelines/matrix/src/matrix/pipelines/create_sample/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_publication/pipeline.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
  pipelines/matrix/src/matrix/pipelines/document_kg/pipeline.py
  pipelines/matrix/src/matrix/pipelines/filtering/pipeline.py
  pipelines/matrix/src/matrix/pipelines/ingest_to_N4J/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
Owners: @everycure-org/code-reviewers, @everycure-org/core-maintainers

Switch dataframe_type from pandas to spark in catalog.yml
  pipelines/matrix/conf/base/data_publication/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Remove extra blank line in catalog.yml
  pipelines/matrix/conf/base/integration/catalog.yml
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add token support to HuggingFace Hub verification methods
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/huggingface.py
Owners: @everycure-org/core-maintainers

Add data publication pipeline readme
  pipelines/matrix/src/matrix/pipelines/data_publication/README.md
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert test matrix generation changes
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

revert test matrix generation changes
  pipelines/matrix/tests/pipelines/test_matrix_generation.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers
