Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @lvijnck, @matwasilewski, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire, @oliverw1, @siyan-luo, @emil-k

CODEOWNERS:

* @lvijnck @matwasilewski
pipelines/matrix @lvijnck @pascalwhoop @alexeistepa @piotrkan @leelancashire
docs @piotrkan @alexeistepa @leelancashire
infra @lvijnck @pascalwhoop @oliverw1 @siyan-luo @emil-k

Add argo deployment of kg-dashboard pointing at development branch (#782)
  infra/argo/app-of-apps/templates/kg-dashboard.yaml
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

Add argo deployment of kg-dashboard pointing at development branch (#782)
  infra/argo/app-of-apps/templates/kg-dashboard.yaml
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

Add argo deployment of kg-dashboard pointing at development branch (#782)
  infra/argo/app-of-apps/templates/kg-dashboard.yaml
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

Update kg dashboard branch name
  infra/argo/app-of-apps/templates/kg-dashboard.yaml
Owners: @lvijnck, @pascalwhoop, @oliverw1, @siyan-luo, @emil-k

added analysis with AUC, AP, precision, f1, and some other stats
  apps/embed_norm/src/analyze.py
  apps/embed_norm/src/app.py
  apps/embed_norm/src/main.py
  apps/embed_norm/src/test_notebook.ipynb
Owners: @lvijnck, @matwasilewski

initial commit
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

moving logic to nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

use release path, followd by kgx
  pipelines/matrix/conf/base/data_release/catalog.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

adding spoke version
  pipelines/matrix/conf/base/globals.yml
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

initial commit
  pipelines/matrix/src/matrix/pipelines/integration/spoke.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

initial commit
  pipelines/matrix/src/matrix/pipelines/data_release/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

moving logic to nodes.py
  pipelines/matrix/src/matrix/pipelines/data_release/pipeline.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

revert
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

revert
  pipelines/matrix/src/matrix/cli_commands/submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix test
  pipelines/matrix/tests/pipelines/integration/test_filters.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix test
  pipelines/matrix/tests/pipelines/integration/test_filters.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Fix pipeline stages link
  .github/ISSUE_TEMPLATE/onboarding.md
Owners: @lvijnck, @matwasilewski

edge to keep
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

edge to keep
  pipelines/matrix/src/matrix/pipelines/embeddings/nodes.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

change pull-request permission to write, which allows read and write PR
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

debug: inspect github.event object
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

add access to github token for pr creation
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

perf: don't build up one-time lists
  apps/matrix-cli/src/matrix_cli/commands/releases.py
Owners: @lvijnck, @matwasilewski

style: use pathlib for common file actions
  apps/matrix-cli/src/matrix_cli/commands/releases.py
Owners: @lvijnck, @matwasilewski

refactor: use EAFP over LBYL to find file
  apps/matrix-cli/src/matrix_cli/commands/releases.py
Owners: @lvijnck, @matwasilewski

fix: return type correction
  apps/matrix-cli/src/matrix_cli/commands/releases.py
Owners: @lvijnck, @matwasilewski

Add the feature to abort if git requirements are unmet
  pipelines/matrix/src/matrix/cli_commands/submit.py
  pipelines/matrix/src/matrix/utils.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

Try with GH Action from MarketPlace to create PR
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

purge debug info
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

grant write access to repo from GHAction
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

added release notes & article draft
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @piotrkan, @alexeistepa, @leelancashire

YAML syntax for multiline strings
  .github/workflows/create-release-pr.yml
Owners: @lvijnck, @matwasilewski

test submit
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

test submit
  pipelines/matrix/src/matrix/pipelines/embeddings/pipeline.py
  pipelines/matrix/src/matrix/pipelines/integration/pipeline.py
  pipelines/matrix/src/matrix/pipelines/preprocessing/pipeline.py
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

remove existing dir
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @piotrkan, @alexeistepa, @leelancashire

added release notes & article draft
  docs/src/releases/posts/debug-dont-release/notes.md
  docs/src/releases/posts/debug-dont-release/post.md
Owners: @piotrkan, @alexeistepa, @leelancashire

fix subprocess
  pipelines/matrix/src/matrix/cli_commands/submit.py
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

fix subprocess
  pipelines/matrix/src/matrix/cli_commands/submit.py
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

submit refactor
  pipelines/matrix/src/matrix/cli_commands/submit.py
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire

submit refactor
  pipelines/matrix/src/matrix/cli_commands/submit.py
  pipelines/matrix/tests/cli_commands/test_submit.py
Owners: @lvijnck, @pascalwhoop, @alexeistepa, @piotrkan, @leelancashire
