Repository everycure-org/matrix, changes with the owners that CODEOWNERS names for each.
All owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers, @everycure-org/infra

CODEOWNERS:

# we invite sub-teams to create their own team under the matrix-all team at https://github.com/orgs/everycure-org/teams and 
# add themselves here to a specific path that they want to be responsible for

# -------------------------------------------------------------------------------------------------
* @everycure-org/core-maintainers
docs @everycure-org/code-reviewers
infra/ @everycure-org/infra
pipelines/matrix/ @everycure-org/core-maintainers @everycure-org/code-reviewers

Fix imports (#2034)
  docs/scripts/bump_detection.py
  docs/scripts/bump_version.py
  docs/scripts/changelog_gen.py
  docs/scripts/utils.py
Owners: @everycure-org/code-reviewers

chore: remove stale Vertex AI Workbench instances (#2033)
  infra/deployments/wg2/workbenches.yaml
Owners: @everycure-org/infra

Fix CURIE prefix normalization for HPO: -> HP: to merge nodes correctly
  pipelines/matrix/conf/base/integration/parameters.yml
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix version bug
  pipelines/matrix/src/matrix/git_utils.py
  pipelines/matrix/tests/utils/test_git_utilities.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Fix matrix tags logic (#2036)
  pipelines/matrix/src/matrix/git_utils.py
  pipelines/matrix/tests/utils/test_git_utilities.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Release v1.2.13 notes for drug_list
  pipelines/core_entities/docs/releases/release-comparison-drug_list-v1.2.13-from-v1.2.9.md
Owners: @everycure-org/code-reviewers

Release v1.0.20 notes for disease_list
  pipelines/core_entities/docs/releases/release-comparison-disease_list-v1.0.20-from-v1.0.18.md
Owners: @everycure-org/code-reviewers

Remove every line of code not currently used by the pipeline no used in production
  libs/matrix-pandera/src/matrix_pandera/__init__.py
  libs/matrix-pandera/src/matrix_pandera/enums.py
  libs/matrix-pandera/src/matrix_pandera/schemas.py
  libs/matrix-pandera/tests/test_schemas.py
  pipelines/matrix/src/matrix/pipelines/integration/nodes.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Satinize dataset before calling parent class initialisation
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

Satinize dataset before calling parent class initialisation (#2039)
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

WIP - ATC names working
  pipelines/core_entities/.env.defaults
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/test/drug_list/catalog.yml
  pipelines/core_entities/data/test/01_raw/drugbank-drug-atc.tsv
  pipelines/core_entities/data/test/01_raw/drugbank-pure-atc.tsv
  pipelines/core_entities/data/test/01_raw/drugbank-salt-atc.tsv
  pipelines/core_entities/pyproject.toml
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/drug_llm_tags/drug_atc_codes.py
  pipelines/core_entities/src/core_entities/utils/llm_utils.py
  uv.lock
Owners: @everycure-org/core-maintainers

Add test pipeline
  pipelines/core_entities/conf/test/disease_mondo/catalog.yml
  pipelines/core_entities/data/test/01_raw/disease_mondo/disease-llm-tags-test.tsv
  pipelines/core_entities/data/test/01_raw/disease_mondo/icd10-test.xlsx
  pipelines/core_entities/data/test/01_raw/disease_mondo/mondo-sssom-test.tsv
  pipelines/core_entities/data/test/01_raw/disease_mondo/mondo-test.owl
  pipelines/core_entities/data/test/01_raw/disease_mondo/obsoletion-candidates-test.tsv
Owners: @everycure-org/core-maintainers

Refactor disease_list config to disease_mondo in core_entities
  pipelines/core_entities/conf/base/disease_mondo/catalog.yml
Owners: @everycure-org/core-maintainers

Migrate the old mondo disease list pipeline over to the new core entities location
  pipelines/core_entities/conf/base/disease_mondo/parameters.yml
  pipelines/core_entities/src/core_entities/datasets/__init__.py
  pipelines/core_entities/src/core_entities/datasets/rdf.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/__init__.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/queries.py
  pipelines/matrix/src/matrix/pipelines/disease_list/pipeline.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Register disease_mondo pipeline in registry
  pipelines/core_entities/src/core_entities/pipeline_registry.py
Owners: @everycure-org/core-maintainers

Remaining updates to catalog files for disease list migration
  pipelines/core_entities/conf/base/disease_list/catalog.yml
  pipelines/core_entities/conf/test/disease_list/catalog.yml
  pipelines/core_entities/pyproject.toml
Owners: @everycure-org/core-maintainers

Update synthetic test files for disease list testing
  pipelines/core_entities/data/test/01_raw/curated-disease-list.tsv
  pipelines/core_entities/data/test/01_raw/orchard-reviews.tsv
Owners: @everycure-org/core-maintainers

Combine mondo and list pipelines for disease_list
  pipelines/core_entities/src/core_entities/pipeline_registry.py
Owners: @everycure-org/core-maintainers

feat: add IAM roles for data-science group to access Cloud Build service account
  infra/modules/components/cloudbuild/sa.tf
Owners: @everycure-org/infra

Add ATC local file ingestion
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/conf/llm_test/drug_list/catalog.yml
  pipelines/core_entities/data/00_input/ATC.csv
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Move worksheet init in subfunction to allow no-internet work
  libs/matrix-gcp-datasets/src/matrix_gcp_datasets/gcp.py
Owners: @everycure-org/core-maintainers

WIP atc_labels
  pipelines/core_entities/conf/base/drug_list/catalog.yml
  pipelines/core_entities/data/00_input/atc_labels.csv
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

feat: add IAM roles for data-science group to access Cloud Build service account (#2041)
  infra/modules/components/cloudbuild/sa.tf
Owners: @everycure-org/infra

Remove min_mondo_triples parameter from disease_mondo pipeline
  pipelines/core_entities/conf/base/disease_mondo/parameters.yml
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/pipeline.py
Owners: @everycure-org/core-maintainers

Fix KG dashboard SQL patterns and documentation
  services/kg_dashboard/pages/Knowledge Graphs/[knowledge_graph].md
  services/kg_dashboard/scripts/generate-release-sql.cjs
Owners: @everycure-org/core-maintainers

Update package-lock.json
  services/kg_dashboard/package-lock.json
Owners: @everycure-org/core-maintainers

Remove disease_list pipeline from registry
  pipelines/matrix/src/matrix/pipeline_registry.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

TEST COMMIT NO MERGE
  README.md
Owners: @everycure-org/core-maintainers

Generate KG versions from globals.yml via SQL
  services/kg_dashboard/.gitignore
  services/kg_dashboard/Makefile
  services/kg_dashboard/package-lock.json
  services/kg_dashboard/package.json
  services/kg_dashboard/pages/Knowledge Graphs/[knowledge_graph].md
  services/kg_dashboard/pages/Knowledge Graphs/index.md
  services/kg_dashboard/pages/index.md
  services/kg_dashboard/scripts/generate-release-sql.cjs
Owners: @everycure-org/core-maintainers

ATC label code
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_llm_tags/drug_atc_codes.py
Owners: @everycure-org/core-maintainers

added release info json
  docs/src/releases/changelog_files/v0.13.9_info.json
Owners: @everycure-org/code-reviewers

Add or update releases_aggregated.yaml
  docs/src/releases/changelog_files/releases_aggregated.yaml
Owners: @everycure-org/code-reviewers

Fix RTX-KG2 naming mismatch between globals.yml and BigQuery
  services/kg_dashboard/scripts/generate-release-sql.cjs
  services/kg_dashboard/sources/bq/kg_list.sql
  services/kg_dashboard/sources/bq/kg_summary.sql
Owners: @everycure-org/core-maintainers

Update Kedro pipeline links for LLM-generated tags
  docs/src/pipeline/data/drug_disease_lists.md
Owners: @everycure-org/code-reviewers

Remove disease list columns from mondo_disease pipeline that are not needed
  pipelines/core_entities/conf/base/disease_mondo/catalog.yml
  pipelines/core_entities/conf/test/disease_mondo/catalog.yml
  pipelines/core_entities/data/test/01_raw/disease_mondo/disease-llm-tags-test.tsv
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/queries.py
Owners: @everycure-org/core-maintainers

Remove related projects section from README
  README.md
Owners: @everycure-org/core-maintainers

Add LongType and FloatType support to Pandera validator type mapping
  libs/matrix-pandera/src/matrix_pandera/validator.py
Owners: @everycure-org/core-maintainers

Add smiles and drugbank id
  pipelines/core_entities/src/core_entities/pipelines/drug_list/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/drug_list/pipeline.py
Owners: @everycure-org/core-maintainers

Remove unnecessary columns from Mondo list (#2044)
  README.md
  docs/src/pipeline/data/drug_disease_lists.md
  pipelines/core_entities/conf/base/disease_mondo/catalog.yml
  pipelines/core_entities/conf/test/disease_mondo/catalog.yml
  pipelines/core_entities/data/test/01_raw/disease_mondo/disease-llm-tags-test.tsv
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/nodes.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/pipeline.py
  pipelines/core_entities/src/core_entities/pipelines/disease_mondo/queries.py
Owners: @everycure-org/core-maintainers, @everycure-org/code-reviewers

Add hotfix for llm token
  pipelines/core_entities/src/core_entities/pipelines/disease_llm_tags/nodes.py
Owners: @everycure-org/core-maintainers
